{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estji">Introduction</a><br>
<br><a href="estjs">Strengths & Weakness</a><br>
<br><a href="estjc">Career</a><br>
<br><a href="estjw">Workplace Habits</a><br>
<br><a href="estjr">Romance</a><br>
<br><a href="estjf">Friendship</a><br>
<br><a href="estjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Parenthood</h1>
<p>Executives’ mantra of “hard work, tradition, respect” is best exemplified in their relationships with their children. In many ways, people with the Executive personality type are the classic 50’s era father figure – very strict, and guardians of family traditions who have no trouble when it comes to enforcing the rules and standards they’ve established. Often seen as model citizens, Executives expect their children to carry that image, continuing the example they’ve set by being polite and respectful – insubordination is not tolerated.</p>
<p>This view is of course extended to their children, and as soon as they are able, their children are expected to contribute in their own way, by cleaning their plates and their rooms and going to bed on time – by maintaining the order of things.
 
This inflexibility can become a challenge as their children grow into their more naturally rebellious adolescent years. Executives defend their own, and their relationships with their children are no different, but they expect their children to adhere to the structures they’ve put in place to ensure that protection. Executives enjoy creating secure, stable environments, and consider it an affront to have those considerations rejected – again, insubordination is not tolerated.</p>
<p>It’s not that they have wild, high-flying hopes of perfection for their children – Executives are down-to-earth people and simply want to see their children develop into respected, responsible adults. But Executive personalities also want their children to be strong-willed and capable, and that is something that can only happen when they have the chance to make their own decisions, and the chance to face the consequences of those decisions, good or bad, with the love and support of their parents.</p>
<br><h3>I’ve Got Big Shoes to Fill</h3>
<p>They may face challenges as their children learn to balance a growing desire for independence with the respect and adherence to their duties required of them, but Executives do have a clear advantage of consistency and direct honesty that never leaves their expectations ambiguous. It can be a tall order, but Executives’ children always know what they need to bring, and most will recognize and appreciate the dedication and hard work their parents brought in return.</p>


{%endblock%}





