{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estji">Introduction</a><br>
<br><a href="estjs">Strengths & Weakness</a><br>
<br><a href="estjc">Career</a><br>
<br><a href="estjw">Workplace Habits</a><br>
<br><a href="estjr">Romance</a><br>
<br><a href="estjf">Friendship</a><br>
<br><a href="estjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1>
<p>Executives are fairly unique in that their relationships don’t really change as they progress from the dating phase into more steady, long-term relationships and further into marriage. Because they value honesty and straightforwardness so highly, people with the Executive personality type are likely to be clear about who they are, what they’re like and what their goals are from the start, and to stick to those statements long-term. So long as their partner is able to take them at their word and follow suit, they are bound to be extremely stable relationships.</p><br>
 
<h3>This Is the Chance to Do Something</h3>
<p>This isn’t to say that there isn’t any growth of course – character development is always a high priority for Executives, and each life goal is important. Rather, it’s that shifting moods, goals and desires are unlikely to fundamentally alter the basis of Executives’ relationships. </p>
<p>This may all sound a little stale, and indeed Executives are not spontaneous or unpredictable people, but they do very much enjoy taking their partners out and having fun. Social events and activities are Executives’ idea of a good time, and while they may rely on familiar people and places, they do bring lots of energy and enthusiasm, which helps keep things interesting. </p>
<p>Executives approach intimacy with similarly physical, active intentions, and from fairly traditional ones as well. Wild ideas and poetry are for less mature personalities, or so Executives might say, though they do appreciate recognition and well-placed compliments to maintain high self-esteem. They may look for more stability in their sex lives than most, but Executives never fail to bring their characteristic vigor.</p>
<p>This hints at a challenge in Executives’ relationships though, and that is emotional intimacy. Touchy-feely moments are few, as are verbal statements of love; this is usually fine, as Executive personalities find other, more tangible ways to express their affection. The problem is in recognizing the validity of those qualities in others, rather than simply dismissing them as pointless or irrational, something that can be extremely hurtful if Executives’ partners are more sensitive.</p><br>
<h3>Pay the Price to Secure the Blessing</h3>
<p>Executives address conflict head-on with simple statements of fact – a very rational approach – but subtlety and emotional tact are sacrificed in the process. While Executives’ level-headed, calm approach is appreciated by many, for others it is an uncomfortably direct approach. For all their social skills, Executives are especially bad at reading the emotional side of other people, and when it comes to their partners, it’s more important than ever to try to improve.</p>
<p>Executives are people of strong principles and strong self-confidence. They use these qualities to protect their partners with admirable consistency. But people with the Executive personality type are also stubborn, with a firm belief in their rightness, and they can quickly damage more sensitive partners’ fragile feelings. With this in mind, it is often best for Executives to find fellow Observant (S) partners in order to minimize communication barriers, with one or two opposing traits to balance their forceful character and provide opportunities for growth.</p>


{%endblock%}





