{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estji">Introduction</a><br>
<br><a href="estjs">Strengths & Weakness</a><br>
<br><a href="estjc">Career</a><br>
<br><a href="estjw">Workplace Habits</a><br>
<br><a href="estjr">Romance</a><br>
<br><a href="estjf">Friendship</a><br>
<br><a href="estjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>Executives show clear and consistent tendencies, and these are especially visible in the workplace. Whether subordinates, among colleagues or as managers, people with the Executive personality type create order, follow the rules, and work to ensure that their work and the work of those around them is completed to the highest standards. Cutting corners and shirking responsibility are the quickest ways to lose Executives’ respect.</p>
 
<br><h3>Executive Subordinates</h3>
<p>Executives are hard-working and do things by the book. Though sometimes stubborn and inflexible, especially when presented with ideas that haven’t been fully developed, Executive personalities are open to new methods that can be demonstrated to be better. However, Executives are unlikely to do much experimenting on their own – adhering to stated responsibilities and fulfilling their duties is their primary concern.</p>
<p>Executives are also well-known for their loyalty and dedication, but in some ways this is contingent on their respect. People with this personality type are willing to voice their opinions, especially in deciding what is and is not acceptable – if provided with sensible responses that address their concerns, they are often satisfied with that. If Executives view their managers as illogical, dishonest or cowardly in their methods, they can be uncomfortably honest, if still calm and level, in voicing their opinions on that as well.</p>
<br><h3>Executive Colleagues</h3>
<p>Executives enjoy the hustle and bustle of well-organized workplaces. Honest, friendly and down-to-earth, Executive personalities are great networkers who enjoy connecting with others to get things done. Abusing this for advancement is unlikely, and is in fact something Executives frown upon. Shortcuts are irresponsible, and people with the Executive personality type lose respect quickly for those who try to push forward by showing off or promoting bold but risky ideas, making relationships with more inspiration-oriented colleagues a challenge.</p>
<p>Executives like to feel like they are a part of the team, and a part of the greater organization that they work for. To make sure this happens, Executives are nearly always willing to accept criticism that can help to improve their effectiveness, and always keep an eye on their surroundings to make sure they and their team deliver the results that are expected of them.</p>
<br><h3>Executive Managers</h3>
<p>Executives take genuine pleasure in organizing others into effective teams, and as managers they have no better opportunity to do so. While sometimes overbearing, even micromanaging, Executives’ strong wills also serve to defend their teams and principles against diversions and cutbacks, regardless of who brings them. Laziness and bad work ethic are not tolerated by Executives under any circumstances.</p>
<p>Executives project natural authority, but they sometimes expect this authority to be abided unconditionally, resisting change and demanding that things be done by the book. Whether Executives’ own book or the existing rules and traditions are used is subject to circumstances, but they do tend to rest on the security of tradition and precedent. Regardless, Executives’ expectations are clearly expressed, leaving little room or tolerance for deviation from the agenda.</p>


{%endblock%}





