{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estji">Introduction</a><br>
<br><a href="estjs">Strengths & Weakness</a><br>
<br><a href="estjc">Career</a><br>
<br><a href="estjw">Workplace Habits</a><br>
<br><a href="estjr">Romance</a><br>
<br><a href="estjf">Friendship</a><br>
<br><a href="estjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Friendships</h1>
<p>Executives are strong, traditional friends who appreciate loyalty and shared values. Friendships with the Executive personality type are often defined by their mutual activities and routines, by external factors, more so than the sense of intellectual or mystical compatibility that many Analyst and Diplomat personalities share among themselves. But this in no way diminishes the relationships – Executives’ friendships of dependability and mutual interest can be powerful connections that endure life’s changes with immutable constancy. </p>
<br><h3>There Is No Pleasure in Having Nothing to Do...</h3>
<p>Among their established friends, Executives show themselves to be outgoing and enthusiastic, always more than happy to bring others along for some healthy sport and outdoor activity. Executives sometimes get a little overbearing in their push for participation, but it’s just because they want everyone to have a good time. Executives’ friends are never short on invites to social activities and events, from tickets to a local ball game, to a weekend camping trip, to Sunday BBQ. </p>
 
<p>Executives seek strong friendships founded on trust and loyalty (though loyalty to family does come first). Active and with quick minds, people with the Executive personality type can’t ever be accused of not doing enough to fend off a little boredom. While Executives may not always be the life of the party, they know how to play their part in making sure their friends have a good time.</p>
<p>The way Executives establish and maintain their friendships does limit the pool though, as they tend to seek out people who are similar to themselves, who share their respect for traditions and institutions. Executive personalities are naturally stubborn, and it can be hard for them to find enough common ground with people who constantly disagree with their principles and beliefs to really form those ties of friendship.</p>
<br><h3>...The Fun Is in Having Lots to Do and Not Doing It</h3>
<p>Executives’ challenge in friendship isn’t about finding fun things to do or people to do them with, but in finding diversity in their friends and activities. For all their community participation, Executives struggle immensely in even fully listening to differing opinions, let alone befriending people who consistently express alternate viewpoints. Whether about local political issues or the validity of a more emotional, idealistic disposition than they think is reasonable, Executives should make an effort to truly understand these alternate viewpoints. </p>
<p>Exposing themselves to new ideas among acquaintances who think differently can do no harm – either people with the Executive personality type discover better ways and a stronger foundation, or they gain all the more confidence in their beliefs for having successfully defended them. Just as Executives may think those loners who spend their lives in their basements playing video games need to get out more, Executives themselves need to make sure they get out of their own bubbles of unchallenged opinions and beliefs.</p>


{%endblock%}





