{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entji">Introduction</a><br>
<br><a href="entjs">Strengths & Weakness</a><br>
<br><a href="entjc">Career</a><br>
<br><a href="entjw">Workplace Habits</a><br>
<br><a href="entjr">Romance</a><br>
<br><a href="entjf">Friendship</a><br>
<br><a href="entjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Parenthood</h1>
<p> Often, given their strong will and critical nature, it is challenging enough to spend a great deal of time with Commanders by choice, as in friendships and romance – to be with them by default, as in the parent-child relationship, can border on the impossible. This by no means suggests that people with the Commander personality type are bad parents – far from it – simply that their relationships with children, who are typically more sensitive and less able to conduct truly rational analysis, require a great deal more emotional tact and personal liberty than they are accustomed to giving.</p>
<p> But Commanders are always up for a challenge, and will take their roles as parents seriously and with the utmost sense of personal responsibility. Holding themselves to a higher standard than most, Commander personalities see the success of their children as a reflection of those personal standards, and want nothing more than to see them grow into smart, independent people who strive to achieve their goals. Establishing specific moral values is less important to Commanders than the cultivation of the intellect and independent, rational thought.</p>
 

<br><h3> Rules Need Not Be Sacred</h3>
<p> Commanders welcome differences of opinion, and this is true with their children as well. But while gladly having rational, well-thought-out discussions about roles and responsibilities, at the end of the day Commanders expect their authority to be respected. A disagreement is no excuse for shirking established responsibilities, and Commander parents can be utterly uncompromising in maintaining this structure. This strictness can be a tremendous source of tension in the household – a little flexibility can go a long way.</p>
<p> When these debates devolve into emotional appeals is when Commander parents run into real trouble, as their persistent weakness with emotional tolerance makes dealing with growing children, especially adolescents, their most significant challenge. As in their other relationships, Commander parents should strive to strengthen this skill – often enough young children don’t have the words to express their needs rationally, and adolescents don’t have the patience for it, a perfectly natural condition.</p>
<br><h3>A Rendezvous With Destiny</h3>
<p>Commander parents should remember that a part of developing that necessary sense of independence is being able to control one’s own schedule and activities, to chart one’s own course, at least to a certain extent. People with the Commander personality type will spare no effort for their children, but it’s sometimes the case that taking a deep breath and loosening their structures as their children grow and mature does more to achieve their goal of raising capable, intelligent adults than forced extracurriculars ever could.</p>

{%endblock%}





