{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entji">Introduction</a><br>
<br><a href="entjs">Strengths & Weakness</a><br>
<br><a href="entjc">Career</a><br>
<br><a href="entjw">Workplace Habits</a><br>
<br><a href="entjr">Romance</a><br>
<br><a href="entjf">Friendship</a><br>
<br><a href="entjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1>
<p>It is in the world of careers that Commanders’ boldness and drive are truly at their best. No other personality type is better suited than Commanders to be the respected leader of an organization or team, and no other personality type enjoys it quite so much. Combining their vision, intelligence and determination to push ideas through to completion no matter the obstacles, Commanders are a force to be reckoned with.</p>
 
<br><h3>We All Go Up, or We All Go Down</h3><br>
<p>In the world of business, the sometimes overbearing level of self-confidence that Commanders (especially Assertive ones) too often mishandle in their personal relationships is transformed into an admirable authority, keeping people on track and getting things done. Naturally the best careers for people with the Commander personality type make the fullest use of these qualities, and many would describe executive positions and entrepreneurialism to be ideal lines of work – any position high enough that they can clearly see the horizon.</p>
<p>Structure and order are key, and if someone gets sloppy, or holds things back with incompetence, laziness or inefficiency, Commanders will not hesitate to come down, hard. Commander personalities pursue their goals with singular vision, and have strict standards for themselves and others that are designed above all else to be effective. This makes Commanders excellent corporate strategists, and their objectivity and clarity of thought make them respected lawyers and judges.</p>
<p>None of this could work if no one could understand what Commanders were thinking, and they have the good fortune of being clear and concise communicators, especially in person, making business administration a comfortable fit – so long as their tasks don’t stray too far into routine maintenance and upkeep. Commanders also have a thirst for knowledge, and they aren’t afraid to use a principle once they’ve grasped its underlying mechanisms. Combining this with their leadership makes Commanders trying, but effective, university professors.</p>
<br><h3>We Are Still in the Making</h3>
<p>The only problem is, it takes time for Commanders’ skills to be recognized, and stagnating as low-level employees will have them bouncing off the walls and deeply unhappy. People with the Commander personality type crave leadership and responsibility, growth and opportunity, and genuinely enjoy managing others to get a job done. Commanders are visionaries and leaders, not grunts or day-to-day administrators. Getting that to be recognized is not always easy, but Commanders are probably up to the task.</p>
<br><b>Project Manager</b>

<p>To successfully launch a large project with all hands on deck, there has to be someone in charge of organizing and supervising every aspect; from the tiniest details to the big picture view. That’s where the ENTJ comes in. Project managers organize timelines, check budgets, and hold meetings with their team members to keep up-to-date on the latest developments and setbacks. Excellent leadership and both written and verbal communication skills are essential to the job.</p>
<br><b> Financial Analyst</b>

<p>Financial Analysts require strategic thinking and are responsible for financial planning, analysis, and projection for companies and corporations, an excellent path for an ENTJ. The ability to effectively communicate complex financial information in a clear, concise way is a vital attribute of the financial analyst, and one that will fit with the straight-forward ENTJ personality</p>
<br><b>Network Administrator</b>

<p>It’s the job of the network administrator is support and secure the local and wide area networks. The internet plays a crucial role in the success of businesses and organizations, so the ENTJ who is ready to take charge and perform all necessary monitoring and maintenance for the network is invaluable. The network administrator is also in charge of supervising and leading support teams to keep the network running.</p>
<br><b> Construction Manager</b>

<p>The construction manager is organized and strategic in their thinking and serves as the one who is responsible for hiring their construction team. In this role, the ENTJ will be in charge of everything from ordering materials to maintenance tool issues. The construction manager is the one who makes sure every detail of the project is completed and inspected.</p>
<br><b>Surveyors</b>

<p>Have a love of the outdoors? Then this is the job for an ENTJ. Surveyors spend the majority of their time outside taking measurements. This is called fieldwork. (Perfect for a Fieldmarshal.) Surveyors are utilized to make precise and accurate measurements of land to determine property boundaries for a variety of projects. The data they provide is used in construction and engineering projects. They research land records and survey records and land titles to pinpoint the exact boundary lines of real estate and other properties.</p>
<br><b>Civil Engineer</b>

<p>Civil engineers are the ultimate planners. They oversee the projects that create roads, buildings, pipelines, and dams. The ENTJ personality is already putting on their hardhat for this one. Being in charge of designing and creating large scale plans takes a leader who can happily map out the logistics and mathematics to solve engineering challenges.</p>
<br><b>Auditor</b>
<p>Auditors are not what one would typically think of when placing an ENTJ personality. A closer look at the finer details of the role shines a light on the strengths that the ENTJ can bring to the table. The auditor job requires analyzing financial information, catching fraudulent activity, and matching statements and records to ensure that an accurate account is being presented. It takes a level of commitment to detailed problem-solving and hunting that gives the persistent ENTJ an edge over the competition.</p>
<br><b> Management Consultant</b>

<p>Becoming a management consultant is the best of all worlds for an ENTJ. They get to lead multiple groups and pass on their skills while problem-solving new strategies for the companies who hire them as a consultant. The management consultant gives solid advice and expert feedback to help their clients find the best solutions possible. It’s the ENTJ dream gig.</p>
<br>
{%endblock%}





