{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entji">Introduction</a><br>
<br><a href="entjs">Strengths & Weakness</a><br>
<br><a href="entjc">Career</a><br>
<br><a href="entjw">Workplace Habits</a><br>
<br><a href="entjr">Romance</a><br>
<br><a href="entjf">Friendship</a><br>
<br><a href="entjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>For people with the Commander personality type, the workplace is all but a natural habitat. Commanders’ efficiency and clear communication are valued, their leadership is admired, and their ability to simply get things done is unrivaled. That being said, some situations are more appropriate for Commanders than others – these qualities all point to a managerial or executive role, making any position of comparative powerlessness highly undesirable.</p>
<br><h3>Commander Subordinates</h3>
<p>Subordinate positions are challenging for Commanders, and it takes active management to ensure their satisfaction and engagement. Ever the high achievers, Commander subordinates set out to learn new skills and to seek out new challenges and responsibilities, eager to prove that nothing is impossible with a little hard work. If things get a little slow, Commander personalities may slip into periods of absentmindedness, but when they feel involved in the projects around them, they prove well organized and well prioritized.</p>
<p>Commanders hold themselves to very high standards, but a lot of what sets this tone is feedback from their environment – namely, criticism from their managers. Objective, rational statements about what is done right and what can be done better are helpful to Commanders, and far from resenting such criticisms, they appreciate them. Opportunities for growth keep people with the Commander personality type engaged and productive, and so long as their managers recognize this as their primary responsibility, it will be a fruitful and satisfying relationship.</p>
<br><h3>Commander Colleagues</h3>
<p>Among colleagues, Commanders are sociable and greatly enjoy sharing ideas and critiques in their frequent brainstorming sessions. Natural leaders that they are, Commanders tend to assert themselves into positions as representatives and project leads, considering their objectivity and charisma the perfect qualities for these roles. Commander personalities enjoy working with equals, but people must demonstrate that they are equals – anyone Commanders view as being less competent or driven will see only condescension and arrogance.</p>
 
<p>Commanders are strong-willed, even dominant, and though they enjoy inspiring and tutoring others, the energy they bring to the process can seem overbearing. When these roles are reversed, Commanders’ mentors should bear in mind that their students are very rational and respect firm confidence – hand-holding, emotional appeals or wavering indecision will likely burn the bridge then and there. In a partnership, what is best is what is most effective, and time wasted sugarcoating reality is just that – time wasted.</p>
<br><h3>Commander Managers</h3>
<p>Commander managers are confident, charismatic communicators, and they communicate but one vision: to get the job done as efficiently as possible, and to the highest standard of quality. All else is subordinate to that objective, but the means by which Commanders achieve it cause others to adopt this cause as their own. Commanders are natural leaders, and their ability to formulate a strategy and to identify the strengths of each member of their teams, incorporating those abilities into their plans so that each individual fills a unique and important role, makes them able motivators.</p>
<p>But while these efforts boost morale and satisfaction among Commanders’ likeminded subordinates, they are still crafted to achieve that ultimate goal of timely and exceptional work. Those seen as inefficient by their Commander managers, or who demonstrate themselves to be lazy or to produce shoddy work will know in no uncertain terms of their failure to impress. The only way to recover is to comply, the only alternative is to find a new manager to impress, somewhere else.</p>

{%endblock%}





