{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entji">Introduction</a><br>
<br><a href="entjs">Strengths & Weakness</a><br>
<br><a href="entjc">Career</a><br>
<br><a href="entjw">Workplace Habits</a><br>
<br><a href="entjr">Romance</a><br>
<br><a href="entjf">Friendship</a><br>
<br><a href="entjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1>
<p> As in other areas of their lives, Commanders approach dating and relationships with a set of goals and a plan to achieve them, and proceed to do so with impressive energy and enthusiasm. People with the Commander personality type are in it to win, and will gladly take leading roles in relationships from the start, assuming personal responsibility for how smoothly things go and working actively to ensure a mutually rewarding experience. Romantic relationships are a serious business, and Commanders are in it for the long haul.</p>
 
<br><h3> We Cannot Succeed Unless, When We Choose, We Choose Wisely</h3>
<p> This sense of personal responsibility means that Commanders put a lot of energy into their relationships, and they show their creativity by always having something new on the agenda to keep things interesting, especially in the dating phase. At the same time though, Commander personalities keep their eyes on the long term, and if they determine that a relationship is heading towards a dead end, they will cut their losses and move on in what will seem to their partner an abrupt end to the attention they had been receiving.</p>
 
<p>This occasional ruthlessness with personal relationships is Commanders’ primary weakness, and if they aren’t careful they can develop quite the reputation. Sensing others’ feelings and emotions will never be a comfortable skill for Commanders, but it is critical that they work consciously to develop it, both for their partners’ sake and for their own healthy emotional expression. If they don’t, they risk dominating and overruling their partners, and this insensitivity can easily break a relationship, especially early on.</p>
<br><h3> Confidence Thrives on Unselfish Performance</h3>
<p>But as all goes well in the dating phase and a future is deemed viable, people with the Commander personality type continue to impress with their creativity and energy. Their authentic confidence makes Commanders’ sex life dynamic to say the least, and they often push to explore new ways to express their affection with imaginative enthusiasm. Yet Commanders tend to have these innovations planned in advance, with some structure and predictability to their sex lives, leaving the true spontaneity to those less organized personality types.</p>
<p>Commanders are extremely growth-oriented, and will seize any opportunity to improve themselves, listening to and acting on criticisms, so long as they are logical ones, and always striving to improve their knowledge. At the same time, Commanders expect this of their partners, and it is surprising to them that others don’t always share this attitude. Still more surprising to Commander personalities is others’ active efforts to avoid these tense situations.</p>
<p>Commanders in particular would do well to remember that their approach is just one angle of a multi-faceted spectrum of alternatives. While Commanders may view criticism as the most efficient route (and they’re often right), they should bear in mind that their partners may be more interested in emotional support and growth, an area of self-improvement that Commanders themselves too often avoid.</p>
<p>As with other Analyst types, Commanders’ best matches are with other Intuitive (N) types, with one or two opposing traits to create more balance in the relationship. Mature Commanders are able to recognize and adapt to the needs of their partners, and know that even the most rational individuals have emotional needs that must be met. Fortunately the same logic that dismisses emotions is also able to recognize that a conciliatory attitude can be the best tool to get the job done. With their strong senses of responsibility and dedication, people with the Commander personality type are sure to make this effort, resulting in long-lasting, satisfying relationships.</p>

{%endblock%}





