{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istji">Introduction</a><br>
<br><a href="istjs">Strengths & Weakness</a><br>
<br><a href="istjc">Career</a><br>
<br><a href="istjw">Workplace Habits</a><br>
<br><a href="istjr">Romance</a><br>
<br><a href="istjf">Friendship</a><br>
<br><a href="istjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths</h1> 

<p>While many personality types may be comfortable with flexible work as consultants and sole proprietors, Logisticians are much more focused on building long-term, stable careers. That’s not to say that Logisticians can’t do that sort of work – many find themselves thinking about what’s on the other side of those cubical walls – but what they crave is dependability, and that is reflected in their choice of work perhaps more so than in any other part of their lives.</p> 

<h2>Have No Other View Than to Promote the Public Good</h2> 

<p>The facts support this, as the most common careers among people with the Logistician personality type revolve around institutions of respected tradition, authority, security, and established consistency. Careers as military officers, lawyers, judges, police officers and detectives are all very popular among Logisticians. This makes sense, as they not only offer the stability that Logisticians seek, but are in line with their principles and conservatism, establishing clear societal roles.</p> 

 <p>Logisticians of course aren’t limited to these organizations – there are many other roles that utilize their reliability, objectivity and sharp eyes. When facts and logic are out of place, Logistician personalities swoop in as the accountants, auditors, data analysts, financial managers, business administrators and even doctors that identify, report and correct the issues at hand.</p> 

<p>Most of these careers have Logisticians working alone, which is usually their preference, but when teams are necessary, they are best defined by clearly outlined roles, responsibilities and work environments.</p> 

<p>Logisticians have strong opinions about how things should be done, and if things are shuffled too often, people with this personality type can become surprisingly vocal about their opposition. It’s important for Logisticians to remember that even the most traditional and stable career paths can and need to change as time goes by. It is much better to accept this with grace than to develop reputations of being enemies of new ideas.</p> 

<h2>Business Discourse Should Be Short and Comprehensive</h2>

 <p>Logisticians may also struggle with the increasingly open and social requirements of modern work life. Being somewhat bad at sensing others feelings, Logisticians’ “just the facts” attitude can be downright alienating when it comes to more sensitive personality types. This applies not just to coworkers but to customers as well – service positions like retail sales and waiting tables, as well as more emotionally demanding careers such as psychiatry are, generally speaking, a terrible fit.</p> 

<p>The ideal career paths feature a trend: they place facts above feelings and allow Logisticians to uphold the hard standards that are the backbone of society. Rules are the basis for everything people take for granted about modern life, from the social contract that smooths relationships, to the laws that protect peoples’ most basic safety, to the constitutions and treaties that govern nations. People with the Logistician personality type take on roles as the defenders of these ideas, in big ways and small, and are rightfully proud of it.</p> 





<b> Bank Tellers</b>
<p>An ISTJs methodical nature and attention to detail make the role of bank teller a good fit. Bank tellers handle most transactions, and they are often the first to notice and stop frauds, like counterfeit money or identity theft. A bank teller must have a sharp mind and complete honesty. As bank tellers, ISTJs are responsible for handling customer financial transactions like deposits, withdrawals, transfers, money orders, and checks. They must be well versed in the bank’s systems and policies. </p><br>

<b> Property Manager</b> 
<p>Property managers may work in commercial, industrial, or residential real estate. Fair and direct ISTJs are suited for managing and inspecting duties. Property managers usually collect rent. Property managers find tenants, inspect properties, collect rent, and arrange maintenance work. It’s a job that involves planning, directing, and coordinating, all tasks that come easily to an ISTJ. </p><br>

<b>  Business Analyst</b> 
<p>ISTJs have an affinity for order, and becoming a business analyst might be a smart career path. A business analyst works to strategically plan, organize, define, identify, and interpret opportunities for improvement in a business, system, or process. They analyze information in business, data, research, and finance to integrate a better model or process to facilitate greater returns and smoother operations. </p><br>

<b> Logistics</b> 
<p>Logistic jobs require an organized individual to coordinate and track product shipping and distribution. They coordinate purchasing, warehousing, distribution, forecasting, customer service, or planning services. ISTJs have an ideal personality type to follow the existing logistics systems and direct a company’s daily operations. </p><br>

<b>  CPA</b> 
<p>A Certified Public Accountant (CPA) job is well-suited to the organized thinking of an ISTJ personality. It’s a stable career that is always in demand. CPAs may play the role of accountant, business consultant, and financial auditor. They can handle any number of financial services, from corporate finance to tax preparation. </p><br>

<b>  Civil Engineer</b> 
<p>Civil engineering, which requires practicality and decision-making abilities make a good career for an ISTJ. Civil engineers work on a wide variety of projects from irrigation, to power plants, to railroads. ISTJs honesty and attention to detail are necessary to work on such vital infrastructure. </p><br>

<b>  Business Manager</b> 
<p>One of the most common traits associated with ISTJs is their appreciation for structure and organization. They follow guidelines because the guidelines have proven to be effective. A job as a business manager, which requires all these traits, is a good career choice for an ISTJ. In charge of the organization’s day-to-day operations, business managers supervise work and ensure the company policies are met. They closely monitor the efficiency of business operations and uphold company standards. </p><br>

<b>  Dentist</b> 
<p>A career as a dentist is a good match for an ISTJ. The orderly work environment and high job security make it appealing to this personality type. They can work mostly independently. Dentists examine teeth, diagnose dental problems, and improve their patients’ health. They also give x-rays, check their patients for gingivitis or other oral diseases, and educate patients on good oral hygiene habits. </p><br>



{%endblock%}
