{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istji">Introduction</a><br>
<br><a href="istjs">Strengths & Weakness</a><br>
<br><a href="istjc">Career</a><br>
<br><a href="istjw">Workplace Habits</a><br>
<br><a href="istjr">Romance</a><br>
<br><a href="istjf">Friendship</a><br>
<br><a href="istjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>

<p>Logistician friends are not spontaneous. They are not talkative, or particularly playful in their affection. What Logistician friends are is loyal, trustworthy, honorable and dependable. Others may come and go with the ups and downs of life, but Logisticians stay by their friends’ sides no matter what, with a deepness of commitment that other types may not even believe is possible.</p> <br><br>

<h2>True Friendship Is a Plant of Slow Growth</h2> <br>

<p>Logisticians are a very methodical personality type, and this loyalty isn’t given away lightly. Often slow to make friends, Logisticians usually end up with a smaller circle, but they consider that circle to represent a promise to be there for the people they care about, and Logisticians’ promises are not easily broken.</p> <br>

<p>Expressing emotional affection isn’t one of Logisticians’ stronger skills, but they nevertheless find ways to show it. As Socrates said, “To be is to do”, and Logisticians’ follow-through, their willingness to take action as a show of support, stands in for their words.</p><br>

 <p>But all of this sounds terribly serious, and indeed it only shows the one side of Logisticians and their approach to their friendships. The other side knows how to stop being quite so staid, and especially in the company of joyful and talkative Extraverts (E), Logisticians enjoy relaxing and having fun with a good discussion about work, life, and current events.</p><br>

 <p>People with the Logistician personality type don’t like conflict, and this applies to how they select their friends as well. Seeking out friends with similar principles and opinions, Logisticians most often befriend other Sentinels personalities, who are likely to share their perspective and world vision. While they are unlikely to become friends with substantially different types – it simply takes too much energy to bridge the communication gap – Logistician personalities still recognize and appreciate others’ strengths and qualities.</p><br><br>

 <h2>Knowledge Is the Surest Basis of Happiness</h2> <br>

<p>In fact, as if to prove the point, Logisticians almost always have at least one Intuitive (N) friend in their inner circle, despite the disconnect the two perspectives bring. These are very much relationships built not on mutual understanding, but out of respect for their mutual differences. Logisticians marvel at Intuitives’ breadth of thought, being very much in tune with their own intelligence, while Intuitives admire Logisticians’ realism and dependability, something they are often hard-pressed to find in themselves. Knowledge, as always, is the great equalizer.</p> 

{%endblock%}
