{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istji">Introduction</a><br>
<br><a href="istjs">Strengths & Weakness</a><br>
<br><a href="istjc">Career</a><br>
<br><a href="istjw">Workplace Habits</a><br>
<br><a href="istjr">Romance</a><br>
<br><a href="istjf">Friendship</a><br>
<br><a href="istjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1> <br>

<p>When it comes to the workplace, Logisticians are almost a stereotype for the classic hard-working, dutiful employee. In all positions, the Logistician personality type seeks structure, clearly defined rules, and respect for authority and hierarchy. Responsibilities aren’t burdens to Logisticians, they are the trust that has been placed in them, an opportunity to prove once again that they are the right person for the job.</p> <br>

<p>On the other hand, the change that comes with assuming those new responsibilities, or in losing old ones, is often a significant struggle for Logisticians. This presents itself differently in different positions of authority, but it is one of Logisticians’ most significant challenges to overcome. The usual insensitivity common to all Thinking (T) types is also a running theme here, something many people with the Logistician personality type choose to focus on in their personal and professional development.</p><br><br>

 <h2>Logistician Subordinates</h2> <br>

<p>Logisticians crave responsibility, which makes them the go-to subordinates for odds and ends and unpopular projects. Often seen as jacks of all trades, Logistician personalities can competently tackle any project that comes with a manual. On the other hand, this makes them reluctant to give up responsibilities even when they are overburdened, or when there are better people for the job. The seriousness in Logisticians’ approach to their work makes them surprisingly sensitive to criticism, leading to a sometimes vexing level of inflexibility.</p><br>

 <p>Their stubbornness aside, or perhaps because of it, Logisticians are quite possibly one of the most productive subordinates – they respect authority and hierarchy, and have no problem following orders and instructions. Punctuality is unlikely to ever be an issue, either in terms of showing up to work on time, or in terms of meeting project deadlines. While Logisticians may need clearly set steps and well-defined responsibilities, they are exceptionally loyal, dedicated, meticulous and patient in completing their work.</p><br><br>

 <h2>Logistician Colleagues</h2> <br>

<p>Among colleagues, no one can be trusted more to ensure that projects are finished on time and by the book than Logisticians. Quiet and methodical, people with the Logistician personality type keep cool when the going gets tough, but expect their colleagues to share their approach. Significantly different types, especially more emotional ones, baffle Logisticians with their need for emotional support and openness, or capacity for dropping something, half finished. To Logisticians, either something’s been done right or it’s been done wrong, and sugarcoating it or walking away isn’t going to fix it.</p> <br>

<p>Logisticians value peace and security in the workplace, and the easiest way for this to happen is for them to simply work alone. Innovations, brainstorming, theories and new ideas all disrupt this comfortable state, and it takes a great deal of respect on Logisticians’ part to acknowledge their validity. Once the details have been laid out and a plan of implementation established though, Logisticians are an indispensable part of the team in putting these ideas into practice.</p> <br><br>

<h2>Logistician Managers</h2><br>


 <p>Logisticians love responsibility and the power resulting from it. Pressing themselves hard to meet their obligations, Logisticians regularly go above and beyond their duties, and expect their subordinates to act with the same level of dedication. At the same time, Logisticians’ preference for doing things by the book, adherence to hierarchy, and general aversion to innovation makes their subordinates ride a very thin line when they do – stepping out of bounds must be backed up with just the facts, and results.</p><br>

 <p>It is said that it is better to do first and ask permission later – it’s difficult to say whether this applies to Logisticians, as they are very intolerant of their subordinates’ failures to meet their obligations, and one of those obligations is to stick to the plan. Believing that truth, at least as far as they see it, is more important than sensitivity, Logistician personalities are capable of laying down hard criticism, and their willingness to make tough decisions can make perceived insubordination the final trespass.</p> <br>

{%endblock%}
