{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estpi">Introduction</a><br>
<br><a href="estps">Strengths & Weakness</a><br>
<br><a href="estpc">Career</a><br>
<br><a href="estpw">Workplace Habits</a><br>
<br><a href="estpr">Romance</a><br>
<br><a href="estpf">Friendship</a><br>
<br><a href="estpp">Parenthood</a><br>
{%endblock%}

{%block data%}

<h1>    Friendships </h1> <br>

<p>People with the Entrepreneur personality type are definitely the life of the party. With an enviable imagination and invigorating sense of spontaneity, Entrepreneurs are never boring. They love exploring interesting ideas, both in discussion and by going out and seeing for themselves, which means that Entrepreneurs always seem to have some fun activity hidden up their sleeves. At the same time, Entrepreneur personalities are easy-going, tolerant, and charming, making them naturally quite popular.</p><br><br>

 <h2>When I Have an Idea, I Turn Down the Flame...</h2> <br>

<p>Hands-on, physical activities like team sports are Entrepreneurs’ idea of fun, and these environments give them plenty of chances to make new friends. There is little difficulty for Entrepreneurs here – they seem to get along with just about everyone, and make new friends wherever they go. Entrepreneurs live in the moment, and as a naturally confident personality type (especially if they are Assertive as well), they don’t worry much about what others think of them. This attracts friends who share their attitude and zest for life.</p> <br>

<p>While not opposed to long philosophical discussions, and often enjoying the intellectual exercise, Entrepreneurs are unlikely to develop friendships based solely around one-on-one discussions about European economic challenges and the role of religion in politics. Straightforward to the point of being blunt, Entrepreneurs call it like they see it, and an honest opinion in debate is a sure thing. But at their hearts, Entrepreneurs are people of action, preferring to do what can be done than to talk about what might someday be.</p> <br><br>

<h2>...Eventually It Builds Up and Explodes – That’s My Idea</h2> <br>

<p>Exploration, excitement, adrenaline and risk – Entrepreneurs’ friends should be prepared for all of these things. Often enough they’re happy to perform for the crowd, but they also tend to encourage their friends to join in. Most personality types might take “thanks but no thanks” personally, but Entrepreneurs are comfortable with who they are, and are more likely to just shrug their shoulders and move on with those friends who are game for adventure.</p> 

{%endblock%}





