{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estpi">Introduction</a><br>
<br><a href="estps">Strengths & Weakness</a><br>
<br><a href="estpc">Career</a><br>
<br><a href="estpw">Workplace Habits</a><br>
<br><a href="estpr">Romance</a><br>
<br><a href="estpf">Friendship</a><br>
<br><a href="estpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Romantic Relationships</h1><br><br>
 <p>When it comes to romantic relationships, people with the Entrepreneur personality type can hardly be said to be pining away for their wedding day. Life is fun and full of surprises (something Entrepreneurs have particular skill in delivering), and they enjoy it all in the here and now. Entrepreneurs may not spend a lot of time planning for “someday”, but their enthusiasm and unpredictability make them thrilling dating partners.</p> 

<p>Entrepreneurs love new ideas and the occasional philosophical discussion – but they need to be topics that can explored through action together, not just idle talk. There’s musing about the causes and effects of epidemic obesity, and there’s training for a marathon together to promote healthy living.</p> <br>
<h2>As Good as Spring Itself</h2><br> 
<p>Sexually, Entrepreneurs have no real reservations. It’s fun, it’s physically enjoyable, new ideas are always welcome, and Entrepreneur personalities’ strong perception keeps them well-tuned to their partners’ needs. However, Entrepreneurs’ separation of the physical act from the more emotional and spiritual connections that many other types look for in intimacy can be a serious source of tension if everybody isn’t on the same page. Some types need sex to be a genuine expression of love – Entrepreneurs just aren’t one of them.</p> 
<p>As time passes, it can be challenging for Entrepreneurs to move their relationships to deeper, more emotionally intimate levels. Easily bored, people with the Entrepreneur personality type seek constant excitement – sometimes even intentionally exposing themselves to risk if they feel stuck. If their partners aren’t able to keep up, Entrepreneurs may just end up looking for someone new. It’s not that Entrepreneur personalities are unfaithful. Rather, they may think to themselves “This isn’t working, so why should I pretend it is?” Entrepreneurs are rational, and can exercise self-control if they choose, but being as charming and popular as they are, it can sometimes be a little too easy to move on.</p><br>
 <h2>Travel Only With Those You Love</h2><br>
 <p>As with any relationship, it takes work and patience. Not every day can be a thrill a minute. But Entrepreneurs are adaptable, curious individuals, which certainly helps to keep the flame burning. Maintaining healthy relationships is the ultimate chance for Entrepreneurs to exercise their talents in perceiving every change in their partners’ mood and behavior, while also using their problem-solving abilities to address their needs. Entrepreneurs can also strengthen more neglected traits, like emotional sensitivity and long-term planning.</p> 


{%endblock%}





