{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\estp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="estpi">Introduction</a><br>
<br><a href="estps">Strengths & Weakness</a><br>
<br><a href="estpc">Career</a><br>
<br><a href="estpw">Workplace Habits</a><br>
<br><a href="estpr">Romance</a><br>
<br><a href="estpf">Friendship</a><br>
<br><a href="estpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths </h1> <br>

<p>When it comes to Entrepreneurs’ career options, “action” is the word of the day. People with the Entrepreneur personality type think on their feet and are great at making quick decisions in the heat of the moment. At the same time, they’re affable people who always seem to make friends and connections wherever they go. Popularity and solid networking can be huge assets in the working world, and Entrepreneurs nail it.</p> <br>

 <p>This social intelligence, combined with Entrepreneurs’ natural boldness and improvisational skill, makes sales, business negotiations, marketing, even acting – any tense, competitive environment – a great fit. Entrepreneur personalities trust themselves to make the right call. Risks, big and small, are a part of life, and Entrepreneurs don’t sit around waiting for some boss at the top to tell them what to do. This can get Entrepreneurs into trouble, but often enough it’s exactly what’s needed, and can boost them up the career ladder just as well.</p> <br>

 <p>Restrictions, rules, highly structured environments – these are great ways to drive Entrepreneurs crazy. People with this personality type live life on their own terms, and this makes them brilliant business people and freelancers. These roles also allow them to delegate the more tedious aspects of work, the accounting, meticulous research and so forth, to those better suited.</p> <br>

<p>Entrepreneurs are curious, energetic people with a taste for action. There are those who analyze and manage the logistics of public safety resource distribution, and there are those who drive the ambulances, patrol the streets, and save lives with their own two hands – Entrepreneur personalities are the latter. They are highly observant yet impatient, enabling them to take in the whole of a situation at a glance, and act. Any emergency response role is great for Entrepreneurs, whether it be as paramedics, police officers, or soldiers.</p> <br><br>

<h2>There’s Nothing to It – Just Sit Down and Bleed Your Passion</h2> <br>

<p>This quality of living in the moment and craving immediate results for their efforts translates well into another field: sports. The thrill of competition, of pushing themselves to the physical limit to rack up just one more point for the win can have no comparison for Entrepreneurs. Whether they are on the field as athletes themselves, coaching from the sidelines or commentating from high above, people with the Entrepreneur personality type revel in well-honed team effort and a well-executed plan, and any of these positions makes a fine line of work for them.</p><br>

<b> Actor</b>
<p>Acting is a great career choice for ESTPs who love to be the center of attention. Creative ESTPs enjoy acting work because it enables them to experiment with a variety of roles and interact with a diverse group of people. Being an actor requires drive and ambition, which goes hand in hand with the competitive nature of ESTPs. </p><br>
<b> Business Development Officer</b>
<p>ESTPs are perceptive and socially intelligent, two qualities that are crucial for business development officers. Typically a management position, business development officers are responsible for growing the company through networking and strategic planning. Business development officers get to visit a variety of locations for their work, ensuring that ESTPs will not get bored or feel boxed in at this occupation. </p><br>
<b> Detective</b>
<p>Detective work is another career path that taps into the perceptive capabilities of ESTPs, as well as their critical thinking skills. Whether they work in a police department, as a private investigator, or even in retail and corporate environments, ESTPs can put their observant and inquiring minds to good use as a detective. </p><br>
<b> EMT (Emergency Medical Technician) </b>
<p>EMTs are often the first responders to accident scenes and disaster areas where they are greeted by panicked people in uncertain situations. This may be an excellent career for action-loving ESTPs. People’s’ lives can be saved by the ability of ESTPs to evaluate a situation and make snap decisions quickly. </p><br>
<b> Journalist</b>
<p>Journalism is a profession that rewards inquisitiveness and initiation. Furthermore, making contacts, finding sources, and interviewing people for stories is second nature for extroverted ESTP personality types. Their charm and talent for interpersonal communications is an asset. The flexibility to work anytime—as long as deadlines are met—makes journalism an excellent career path for ESTPs.
<b> Manager</b>
<p>ESTPs have a take-charge attitude that makes them natural leaders and great managers. The workplace habits of this personality type make them management material, particularly their ability to get others on board with their ideas. ESTPs excel at innovation and accomplishing goals. As a manager, the ESTP will lead others to achieve business outcomes. </p><br>
<b> Paramedic</b>
<p>Paramedics have more extensive training—and, therefore, more responsibility—than their EMT counterparts. Although they still provide emergency medical care, paramedics can perform more complex procedures and usually respond to life or death medical emergencies. A career as a paramedic is ideal for ESTPs. Because of their competitive nature, ESTPs are not afraid to push themselves, and their ability to think on their feet can save lives. </p><br>
<b> Police Officer</b>
<p>Police officers work out in the community to ensure the safety of residents and businesses. The job can be unpredictable and sometimes dangerous. ESTP personalities are well-suited to this career path, as tense situations do not phase them. Their practicality, adaptability, and improvisational abilities allow ESTPs to navigate even the toughest situations. </p><br>
<b> Producer</b>
<p>Producers are all about taking big ideas and making them a reality, whether for television, film, theater, music, or the video game industry. Enterprising ESTPs will find that a career as a producer utilizes every one of their talents—connecting people, working with a team, making plans and bringing them to fruition. </p><br>


<b> Writer</b>
<p>Career writers enjoy freedom from rules and the flexibility to do things their own way. There is such a wide variety of occupations for writers that ESTPs are sure to find a niche, whether in blogging, technical writing, copywriting, fiction, etc. The possibilities are endless. A career as a writer gives ESTPs the chance to test limits and push themselves creatively. </p><br>



{%endblock%}





