{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infji">Introduction</a><br>
<br><a href="infjs">Strengths & Weakness</a><br>
<br><a href="infjc">Career</a><br>
<br><a href="infjw">Workplace Habits</a><br>
<br><a href="infjr">Romance</a><br>
<br><a href="infjf">Friendship</a><br>
<br><a href="infjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1><br>

 <p>Advocates have pretty tall demands when it comes to a satisfying work environment. Not only do those with this personality type need to be able to express their creativity and insight, they also need to know that what they are doing has meaning. </p> <br>

<p>People with this personality type need to know that their work helps people and promotes their own personal growth. Their work must be in line with their values, principles, and beliefs all the way.</p> <p>Oftentimes, the best way for Advocate personalities to achieve this is not to have to answer to others’ rules at all. Instead, they should strive to be their own boss, neither above nor below anyone else, just directly interacting with the people and ideas that are important to them. </p>

<p>All that being said, Advocates are a clever and inspired group. With a few of the right conditions, almost any position can be made to work for them.</p> <br><br>

<h2>Advocate Subordinates</h2> <br>

<p>As subordinates, Advocates are likely to do poorly with strict rules, formal structures, and routine tasks. People with the Advocate personality type value cooperation and sensitivity. The more open-minded and personal their manager’s style is, and the more they feel their personal input is considered, the happier they’ll be.</p> 

<p>Advocates act on their convictions, so when they do something, it’s something that has meaning to them. If those actions come under criticism, especially the unwarranted kind, their morale is likely to tank spectacularly.</p><br>

 <p>A manager’s values need to be in line with the Advocate’s for both sides to work well together. Though usually idealistic, if their work environment does not line up with their values, people with the Advocate personality type can become angry and bitter. But if it’s a balance they can handle, with a little encouragement every now and then, Advocates will work hard and thrive. People with this personality type are more than capable of handling tasks and workplace relationships.</p> <br><br>

<h2>Advocate Colleagues</h2> <br>

<p>As colleagues, Advocate personalities are likely to become quite popular. They are likely to be seen as positive, eloquent, and capable friends. Among their greatest strengths is the ability to identify others’ motives and defuse conflicts and tension before anyone else even senses a disturbance. </p>

 <p>Advocates are likely to place more importance on working together over efficiency, encouraging hard work, and helping others when needed. While this is usually a strength, there is a risk that others will take advantage of Advocates’ desire to get things done. Coworkers may do this – on purpose or without realizing it – by shifting their tasks onto their more dedicated Advocate coworkers’ desks.</p><br>

 <p>It should also be remembered that, at the end of the day, Advocates are still Introverts, and this kind of popularity isn’t always welcome. They will need to step back and act the lone wolf from time to time, pursuing their own goals in their own ways. An unhealthy version of this tendency may pop up if Advocates sense that their values are being compromised by a more ethically relaxed colleague.</p> <br><br>

<h2>Advocate Managers</h2><br> 

<p>As managers, Advocates often dislike using their power. Individuals with this personality type prefer to see those who work under them as equals. They do this by focusing on coordinating tasks and supervising people, leaving the facts and details to others. They work hard to encourage others, not to crack the whip.</p> 

<p>That’s not to say that people with the Advocate personality type have low standards – far from it. The Advocates’ sense of equality means that they expect their subordinates to be as competent, motivated, and reliable as the Advocates themselves.</p> <br>

<p>Advocate managers are sensitive, understanding, and fair, able to appreciate individual styles and to make accurate judgments about others’ motivations. However, if an employee’s actions or attitude undermines an Advocate manager’s ethics or values, they will find little comfort in these qualities. </p>
 <p>People with this personality type have no tolerance for lapses in reliability or morality. But, so long as no such lapse occurs, Advocates will work tirelessly to ensure that their subordinates feel valued and happy.</p> 


{%endblock%}





