{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infji">Introduction</a><br>
<br><a href="infjs">Strengths & Weakness</a><br>
<br><a href="infjc">Career</a><br>
<br><a href="infjw">Workplace Habits</a><br>
<br><a href="infjr">Romance</a><br>
<br><a href="infjf">Friendship</a><br>
<br><a href="infjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1> <br>

        <p>Advocates are likely to find that most corporate career paths are not designed for them, but for those focused on their status and material gain. However, people with this personality are able to find work that suits them in just about any field.
        
        </p>         
        <p>In fact, Advocates are likely to face the opposite problem. Many struggle to begin a career early on because they see ten wildly different paths forward, each with its own set of rewards. This can be appealing but also heartbreaking, because picking just one means letting go of so much else.
        
        </p> 
        <br><h3>Truth, Beauty, Purpose</h3><br>
        <p>Advocate personalities need to find meaning in their work and to know that they are helping and connecting with people. An Advocate working as a Ferrari salesperson, for example, is highly unlikely.
        
        </p>
        <p>Their desire to help and connect makes careers in healthcare – especially the more holistic varieties – very rewarding for Advocates. Roles as counselors, psychologists, doctors, life coaches, and spiritual guides are all attractive options.
        
        </p>
        
        <p>Advocates’ needs don’t end at meaning, though – any productive work can be meaningful, as any productive work helps someone, somewhere. Advocate personalities crave creativity, too. They strive to use their insight to connect events and situations, creating real change in others’ lives.
        
        </p>
        <br><h3>Two Roads Diverged In a Yellow Wood</h3><br>		 
        <p>These needs are hard to meet in a corporate environment, where Advocates will be forced to manage someone else’s policies alongside their own. For this reason, people with the Advocate personality type are more likely to find independence in a leadership position, or by simply creating their own business.
        
        </p>
        
        <p>If they choose to go the independent route, they will focus on applying their personal touch, creativity, and altruism to everything they do. This can be the most rewarding option for Advocate personalities. When they step out of the overly humble supporting and noncompetitive roles they are often drawn to, they can move into positions where they can grow and make a difference.
        
        </p>		 
        
        <p>Advocates often pursue expressive careers such as writing, effective communicators that they are, and author many popular blogs, stories, and screenplays. Music, photography, design, and art are viable options too, and they all can focus on deeper themes of personal growth, morality, and spirituality.
        </p>
        <p>Where Advocates struggle is in work that doesn’t take personal needs into consideration, is overly repetitious, or promotes conflict. Jobs with these traits will leave Advocate personality types frustrated and unfulfilled. They can also struggle under the criticism and pressure that comes with jobs in corporate politics or sales.	 
        </p>
        <p>Advocate personalities are clever and can do well in any of these fields. To be truly happy, however, they need to be able to work in a way that aligns with their values and allows them some independence. They need opportunities to learn and grow alongside the people they are helping and contribute to the well-being of humanity on a personal level.
        
        </p>

        <p><br>
            <br><br><b> 1. Counselor </b><br><br>

Counselors help individuals, couples, families, and groups of people dealing with issues that affect their mental health and well-being. Empathetic INFJs work as counselors in a variety of settings including abuse centers, hospitals, governments, schools, and private practices. Counselors report high rates of job satisfaction when they successfully guide their patients toward positive choices.

<br><br><b> 2. Psychologist </b><br><br>

Psychology is a natural fit for an INFJ personality type. All of the attributes of this type are helpful in studying and evaluating human behavior. Whether they work in a lab doing clinical research or run a private therapy practice, INFJs will find that their empathy and thoughtfulness will serve them well in many branches of the psychology profession.

<br><br><b> 3. Scientist </b><br><br>

A career as a scientist might be an excellent choice for an INFJ. This personality type thrives in peaceful work environments, such as a laboratory. INFJs also enjoy the intellectual challenge of a career in the natural sciences. Examples of good science-based jobs for an INFJ include chemist and environmental scientist.

<br><br><b> 4. Graphic Designer  </b><br><br>

Artistic INFJs might find graphic design to be an ideal career path. Between graphics, layout, color, text, and even subtext, the INFJ graphic designer has tremendous influence over the aesthetics of the final product. They find great satisfaction in connecting with their audiences through their work.

<br><br><b> 5. Writer</b><br><br>

INFJs often pursue creative careers as they are elegant communicators. They can write anything from screenplays and popular blogs to short stories and novels. INFJs are clever and bring wit and interest to any piece of communication they get their hands on.

<br><br><b> 6. Human Resources</b><br><br>

Several INFJ personality traits make working in human resources a great fit. Human resources generalists and specialists are trained to perform both planning and administrative hiring duties. They are organized and highly dedicated, and empathetically guide new employees through complicated benefits and compensation plans. They also have the crucial and detailed task of complying with all local, state, and federal HR regulations.

<br><br><b> 7. Librarian</b><br><br>

Libraries are home to advanced electronic resources and digital records, and skilled librarians are trained to find exactly what patrons need. Being a librarian would provide a quiet work environment for an INFJ. This career also allows multiple opportunities for community outreach, which appeals to the INFJ’s helpful and resourceful nature.

<br><br><b> 8. Professor</b><br><br>

INFJs love breaking down complex problems, and professors must be able to make complicated subjects easily digestible for their students. The duties of a professor might include planning lessons, assessing students, publishing original research, and meeting academic and administrative policies.

<br><br><b> 9. Non-Profit or Advocacy</b><br><br>

Putting their passion behind a cause they believe in can be a powerful call for INFJs. Thousands of organizations and agencies exist to improve the common good through charitable, educational, scientific, religious, and humanitarian efforts.
<br></p>
<br>
<br>
<br>
{%endblock%}