{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infji">Introduction</a><br>
<br><a href="infjs">Strengths & Weakness</a><br>
<br><a href="infjc">Career</a><br>
<br><a href="infjw">Workplace Habits</a><br>
<br><a href="infjr">Romance</a><br>
<br><a href="infjf">Friendship</a><br>
<br><a href="infjp">Parenthood</a><br>
{%endblock%}

{%block data%}
        <h1>Strengths & Weakness</h1> <br>
<h3>Advocate strengths</h3><br>
<p><b>Creative –</b> Combining a vivid imagination with a strong sense of compassion, Advocates use their creativity to resolve not technical challenges, but human ones. People with the Advocate personality type enjoy finding the perfect solution for someone they care about. This strength makes them excellent counselors and advisors.
 </p>   <br>      
<p><b>Insightful – </b>Seeing through dishonesty and disingenuous motives, Advocates step past manipulation and sales tactics and into a more honest discussion. Advocate personalities see how people and events are connected. They are then able to use that insight to get to the heart of the matter.
</p> <br>
<p><b>Inspiring and Convincing – </b>Speaking in human terms, not technical, Advocates have a fluid, inspirational writing style that appeals to the inner idealist in their audience. Advocates can even be astonishingly good orators, speaking with warmth and passion. This is especially true if they are proud of what they are speaking for.
</p><br>
<p><b>Decisive –</b> Advocates’ creativity, insight, and inspiration are able to have a real impact on the world. This is because they are able to follow through on their ideas with conviction, willpower, and the planning necessary to see complex projects through to the end. People with the Advocate personality type don’t just see the way things ought to be; they act on those insights.
</p><br>
<p><b>Determined and Passionate – </b>When Advocates come to believe that something is important, they pursue that goal with a conviction and energy that can catch others off-guard. Advocates will rock the boat if they must. Not everyone likes to see this, but their passion for their chosen cause is an inseparable part of the Advocate personality.		
</p><br>
		 
<p><b>Altruistic –</b> These strengths are used for good. Advocates will not engage in any actions or promote beliefs just to benefit themselves. They have strong beliefs and take the actions that they do because they are trying to advance an idea that they truly believe will make the world a better place.	 
</p>
<br>
<br>	 
<h3>Advocate Weaknesses</h3><br>
<p><b>Sensitive – </b>When someone challenges or criticizes Advocates’ principles or values, they are likely to receive an alarmingly strong response. People with the Advocate personality type are highly vulnerable to criticism and conflict. Questioning their motives is the quickest way to their bad side.		
 </p><br>
<p><b>Extremely Private –</b> Advocates tend to present themselves as the culmination of an idea. This is partly because they believe in this idea, but also because Advocates are extremely private when it comes to their personal lives. They use this image to keep themselves from having to truly open up, even to close friends. Trusting a new friend can be even more challenging for Advocates.
		 
</p><br>
<p><b>Perfectionistic – </b>Advocate personalities are all but defined by their pursuit of ideals. While this is a wonderful quality in many ways, an ideal situation is not always possible – in politics, in business, in romance. Advocates, especially Turbulent ones, too often drop or ignore healthy and productive situations and relationships, always believing there might be a better option down the road.
		 
</p><br>
<p><b>Always Need to Have a Cause –</b> Advocate personalities get so caught up in their pursuits that any of the cumbersome tasks that come between them and their ideal vision is deeply unwelcome. Advocates like to know that they are taking concrete steps toward their goals. If routine tasks feel like they are getting in the way – or worse yet, there is no goal at all – they will feel restless and disappointed.

</p><br>
<p><b>Can Burn Out Easily –</b> Their passion, impatience for routine maintenance, idealism, and extreme privacy tend to leave Advocates with few options for letting off steam. People with this personality type are likely to exhaust themselves in short order if they don’t find a way to balance their ideals with the realities of day-to-day living.

</p>
<br>
<br>  
</body>
</html>
{%endblock%}