{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfpi">Introduction</a><br>
<br><a href="isfps">Strengths & Weakness</a><br>
<br><a href="isfpc">Career</a><br>
<br><a href="isfpw">Workplace Habits</a><br>
<br><a href="isfpr">Romance</a><br>
<br><a href="isfpf">Friendship</a><br>
<br><a href="isfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>
<p>In friendship, Adventurers are some of the most comfortable people around. Laid back and spontaneous, people with the Adventurer personality type won’t bog things down with arguments or structured long-term plans. Intellectually exhausting pastimes like debates over European economic policy won’t hold their attention long. The here-and-now is what’s important to Adventurers, and they love spending time with their friends doing casual, fun activities.</p><br><br>
 <h2>I Don’t Want to Talk, I Want to Play!</h2><br>
 <p>Adventurer personalities believe in actions, not words. They talk about what is, not what could, should or will be, and then they actually do it. This passion for action is a blessing for Adventurers, since it helps them get past their shyness in meeting new people. Adventurers are sensitive, much more so than most, and it takes time to build enough trust with new friends to open up and feel natural.</p><br>
 <p>If new acquaintances start things out by explaining “You’d do way better if...”, it’s unlikely they will ever be close – Adventurers just take these remarks too personally for comfort. People with this personality type are happy to get along with just about anyone, but potential friends need to ease up on being too judgmental or demanding.</p><br>
 <p>If their friends keep things supportive and easy-going, Adventurers are happy to return the favor with added warmth and laughter. When they’re with friends they trust, Adventurers know how to relax, shedding rules, traditions and expectations in favor of just enjoying themselves.</p> <br>
<p>Those who prefer safe, structured environments might end up struggling in these friendships though, especially if they lecture Adventurers on how they’re living their lives. As with any criticism, those friends are free to do their own thing, and to leave Adventurers to do theirs.</p> <br>
<p>Lots of personal space and freedom are essential to Adventurer personalities, and it’s often other Explorer types, who share their “live and let live” worldview and joy in actually doing things, that gravitate towards Adventurers. There’s really no better friend than Adventurers for dropping the pretenses and enjoying low-stress fun.</p> 

{%endblock%}
