{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfpi">Introduction</a><br>
<br><a href="isfps">Strengths & Weakness</a><br>
<br><a href="isfpc">Career</a><br>
<br><a href="isfpw">Workplace Habits</a><br>
<br><a href="isfpr">Romance</a><br>
<br><a href="isfpf">Friendship</a><br>
<br><a href="isfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths </h1> <br>
<p>When it comes to the career world, Adventurers need more than just a job. Wealth, power, structure, advancement and security are all lesser goals to Adventurer personalities’ greatest need: creative freedom. Adventurers crave a tangible outlet for their imagination, a chance to express themselves artistically.</p> <br>
<p>People with the Adventurer personality type are passionate experimenters, and whether they’re aware of it or not, they are renowned trendsetters. With their unique perspective and simple desire to be themselves, Adventurers are natural artists, musicians and photographers, as well as designers of all stripes. Setting up shop on websites like Etsy is far more alluring to Adventurers than the confines of 9-5 administrative work in some fluorescent cubicle.</p> <br><br>
<h2>Don’t Work at Being Ordinary</h2> <br>
<p>Adventurers loathe sitting idle in colorless, unchanging environments. They are free souls and need flexibility, opportunities for improvisation, and immersive work that engages every sense. If they combine these needs with their competitive nature, Adventurer personalities make great solo athletes. Adventurers prefer to live in the moment, believing the here and now is what matters most.</p> <br>
<p>This quality does have the drawback of sometimes making Adventurers reckless and shortsighted, though those pitfalls aren’t set in stone. An emphasis on practical, tangible things, objects that can be seen and touched, comes at the cost of ignoring less tangible ideas. Adventurers often feel that they have little control over processes like retirement planning – they can’t predict the future, so it does no good to worry about it now.</p><br><br>
 <h2>Life’s too Short for Us to Bore Ourselves</h2> <br>
<p>This mindset can hold them back from many of their ideal careers, such as psychology, counseling and teaching, which require long-term planning and often extensive certifications to get started. It takes a great deal of energy for Adventurers to maintain focus on a single goal like that for so long, but it can make the day-to-day so much more rewarding for the rest of their lives.</p><br>
 <p>An easier route revolves around freelance and consulting work in just about any industry that Adventurers enjoy. Whether organizing charity events, working with hospitals to make patients’ stays more pleasant, or laying stone to help make a house a home, Adventurers always seem to find a way to make the world a little more beautiful and exciting, and to make a living in the process.</p> <br>

<br><b> Flight Attendant</b>
<p>What more could an adventurer want than a daily trip somewhere new? As a flight attendant, ISFPs will get the adventurous lifestyle they want while still earning a living. As a flight attendant, the ISFP will maintain the safety, security, and comfort of passengers. They will ensure all safety standards are met, and instruct passengers in an emergency situation. Excellent customer service and support skills are needed, both which an ISFP has in abundance. </p>
<br><b> Occupational Therapist</b>
<p>Creative problem-solving paired with a desire to help others? That’s an occupational therapist. Occupational therapists plan rehabilitative programs that help build or restore vocational, homemaking, and daily living skills, as well as general independence, to persons with disabilities or developmental delays. Occupational therapists must be adaptable, flexible, and able to make quick decisions when plans change. ISFPs and their think-outside-the-box attitudes are a great fit. </p>
<br><b> Police Officer</b>
<p>Every day presents a new challenge for a police officer, and that’s appealing to ISFPs. As a police officer, the goal is to maintain order and protect life and property by enforcing local, tribal, state, or federal laws and ordinances. The job differs from day to day: patrol a specific area, direct traffic, issue traffic citations, investigate accidents, apprehend and arrest suspects, or serve legal processes of courts. </p>
<br><b> Brand Manager</b>
<p>This may be an office job, but it’s the best kind of office job for an ISFP. Creative and hands-on, the brand manager strategizes and creates effective campaigns to improve the customer experience. As the creative voice of the brand, they work with multiple teams on advertising, promotions, internal work, campaign marketing, social media, and other areas of representation. Consistently brainstorming and collaborating with teams for new ideas and strategies allows the ISFP to thrive. </p>
<br><b> Contractor</b>
<p>A contractor is a person who works on a construction site and is responsible for overseeing multiple aspects of a building project. This could mean managing vendors, communicating information to all the workers on the site, reviewing documents and architectural plans to make sure the building project is going according to plan, and managing the tasks of other workers. For an ISFP who enjoys learning new things, becoming a contractor presents the chance to acquire many skills. </p>
<br><b> Cook</b>
<p>Think of it this way: a cook can travel anywhere in the world and find a job in any place. Perfect for the traveling ISFP looking for a new adventure. Cooks prepare meals and follow recipes, prepare ingredients, and assist other cooks and staff. It’s a team environment, and often fast-paced; right on target for the creative and spontaneous ISFP. </p>
<br><b> Social Media Manager</b>
<p>Setting trends that will be #hashtagged all over the world? That’s for an ISFP. Social media managers are in charge of creating, maintaining, and growing new and existing social networks, including Twitter, LinkedIn, Pinterest, YouTube, Snapchat, Instagram, and Facebook. They develop new social marketing campaigns, build brand recognition, and manage all published company content. Also a bonus: collaborating with marketing, PR, and legal teams to brainstorm and align company messaging, promotions, and goals. </p>
<br><b>Interior Designer</b>
<p>Becoming an interior designer is a way for the inventive ISFP to share their artistic vision with the world. As an interior designer, ISFPs would design functional and decorative spaces for their clients. From board rooms to playrooms, interior designers focus on colors, materials, decorative artwork, lighting, and on-trend furniture pieces to bring a room to life. Interior designers work with their clients to express their personality and translate their clients’ desires into a practical reality. </p>
<br><b> Social Worker</b>
<p>For the ISFP who wants to use their enormous talents to help others, social work may be the way to go. Social workers help clients cope with challenges, changes, and difficulties in life. They offer care and counseling with community resources, involvement, and support. By listening and understanding their clients’ needs, social workers provide the right assistance and resources. The ISFP will never be bored; social workers manage several cases at once with dedication and a genuine desire to help and improve the lives of others. </p>
<br><b> Artist</b>
<p>There are many ways for an ISFP to be an artist, with no need to starve. Whether it’s painting a mural on a community center wall or creating a graphic logo for an advertisement, ISFPs can easily find their place as an artist. Graphic design provides an open door to everything from small businesses to national brand names. Art teachers educate from preschool to university, while tattoo artists get to make customers their canvas. </p>


{%endblock%}
