{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfpi">Introduction</a><br>
<br><a href="isfps">Strengths & Weakness</a><br>
<br><a href="isfpc">Career</a><br>
<br><a href="isfpw">Workplace Habits</a><br>
<br><a href="isfpr">Romance</a><br>
<br><a href="isfpf">Friendship</a><br>
<br><a href="isfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Parenthood </h1> <br>
<p>When it comes to parenting, Adventurers often feel right at home. While no one could be said to be truly prepared for such a task, Adventurer personalities’ natural warmth, practicality and relaxed nature help them to settle in and appreciate every moment of joy and hardship that comes with raising a child.</p> <br><br>
<h2>Children Show the Divine in Everyone</h2><br>
 <p>Adventurers’ greatest strength is arguably the joy they take in being with and helping their loved ones. Practical needs are taken care of from day one, and Adventurers’ children can always count on something exciting to do or to learn every day. People with the Adventurer personality type love fun, hands-on activities, and as their children grow, they’re often encouraged to pick up extra hobbies that revolve around those kinds of activities.</p> <br>
 <p>Even as those extra activities grow, Adventurers often defy their Introversion (I), spending time with their children and enjoying engaging activities that center on quality time. Impromptu trips, home improvement projects like repainting bedrooms, or simply baking some treats together are all likely to being fond memories for Adventurers’ children.</p> <br>
<p>None of this is to say that Adventurer parents are overbearing – in fact, they are one of the most relaxed personality types there is when it comes to parenting. Adventurers believe that the only way to really have their children grow up to be open-minded and well-balanced people is to let them explore and experience new things, make mistakes and learn from them, and to always know that they’ll be able to come home at the end of it.</p> <br>
<p>The freedom Adventurers grant their children comes with risks too, since it demands a certain level of maturity from the children themselves. Some lessons are harder than others. These can be hard lessons for people with the Adventurer personality type too, since they are more sensitive than most when it comes to their lifestyles or parenting being criticized. Nothing’s quite as unpleasant as “I told you so”.</p> <br>
<p>Long-term planning is another challenging area for Adventurer parents. When it comes to things like saving for their children’s college education, Adventurers necessarily rely on partners who take care of that sort of thing more readily. </p> <br><br>
<h2>Never Stop Loving</h2> <br>
<p>As their children grow into adolescence, Adventurers sometimes struggle as well. Adventurer personalities need to know that their work and effort are appreciated, something teenagers aren’t well-known for expressing. It can take a lot of practice on Adventurers’ parts to learn the emotional control necessary to not overreact when things don’t go the way they want. Children make an effort to distance themselves at that age, and private individuals or no, Adventurers need to know that their loved ones are by their sides.</p><br>
 <p>In the end though, Adventurers are so much less likely to create the kinds of divides that other more rigid personality types sometimes drive between themselves and their children. There’s always going to be some push from developing adults, but with such warm, caring parents, Adventurers’ children can always rest assured that they know where home and hearth are.</p> 

{%endblock%}
