{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfpi">Introduction</a><br>
<br><a href="isfps">Strengths & Weakness</a><br>
<br><a href="isfpc">Career</a><br>
<br><a href="isfpw">Workplace Habits</a><br>
<br><a href="isfpr">Romance</a><br>
<br><a href="isfpf">Friendship</a><br>
<br><a href="isfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1> <br>
<p>In the workplace, Adventurers seek out positions that give them as much wiggle room as possible to do things their own way. Button-down environments that revolve around tightly held traditions and strictly enforced procedures are unlikely to appeal to Adventurer personalities. Spontaneous, charming, and genuinely fun people to be around, Adventurers just want a chance to express those natural qualities, and to know that their efforts are appreciated.</p><br><br>
 <h2>Adventurer Subordinates</h2> <br>
<p>People with the Adventurer personality type don’t like to be controlled, and this can be quite clear in subordinate positions – they loathe being micromanaged. At the same time, Adventurers aren’t well-known for their long-term focus, but rather their adaptability and spontaneity. They’ll use unconventional methods, sometimes risky ones, and existing rules are just someone else’s way of doing things. Still, Adventurers find a way to make things happen. To manage Adventurer personalities successfully, there need to be clearly set goals, and otherwise an open sandbox.</p> <br>
 <p>If this balance can be made to work, Adventurers show themselves to be eager learners and passionate problem-solvers, especially if they get to deal one-on-one with other people or to tackle a problem solo. People with this personality type are humble, even shy, and unlikely to put themselves on the spot by volunteering their help. But Adventurers do love to feel appreciated, and if assigned a task, they work hard to earn that appreciation.</p><br><br>
 <h2>Adventurer Colleagues</h2><br>
 <p>Among their peers Adventurers feel most comfortable. Working with equals and giving some advice in order to solve practical problems is right where Adventurer personalities like to be. While they may exhaust themselves if their role requires an excessive amount of social interaction, they are otherwise quite charming and have excellent networking skills. </p> <br>
<p>Adventurers are tolerant and friendly, and usually just do what needs to be done regardless of whether their colleagues pull their own weight. At the end of the day though, Adventurers are sensitive and need to know that these efforts are appreciated – a well-placed compliment goes a long way. Adventurers do let their personal goals affect their approach to their work, which can make them a little unpredictable, but this is balanced by their desire for harmony and willingness to find win-win solutions whenever possible.</p> <br><br>
<h2>Adventurer Managers</h2> <br>
<p>The position that feels most unnatural to Adventurers is management. They are not a domineering personality type, and take no joy in exerting control over others, planning long-term goals, or disciplining unsatisfactory behavior. But just because it feels a little strange, doesn’t mean Adventurer personalities aren’t good at it. </p> <br>

<p>Adventurers’ sensitivity allows them to be great listeners, helping them to align their subordinates’ personal motivations with the task at hand. They also give their subordinates the freedom to do what needs to be done to solve what needs to be solved on any given day, and Adventurers are likely to dig into that work right alongside them. This gives Adventurer managers a marked style of inspiration and cooperation, and they’re usually well-liked.</p> 

{%endblock%}
