{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfji">Introduction</a><br>
<br><a href="esfjs">Strengths & Weakness</a><br>
<br><a href="esfjc">Career</a><br>
<br><a href="esfjw">Workplace Habits</a><br>
<br><a href="esfjr">Romance</a><br>
<br><a href="esfjf">Friendship</a><br>
<br><a href="esfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>When it comes to the workplace, Consuls have clear tendencies that show through regardless of their position. People with the Consul personality type thrive on social order and harmony, and use their warmth and social intelligence to make sure that each person knows their responsibilities and is able to get done what needs to get done. Consuls are comfortable, even dependent on clear hierarchies and roles, and whether subordinates, colleagues or managers, Consul personalities expect authority to be respected and backed up by rules and standards. </p>
 
<br><h3>Consul Subordinates</h3>
<p>With clearly defined responsibilities and a sense of purpose, Consuls are patient, efficient, hard-working people who respect the authority of their managers. While Consuls may struggle with too much freedom and improvisation, they thrive in workplaces with structure, safety and guidelines. Routine tasks are not a problem for Consuls, and their dedication and loyalty earn them the respect of their managers. </p>
<br><h3>Consul Colleagues</h3>
<p>Teamwork is a concept that Consuls have no trouble putting into practice. Often seeking friends at work, people with this personality type are almost always willing to lend a hand when and where it’s needed. Excellent networkers, Consuls always seem to “know just the guy” to bring a project together on time. On the other hand, Consuls often need to work on a team – being stuck alone chipping away at paperwork for days on end just leaves them tired and unfulfilled. </p>
<p>Consuls take pride in these qualities, which has the side effect of making them particularly sensitive when they come under criticism. When their suggestions and help are turned down, Consul personalities can take it personally. Already somewhat vulnerable to stress, rejections like these can be pretty demoralizing, and Consuls may need their coworkers to make an effort to express their appreciation from time to time. </p>
<br><h3>Consul Managers</h3>
<p>Consuls enjoy the responsibility that comes with organizing social situations, and the enjoyment they feel in managing other people translates well into management positions. As team leaders, Consuls find ways to make everyone feel involved, uniting people and smoothing relations in order to get things done. </p>
<p>At the same time, Consuls have a strong respect for traditional power structures, and if after all their efforts convincing their subordinates to work together someone ends up challenging their authority, they can stress out, lose their temper, and just generally react badly. People with the Consul personality type are sensitive about their status and dislike conflict, and prefer situations where everyone knows their role. So long as expectations are clearly outlined, Consuls are effective and enjoyable managers. </p>


{%endblock%}





