{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfji">Introduction</a><br>
<br><a href="esfjs">Strengths & Weakness</a><br>
<br><a href="esfjc">Career</a><br>
<br><a href="esfjw">Workplace Habits</a><br>
<br><a href="esfjr">Romance</a><br>
<br><a href="esfjf">Friendship</a><br>
<br><a href="esfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Parenthood</h1>
<p>As parents, Consuls have an excellent opportunity to display their warmth, affection and dedication in ways that have a real and positive impact. Sensitive yet firm, Consul parents are able to establish rules and authority without being entirely overbearing, using their compassion and support to smooth over the occasional miscommunication or difference of opinion.</p>
<p>From the start, Consuls try to ensure that their children feel safe and happy. People with the Consul personality type enjoy the support they are able to give their infants, who are utterly dependent on their care. Family being as important as it is to Consuls, this is an incredibly rewarding start to the relationship.</p>
 
<br><h3>Handling Adversity Fosters Growth</h3>
<p>As their children grow and begin to explore more, Consuls’ love and care grows with them, but often becomes overprotective. Consuls may not just keep their children safe physically, but also socially, by arranging play dates, camps and other activities so much that their children aren’t free to make the blunders that lead to emotional growth and social independence.</p>
<p>Consuls value harmony and stability highly, and it’s often the case that they try to use indirect pressure to try to teach life’s lessons. When they are forced into a confrontation by their children’s blatant wrong-doing though, Consul parents step in firmly, and expect their words to be respected. Believers in traditional roles, Consul parents view the parent-child relationship in black and white terms, with their authority as final.</p>
<br><h3>Character Is a Journey, Not a Destination</h3>
<p>As their children grow into adolescence and begin to push away from their parents, Consuls can take this transition personally. Feeling like they are losing their children, Consul personalities sometimes try to prolong their dependence as long as possible. It’s important to remember that when grown children leave the home, it’s because their parents were successful in preparing them for the next phase of their lives, an accomplishment Consuls can be proud of.</p>
<p>Consuls’ children will always appreciate the sensitivity and warmth that they were raised with, and as time goes on and they have their own children, they will cherish the fact that those children have the benefit of grandparents who love and care for them unconditionally.</p>


{%endblock%}





