{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfji">Introduction</a><br>
<br><a href="esfjs">Strengths & Weakness</a><br>
<br><a href="esfjc">Career</a><br>
<br><a href="esfjw">Workplace Habits</a><br>
<br><a href="esfjr">Romance</a><br>
<br><a href="esfjf">Friendship</a><br>
<br><a href="esfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Friendships</h1>
<p>Consuls are a very social personality type, seeking large circles of friends and proving themselves more than willing to spend the time and energy necessary to maintain these relationships. Loyal and warm, Consuls are known for standing by their friends no matter what, and providing a constant source of emotional support and encouragement.</p>
 
<p>Doing everything they can to make sure their friends are happy, and being so comfortable with introductions and small talk, Consuls are naturally very popular in pretty much any environment. This is a dynamic that Consuls genuinely enjoy, but they also expect their efforts and support to be reciprocated. There’s nothing quite as hurtful to people with the Consul personality type as finding out that a trusted friend is critical of their beliefs or habits, except maybe being told so in a direct confrontation.</p>
<p>Consuls have a tendency to believe that their friends can do no wrong, always stepping up to defend them regardless of circumstances, and they expect the same benefit of the doubt in return. Consuls can greatly expand their circle of friends if they learn to be more receptive to other perspectives, rather than making snap judgments and conclusions. It’s important for Consuls, as with anyone, to avoid being insulated from other viewpoints and opinions, to relate to and understand ever more people.</p>
<br><h3>We’re All in It Together</h3>
<p>On the other hand, Consuls are great at using their sensitivity to stay in tune with what motivates and drives their friends. While in their weaker moments, Consul personalities can sometimes use these observations to manipulate others, they are far more interested in maintaining strong relationships, and this is a great tool for doing so. Altruists that they are, Consuls almost always use their powers for good, encouraging and inspiring others.</p>
<p>By and large, the Consul personality type is a pleasant and sincere one. Their energy and social intelligence win them many acquaintances and friends, and their support and dedication keep those friendships close and strong. With so much zest for life and company, dull moments are sure to be few and far between.</p>

{%endblock%}





