{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfji">Introduction</a><br>
<br><a href="esfjs">Strengths & Weakness</a><br>
<br><a href="esfjc">Career</a><br>
<br><a href="esfjw">Workplace Habits</a><br>
<br><a href="esfjr">Romance</a><br>
<br><a href="esfjf">Friendship</a><br>
<br><a href="esfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Strengths & Weaknesses</h1><br>
<h3>Consul Strengths</h3>
 
<p><b>Strong Practical Skills – </b>Consuls are excellent managers of day-to-day tasks and routine maintenance, enjoying making sure that those who are close to them are well cared for.</p>
<p><b>Strong Sense of Duty – </b>People with the Consul personality type have a strong sense of responsibility and strive to meet their obligations, though this may sometimes be more from a sense of social expectations than intrinsic drive. </p>
<p><b>Very Loyal – </b>Valuing stability and security very highly, Consuls are eager to preserve the status quo, which makes them extremely loyal and trustworthy partners and employees. Consuls are true pillars of any groups they belong to – whether it is their family or a community club, people with this personality type can always be relied upon. </p>
<p><b>Sensitive and Warm – </b>Helping to ensure that stability, Consul personalities seek harmony and care deeply about other people’s feelings, being careful not to offend or hurt anybody. Consuls are strong team players, and win-win situations are the stuff smiles are made of. </p>
<p><b>Good at Connecting with Others –</b> These qualities come together to make Consuls social, comfortable and well-liked. Consul personalities have a strong need to “belong”, and have no problem with small talk or following social cues in order to help them take an active role in their communities. </p>
<br><h3>Consul Weaknesses</h3>
 
<p><b>Worried about Their Social Status –</b> These Strengths are related to a chief Weakness: Consuls’ preoccupation with social status and influence, which affects many decisions they make, potentially limiting their creativity and open-mindedness. </p>
<p><b>Inflexible –</b> Consuls place a lot of importance on what is socially acceptable, and can be very cautious, even critical of anything unconventional or outside the mainstream. People with this personality type may also sometimes push their own beliefs too hard in an effort to establish them as mainstream. </p>
<p><b>Reluctant to Innovate or Improvise –</b> Just as they can be critical of others’ “unusual” behavior, Consuls may also be unwilling to step out of their own comfort zones, usually for fear of being (or just appearing) different. </p>
<p><b>Vulnerable to Criticism –</b> It can be especially challenging to change these tendencies because Consuls are so conflict-averse. Consul personalities can become very defensive and hurt if someone, especially a person close to them, criticizes their habits, beliefs or traditions. </p>
<p><b>Often Too Needy –</b> Consuls need to hear and see a great deal of appreciation. If their efforts go unnoticed, people with the Consul personality type may start fishing for compliments, in an attempt to get reassurance of how much they are valued. </p>
<p><b>Too Selfless – </b>The other side of this is that Consuls sometimes try to establish their value with doting attention, something that can quickly overwhelm those who don’t need it, making it ultimately unwelcome. Furthermore, Consuls often neglect their own needs in the process. </p>


{%endblock%}





