{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfji">Introduction</a><br>
<br><a href="isfjs">Strengths & Weakness</a><br>
<br><a href="isfjc">Career</a><br>
<br><a href="isfjw">Workplace Habits</a><br>
<br><a href="isfjr">Romance</a><br>
<br><a href="isfjf">Friendship</a><br>
<br><a href="isfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>

<p>Given how generous Defenders are with their warm praise and support, it’s not surprising that others enjoy their company enough to call them friends. The challenge is to be considered a friend back – people with the Defender personality type are shy and a little protective of themselves, but they also need to be able to connect on a deeper emotional level. It makes sense then that most of Defenders’ friends are made not by random encounters on a wild night out, but through comfortable and consistent contact, as in class or in the workplace where they have the time to get to know each other little by little.</p><br>

 <p>Defenders need a lot of positive feedback, and admitting this need certainly shows vulnerability, but if that vulnerability is well handled, it creates the deep bonds that Defender personalities look for. If badly handled or not reciprocated, it’s hard to see the burgeoning friendship surviving without quite a bit of extra effort.</p> <br>

<p>Yet, as their friendships develop, Defenders’ sense of loyalty may push them to lean ever more on themselves to meet their friends’ needs, to the point of neglecting their own. Defenders show this in a few ways, from going clearly out of their ways to stick to even trivial commitments, to simply not wanting to disagree or say no for fear of causing turbulence. More cynical types would call this naïve, and may even take advantage of Defenders’ altruism – but these are hardly the type of people who could be called “friends”, and they have no business being discussed here.</p> <br><br>

<h2>To What Greater Inspiration and Counsel Can We Turn?</h2> <br>

<p>The real friends, those close inner circles, are the ones Defenders truly cherish for their quality of character and quality of discussion. Defenders aren’t particularly picky about what personality types they make friends with, at least not initially, but because they prefer so strongly to avoid conflict and miscommunication, most of their friends are likely to end up being fairly similar personalities.</p> 

{%endblock%}
