{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfji">Introduction</a><br>
<br><a href="isfjs">Strengths & Weakness</a><br>
<br><a href="isfjc">Career</a><br>
<br><a href="isfjw">Workplace Habits</a><br>
<br><a href="isfjr">Romance</a><br>
<br><a href="isfjf">Friendship</a><br>
<br><a href="isfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1><br>

 <p>Whether subordinates, colleagues or managers, Defenders share the goal of putting good service and dedication above all else. Whether helping customers directly, helping coworkers get projects finished on time or helping teams keep organized and productive, people with the Defender personality type can always be relied on for their kindness and ability to listen to concerns, and to find ways to resolve them. Win-win situations are Defenders’ bread and butter, and no one takes quite the same pleasure in finding satisfying resolutions to day-to-day challenges.</p> <br><br>

<h2>Defender Subordinates</h2> <br>

<p>As subordinates, Defenders exemplify the strength of humble dedication. Relied on and respected for their patience and commitment, Defender personalities really only seek one reward for their work: the satisfaction of knowing that whoever they helped feels heartfelt thanks. On the other hand, this humbleness can hold them back – Defenders are quite unwilling to advertise their achievements, often for fear of creating unnecessary friction, which makes it too easy for them to be overlooked when opportunities come along.</p><br>

 <p>Defenders are people of incredible loyalty, often trying to follow favored managers to new positions and locations. This contrasts with their usual feelings on change which, if it compromises their principles (as cutbacks to customer care might), is met with stress and unhappiness. Though perfectly capable of accepting change, Defenders must feel that it’s for the right reasons. If a policy change results in disappointed customers, Defenders take it very personally.</p> <br><br>

<h2>Defender Colleagues</h2><br>

 <p>Among their colleagues, people with this personality type seek a frictionless environment, a spirit of friends helping friends to get the job done. Close-knit and supportive teams are what Defenders enjoy most, allowing them to express their altruistic spirit among people who rely on their dedication and warmth. Defenders are natural networkers, but they use this skill to keep things running smoothly, not as a tool for professional advancement.</p> <br>

<p>These qualities can be drawbacks though, as Defenders’ aversion to conflict and desire to help can be abused by less scrupulous colleagues. Instead of only asking help when they need it, some may ask for help when they just don’t feel like working hard, knowing that their Defender colleagues have a hard time saying no. The result is that Defenders can become overburdened and stressed, and it takes a few good workplace friends to put pressure on these less savory characters in order to maintain balance.</p><br><br>

 <h2>Defender Managers</h2> <br>

<p>While management isn’t necessarily at the top of Defenders’ list of goals, it is a natural progression as their hard work and good people skills are recognized over the years. Oftentimes they don’t actually enjoy managing others, but this can be one of their greatest strengths – as managers, Defenders are warm, approachable and great listeners. Having no real desire to issue authoritarian dictates from some high tower, Defender personalities prefer to work alongside their subordinates, organizing people and minimizing conflict.</p><br>

 <p>This helps them to create personal relationships with their subordinates, to be friends in the workplace who simply have different sets of responsibilities. While they may be slow to accept some changes, they are great at helping their teams put them into practice once they’ve been agreed on. Defenders may be too sensitive to be fully executive material, but they make exemplary floor and office managers who know what it takes to satisfy their customers.</p> <br>

{%endblock%}
