{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfji">Introduction</a><br>
<br><a href="isfjs">Strengths & Weakness</a><br>
<br><a href="isfjc">Career</a><br>
<br><a href="isfjw">Workplace Habits</a><br>
<br><a href="isfjr">Romance</a><br>
<br><a href="isfjf">Friendship</a><br>
<br><a href="isfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths </h1><br> 

<p>In many ways, Defenders are the backbone of the modern workforce. Altruistic and well-rounded, no other personality type is so well-suited to be of service of others. It is no surprise that many Defenders are not just good at supporting their coworkers and customers in human resources and support positions, they genuinely enjoy it, as it gives them the chance to calm frustrations, see things through to a practical solution, and to be thanked, appreciated, at the close of each ordeal.</p> <br><br>

<h2>Be Humble and Earnest</h2> <br>

<p>Defenders are skilled at remembering things about others which makes them not only valuable assistants, but well-liked colleagues. People with the Defender personality type can always be counted on to remember a birthday, a graduation, or simply a frequent customers’ name, and that can make all the difference. Add to these amiable qualities Defenders’ meticulousness, hard work and dedication, and it’s no surprise that their careers often progress smoothly, with few of the ups and downs that accompany more high-flying types.</p> <br>

 <p>However, Defenders are unlikely to actively seek out managerial positions, and are still more unlikely to brag about their accomplishments. Defender personalities prefer to be rewarded by seeing first-hand the positive impact of their efforts, and will remain enthusiastic simply knowing that what they do is genuinely appreciated by the people they care for. This makes them natural counselors, technical support, and interior designers, where they are able to help others one-on-one without having to worry about corporate politics.</p> <br>

 <p>Respecting tradition and security, Defenders have no problem with the idea of moving along in a structured hierarchy, and while they may not always seek out these managerial positions, they fill them well. Defenders are well-tuned to others’ emotions and have a strong sense of practicality, extending their own ability to get things done to their teams.</p> <br>

<p>Where Defenders struggle is in generating new ideas and in grasping abstract concepts – fields like academic research and corporate strategy are too intangible and too impersonal to utilize Defenders’ strengths. Similar challenges arise in more typical careers when changes are forced through by Defenders’ employers – advance warning and a proper explanation can help to smooth the shock, but if the changes cut back on things like the quality of customer service, it can feel like a betrayal in the face of their loyalty and dedication.</p> <br><br>

<h2>Live Pleasantly and Do Good</h2> <br>

<p>Strong, well-developed institutions alongside like-minded friends are attractive workplaces for people with the Defender personality type, and careers as nurses, elementary school teachers and social and religious workers are attractive options. Sometimes the desire to help others is enough in itself – it’s not uncommon to find Defenders volunteering and helping the community at shelters, food banks and their children’s schools. Defenders are warm, service-oriented people, and hardly anyone is more welcome in these (and many, many other) roles.</p> <br>






<b> Dentist/Orthodontist</b>
<p>Examining teeth, cleaning, diagnosing dental problems, studying a patient’s history and health are all things suited to an ISFJ personality. In dental work, ISFJs give x-rays, check their patients for gingivitis or other oral diseases, and educate patients on good oral hygiene habits and health. As an orthodontist, ISFJs specialize in aligning teeth and jaws, diagnosing, preventing, and treating overbites, underbites, gaps, or overcrowded teeth with wires, braces, retainers or other corrective appliances to ensure the health of their patients’ teeth and mouth muscles. It’s detailed, meticulous work that requires someone who is both empathic and focused. </p><br>
<b>Human Resources</b>
<p>Working in human resources is the perfect job for a compassionate ISFJ. Human resource generalists and specialists are trained to perform both administrative and strategic hiring duties and planning. They are organized, dedicated strategists and planners, and are the ones who help guide new employees through the complicated process of benefits and compensation. They also have the crucial and detailed task of complying with all local, state, and federal regulations for HR.</p><br>
<b>Certified Public Accountant (CPA)
<p>To be a CPA, one must be detail-oriented, because the solutions are hidden in the numbers. CPAs are accountants, business consultants, and financial auditors. They handle any number of financial services, from corporate finance to tax preparation. ISFJs would do well as CPAs, keeping their clients informed to make better financial decisions. </p><br>
<b>Customer Service Representative</b>
<p>Customer service representatives are the ones who answer calls, listen to customers, provide product information, and help customers by being informative, empathetic, and eager to problem-solve. A job in customer service for an ISFJ means listening and “reading” the customer, something observant ISFJs can do like no other. </p><br>
 <b>Data Analyst</b>
For an ISFJ, being a data analyst is almost like being a detective. It’s a job for ISFJs who are smart, technical, and happy to look for patterns and clues. They then translate those numbers into something tangible and understandable to improve how a business or project is run. ISFJs can excel at discovering useful information hidden in data, and inspecting, cleaning, transforming, and modeling the complex data presented. </p><br>
 <b>Physician/Internal Medicine</b>
<p>Physicians and internal medicine doctors treat patients who may have multiple health questions and issues. Compassionate ISFJs thrive when the opportunity to protect a patient from a health problem arises. They meet with patients and diagnose their problems. Patients with acute and chronic medical problems who do not need a specialist can be seen by a physician or an internal medicine doctor. Since both doctors will have extended working knowledge of disease and pharmacology, they can prescribe medications for their patients. By seeing their adult patients regularly, ISFJ doctors also work to encourage wellness, conduct health screenings, prevent illness, and keep their patients healthy. </p><br>
 <b>Librarian</b>
<p>Libraries are now home to advanced electronic resources, digital records, and access to a wide range of information, with skilled librarians trained to find exactly what is needed. Librarians do everything from organizing community events and programs to helping professionals and students research scholarly and public information. They educate their patrons on technology, such as basic computer skills or even 3D printing. Being a librarian would provide a quiet work environment for an ISFJ, but also allows multiple opportunities for community outreach that appeals to their helpful and resourceful nature. </p><br>
 <b>Research Analyst</b>
<p>Think investigative research. As a research analyst, this dream ISFJ career involves combing through detailed financial reports on equity securities for large companies and studying principles and theories. It means monitoring market conditions for changes that affect sales for their industry. Like all analyst jobs, research analysts collect and analyze data to solve problems and recommend solutions to their employers’ processes to help their coworkers and employers. </p><br>
 <b>Licensed Practical Nurse (LPN) </b>
<p>Many ISFJs work in health care since it is a field that requires the most responsible, reliable, and compassionate individuals. Their ability to protect and pick up emotional cues makes ISFJs excellent nurses. LPNs are nurses who perform both patient care and administrative tasks. They work in traditional health care settings, like hospitals, but also in nursing homes, group homes, or private homes. </p><br>
<b> Personal Assistant/Secretary</b>
<p>Organized, responsible, protecting, caring–all qualities of a good personal assistant or secretary. These roles are often one-on-one, focusing on the needs of an executive or CEO. ISFJs who lean toward solitary work but also require nurturing a personal and professional relationship with a small number of people do well in either of these roles. Managing files, performing clerical work, and arranging travel and events are right up the ISFJ alley. </p><br>


{%endblock%}
