{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfji">Introduction</a><br>
<br><a href="isfjs">Strengths & Weakness</a><br>
<br><a href="isfjc">Career</a><br>
<br><a href="isfjw">Workplace Habits</a><br>
<br><a href="isfjr">Romance</a><br>
<br><a href="isfjf">Friendship</a><br>
<br><a href="isfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Parenthood </h1> <br>

<p>Defenders’ warmth and care make parenting something that often comes naturally to them. Many people with this personality type feel like parenting is the task they were born for, taking no small pleasure in the sense of personal importance and responsibility they feel in ensuring that their children grow up to be healthy, confident and successful. At the same time, Defenders are anything but arrogant, and will hardly take their natural skill in this department for granted.</p> <br>

 <p>From the start, Defenders’ altruism is apparent in their approach towards their children, ensuring that they have a safe, stable environment filled with love, care and support. In their children’s younger years, Defenders’ patience comes in very handy as well, as their children learn to become more independent and self-deterministic, testing any limit they can find.</p> <br><br>

<h2>Seeing the World in Its True Light</h2> <br>

<p>Very traditional personality types, Defenders accept historic standards, with clearly defined roles as parents and children. They view their role, and often rightly so, as the imparter of their own wisdom and values, ensuring that their children understand the importance of dedication and responsibility.</p> <br>

<p>What many Defender parents may not realize is that more independent children often reject the seemingly overbearing love and support that make Defender personalities such wonderful parental figures. They wish to determine their own values and make their own choices, and Defenders’ good intentions can make them feel like every aspect of their lives is sealed off and controlled. All the while, Defender parents must ensure that more dependent children, who are willing to lean on all of this care and support rather than rebel against it, do not take these admirable qualities for granted, neglecting their own independence entirely.</p> <br><br>

<h2>Do Right, Even if We Suffer in so Doing</h2> <br>

<p>Defenders are uncomfortable when their children don’t behave as expected, and oftentimes more insightful children see, and sometimes exploit, this potential weakness with tantrums and mind games. It takes a strong will for Defenders to put their foot down and teach clear and reasonable boundaries and values, while at the same time affording their children the freedom to grow and develop on their own.</p> <br>

<p>Parenting is not easy for any personality type, not if they’re doing it right, but Defenders do have the advantage of not just being caring, but being thoughtful and responsible in how they administer that care. Often seen as ideal parents, people with the Defender personality type are able to be there for their children, but to also know that there’s more to people than meets the eye, and to respect those differences – if not always to understand them.</p>


{%endblock%}
