{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\isfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="isfji">Introduction</a><br>
<br><a href="isfjs">Strengths & Weakness</a><br>
<br><a href="isfjc">Career</a><br>
<br><a href="isfjw">Workplace Habits</a><br>
<br><a href="isfjr">Romance</a><br>
<br><a href="isfjf">Friendship</a><br>
<br><a href="isfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Romantic Relationships </h1><br>

 <p>When it comes to romantic relationships, Defenders’ kindness grows into a joy that is only found in taking care of their family and home, in being there for emotional and practical support whenever it’s needed. Home is where the heart is for people with the Defender personality type, and in no other area of their lives do they strive with such dedication to create the harmony and beauty they wish to see in the world.</p> <br>

<p>The trouble is, these are the benefits of an established long-term relationship, and Defenders’ unbearable shyness means it can take a long time to reach this point. Defenders are most attractive when they are simply being themselves in a comfortable environment such as work, where their natural flow shows this kindness and dedication. Relationships built on established familiarity are a warm prospect for Defenders – they take dating seriously and only enter into relationships that have a real chance of lasting a lifetime.</p> <br><br>

 <h2>Our Upward Course Is Due to Our Soundness of Heart</h2> <br>

<p>Defenders’ shyness and sensitivity shield what are, beneath the surface, incredibly strong feelings. While not always obvious to others, this river of emotion can’t be taken lightly or for granted – Defender personalities can value the idea of committed romance almost as highly as some regard religious beliefs. Hard as it may be, if either dating partner doubts their feelings, they must part ways before real emotional damage is done.</p> <br>

<p>As their relationships do progress, Defenders often continue to struggle with emotional expression, but they have the opportunity to let physical affection stand in for their loving words. People with this personality type take no greater joy than in pleasing others, often even considering this a personal duty, and this applies to intimacy as well. While dutiful sex may not sound especially attractive in those specific terms, intimacy is tremendously important to Defenders, and they spare no effort in this department.</p> <br>

<p>Nor is the pleasure they take in ensuring their partners’ happiness limited to the bedroom – Defenders spend an enormous amount of time and energy finding ways to keep their relationship satisfying for their partners. All they ask in return is commitment, love and, perhaps most of all, appreciation.</p> <br><br>

<h2>Like All the Best Families, We Have Our Disagreements...</h2><br>

 <p>However, not everyone is prepared to pay even that small price for the benefit of Defenders’ kindness. If their partners aren’t willing or able to express this thanks, or worse still are openly critical of their Defender partners, they will find that, given time and pressure, all of those repressed emotions can burst forth in massive verbal attacks that all the future regret in the world won’t blunt.</p> <br>

<p>These outbursts are something to watch out for, but the more pervasive issue in Defenders’ relationships is that it can be too easy for their altruism and kindness to be taken advantage of, maybe even without their partners realizing it, while leaving Defenders’ own needs and dreams unfulfilled. This is something that Defenders’ partners, and Defender personalities themselves, must look after if they want the sort of long, fulfilling relationships they dream about. Expressing appreciation is often more than just the right words, it is reciprocation.</p><br> 

 <p>While perfectly capable in the workplace and among friends, Defenders’ true passions lie in taking care of their families, from playing with their children to the mundane needs of the household, efforts Defenders are only too happy to contribute.</p><br>

 <p>Defenders are trustworthy, loyal, loving and faithful and nothing brings them more joy than the commitment of an appreciative and thriving relationship. The best matches are those who share these sensibilities, namely those who share the Observant (S) trait, with one or two opposing traits to ensure that both partners have room to grow, develop and help each other along, ’til the end of their days.</p> <br>

{%endblock%}
