{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intji">Introduction</a><br>
<br><a href="intjs">Strengths & Weakness</a><br>
<br><a href="intjc">Career</a><br>
<br><a href="intjw">Workplace Habits</a><br>
<br><a href="intjr">Romance</a><br>
<br><a href="intjf">Friendship</a><br>
<br><a href="intjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits</h1><br>

 <p>Architects want to tackle intellectually interesting work with little outside interference. They want no more and no less. Time-consuming management techniques like trust-building gatherings, progress meetings, and long sessions that look backward rather than forward only annoy Architects. All they need – be they subordinates, colleagues, or managers – is to meet their goals with the highest standard of technical excellence. And it may help them if they’re surrounded by people who share those values – if anyone surrounds them.</p> <br>

<p>On paper, this makes them appear to be model employees. In many ways, they are. But a lot of personality types will find working with Architects challenging. Architects have a strict code of conduct when they work. If they see coworkers valuing social activities and accepting “good enough” workmanship over excellence, there’s likely to be trouble. Architects prefer to work in tight, like-minded groups – and a group of one is just fine with this type.</p><br>

 <h2>Architect Subordinates</h2><br><br>

 <p>Architect personalities are independent people. They can become frustrated if they find themselves pushed into roles that limit their freedom. With the direction of an open-minded manager, Architects can set themselves up as experts and earn some of their desired independence. Architects appreciate straightforward, no-nonsense managers. They respect those who lead competently, deliver thoughtful criticism when necessary, and back their decisions with clear logic. And they respect superiors even more when they then step back and give Architects room to work.</p> <br>

 <p>Note that it’s Architects’ expectations of their managers being defined here, and not the other way around, as with some other personality types. Titles mean little to Architects, and they rarely work just to impress a boss. Trust and respect are earned, and Architects expect this to be a two-way street, with all receiving and delivering advice and criticism and all bringing about results. Architects expect their managers to be intelligent enough and strong enough to handle this relationship. A silent Architect conveys a lack of respect better than all their challenges ever could.</p> <br>

<h2>Architect Colleagues</h2><br><br>

 <p>Active teamwork is not ideal for people with the Architect personality type. Independent and private, Architects use their quick minds and insight to turn aside distractions, and they rarely take part in much personal talk or office drama. Architects often foster work environments where they aren’t slowed down by those less intelligent, less capable, or less adaptable to their more efficient methods. They feel no need to bring their colleagues along if they aren’t going to be helpful.</p><br> 

<p>Architects typically gather a small group of trusted colleagues into their brainstorming sessions. They rarely invite coworkers who get too hung up on details, or who have not yet earned their respect. But, more likely, Architects simply go it alone. Their perfectionism and resolve usually mean they produce effective results and clean solutions. These successes give those with the Architect personality type both the time alone they need and the sense of victory they enjoy.</p> <br>

<h2>Architect Managers</h2><br><br>

 <p>Though they may be surprised to hear it, Architect personalities can make great leaders. Architects value innovation and effectiveness more than just about any other quality. They are happy to throw aside the chain of command in favor of effective workflow, recognizing that artificial respect for their authority isn’t necessarily going to bring about good results. Solutions are more important than positions to this type. Whatever works rules the day for these managers.</p> <br>

<p>Architects promote freedom and flexibility in the workplace, and they prefer to treat those who work for them as equals, respecting and rewarding proactive behavior. Their attitudes as managers can be summed up by the phrase, “To the best minds go the responsibilities.” They prefer to direct broader strategies while letting more hands-on workers manage day-to-day activities.</p><br>

 <p>But this freedom isn’t just granted – it’s required. Those who are used to just being told what to do – who can’t direct themselves or challenge existing ideas – have a hard time meeting Architects’ high standards. Efficiency and results are kings to Architects, and behaviors that chip away at these standards are likely crushed. If workers attempt to make up for their poor results by trying to win their Architect boss over with flattery or social attention, they are likely to be disappointed. Those things rarely work with Architects.</p> <br>

{%endblock%}
