{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intji">Introduction</a><br>
<br><a href="intjs">Strengths & Weakness</a><br>
<br><a href="intjc">Career</a><br>
<br><a href="intjw">Workplace Habits</a><br>
<br><a href="intjr">Romance</a><br>
<br><a href="intjf">Friendship</a><br>
<br><a href="intjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths</h1> <br>
 <p>Professional know-how is often where Architects shine most brilliantly. They easily take in complex principles and techniques and change them into clear and actionable strategies. No other personality type comes close to their ability to assess and organize concepts.</p> <br>

<p>Architects can usually sort out the “noise” of a situation, then find the core thread that needs to be pulled to unravel messes – which they then put back together again. In the process, they produce the most elegant solutions to problems. As they grow, their confidence, enthusiasm, and creativity typically lead them to more interesting work. In time, they are likely to earn the independence they typically desire.</p> <br>

 <p>The real problem for Architects is that they need their new and creative ideas to be heard. They need to have someone in charge listen to them. But forming relationships with people who make decisions is not exactly part of the Architects’ core strengths. In their early careers, Architects often have to do boring tasks that don’t challenge them and deal with having their ideas repeatedly rejected. But, with time, they are likely to develop their abilities into skill sets so effective that they get noticed.</p><br><br>

 <h2>Working Best, Working Alone</h2> <br>

<p>People with the Architect personality type usually prefer to work alone or in small groups. There, they can make the most of their creativity and focus without constant interruptions from curious coworkers or supervisors who call too many meetings. Architects are unlikely to be drawn to management roles or anything that involves nonstop interaction and teamwork, often preferring more “lone wolf” jobs. They like a drawing board more than a boardroom meeting. Like so many others, Architects get along best with leaders who understand their style of working and can help advance their visions.</p><br>

 <p>The other side of that coin is that Architects dislike anyone who gets ahead by playing the office politics game well or working a company’s social scene just right. They judge their coworkers by what they can do and not who they know. Architects have high standards – if they view a colleague or supervisor as being not up to those standards or otherwise ineffective, respect can be instantly and permanently lost.</p> <br>

<p>People with the Architect personality type value personal resourcefulness, grit, insight, and commitment in themselves and in others. They believe that everyone should complete their work and meet the highest possible standards. If a social butterfly at work breezes through without carrying their own weight, they may find Architects using their ingenuity to find ways to stop their nonsense.</p><br><br>
 <h2>Earning the Right Positions</h2> <br>

<p>As their careers progress further and their reputations grow, so will the difficulty of the tasks and projects Architects are offered. Architect personalities demand progress and evolution, and they love to explore new ideas. They often satisfy this by pushing themselves into more active strategic positions. While they don’t care for the spotlight, Architects do enjoy controlling their ideas. They often take on low-profile but influential roles as project managers, systems engineers, marketing strategists, systems analysts, and military strategists.</p> <br>

<p>But really, Architects’ vision, creativity, and skill in carrying out their plans make these personalities possible candidates for just about any career. Some careers, such as sales and human resources, don’t necessarily play to their strengths, but that shouldn’t stop them if they decide to take up these kinds of work. Architects have the qualities necessary to work in just about any organization if they decide to. And if they find nothing out in the world, they usually have in abundance what it takes to start their own businesses.</p> <br>



<b> Civil Engineer</b>
<p>This may be the perfect job for the innovative yet logical INTJ personality. Civil engineers require vision and acute problem-solving skills to design and execute a range of vital infrastructure. Projects can range from transportation systems to waste management to earthquake engineering. They often design and implement plans and simulations using 2-D or 3-D computer software. Precision and the highest standards are crucial to all fields within civil engineering.</p><br>

<b> Content Writer</b>
<p>Jack of all trades, master of none. For the INTJ who wants to learn about everything, a content writer may be the ideal gig. Content writers develop and create content for print, digital media, or product descriptions. Often working as freelancers and on their own schedule, they produce well-researched and accurate content delivered on tight deadlines. They follow and improve on editorial style guides, and excellent writing, spelling skills, and a firm grasp on grammar are essential to the role. Over the course of their day, a content writer can cover a wide variety of topics for multiple platforms such as websites, blogs, articles, social updates, banners, case studies, guides, and whitepapers.</p><br>
<b> Database Administrator</b>
<p>A detailed job that requires focus on both long-term goals and the minute details, an INTJ would thrive as a database administrator. Testing systems, managing computer databases systems, and coordinating changes are just some of a database administrator’s duties. They plan and implement security measures to safeguard computer databases.</p><br>
<b>Illustrator</b>
<p>Illustrators must be creative and driven, creating individual artwork which enriches the message of the broader work.  This makes it an excellent career choice for INTJ personality types. Some illustrators work in traditional media, utilizing watercolors or oil paint to produce their designs. Others use illustration and editing software to create digital images for everything from architectural graphics to children’s books.</p><br>
<b>Logistics Manager</b>
<p>Logistics managers keep things running smoothly. INTJs, who continuously search for better or more efficient solutions, do well in this role. Logistics managers plan, direct, and coordinate purchasing, warehousing, distribution, forecasting, customer service, or planning services. They manage logistics personnel and logistics systems and direct daily operations. It’s their responsibility to coordinate all shipments for all locations, review and analyze budgets, expenditures, and operations. They determine the needs for expansion of routes or schedules, develop and manage logistics KPIs, and develop and document new and standard operating procedures.</p><br>
<b>Project Manager</b>
<p>Project managers have responsibilities to match their title—they manage projects in a variety of industries. INTJs who become project managers will strategizes plans, organize timelines, manage budgets, delegate responsibilities, supervise employees, and implement the project. They create a timeline and budget and stick with it. They have a hand in the overall project and make sure there are enough people to handle the details. As a project manager, they are in charge of organizing and supervising every aspect; from the tiniest details to the big-picture view.</p><br>
<b> Quantity Surveyor</b>
<p>An excellent job for an INTJ who wants to work toward a long-term goal. A quantity surveyor is in charge of estimating costs of building, architectural, and construction projects. They manage, direct, and develop plans and budgets for the scope of the project. Working with contractors, builders, and architects, the quantity surveyor will provide the most cost-efficient plans to complete building to meet high-quality standards. They review and compare pricing, document materials needed and used, and track changes to plans.</p><br>
<b> Loan Officer</b>
<p>As a loan officer, INTJs will find their independence rewarded. The role requires someone who can analyze financial histories, prepare loan proposals, and evaluate loan applications. They act as a liaison between financial institutions, individuals, and businesses applying for loans, and need to know the ins-and-outs of policies and processes. This is solo work which presents new challenges every day.</p><br>


{%endblock%}
