{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intji">Introduction</a><br>
<br><a href="intjs">Strengths & Weakness</a><br>
<br><a href="intjc">Career</a><br>
<br><a href="intjw">Workplace Habits</a><br>
<br><a href="intjr">Romance</a><br>
<br><a href="intjf">Friendship</a><br>
<br><a href="intjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Parenthood</h1> <br>
 <p>Parenting, like so many other person-to-person relationships, is a challenge for people with the Architect personality type. Being so devoted to rational thought, logic, and analyzing cause and effect, Architects aren’t always prepared to deal with people who haven’t developed these same abilities – like children. But these parents can’t walk away from their still-learning offspring as they might a clueless adult. Luckily, Architects thrive on committing to long-term projects. This may be especially true for a lifelong project as meaningful as parenthood.</p> <br><br>
 <h2>The Challenge of Emotional Support</h2> <br>
<p>Architect parents aren’t prone to give as much warmth as the classic images of parenting suggest they should. They are often insensitive and not prone to displays of affection. But children need cuddling and other expressions of love, especially during the younger years. And if Architects have children who are more sensitive, they may carelessly step on their feelings trying to make sense of things. It can take a clear effort on their part to transform their colder traits into something warmer and more child-friendly.</p> <br>
<p>Even less sensitive children need emotional support occasionally. This is especially true of adolescents. Architects, even more than other Analyst types, have trouble handling their own emotions. They often struggle to be much help as their children grow into theirs.</p><br>

 <p>Architects also tend to avoid tackling a problem that doesn’t go along a well-defined path to a definitive answer – and emotional issues sometimes don’t. Architects are strongest when finding a root cause and developing a plan to solve a problem. But sometimes the best solution to a kid’s problem is just sitting with the child as they explore their feelings.</p> <br>
<p>Architects also recognize that life is often the best teacher, and they tend to be a bit more liberal with boundaries, allowing their children to have their own adventures and make many of their own decisions. They believe in developing their critical thinking skills. This isn’t to say that Architect parents are lenient – far from it. Rather, they expect their children to use their freedom responsibly, and this expectation alone is enough for parent and child to develop mutually appreciated ground rules.</p><br>
 <p>When necessary, Architect parents speak openly with their children. They typically believe in honesty and that knowing the truth is better than not knowing it. They hold tight to the idea that being right is far better than being wrong and, for better or worse, pass this attitude on to their children.</p><br><br>
 <h2>Raising Children to Be Capable Adults</h2><br>
 <p>If their children accept their approach to parenting, they begin to trust and respect their Architect parents. Architect personalities are excellent communicators when they want to be. They frame problems as opportunities for personal growth. They help their children develop their own style of rational thinking and problem-solving. With their parents’ guidance, children can apply this to more and more complex situations, building their confidence as they grow. Architects try to make sure that their children are prepared to deal with anything life throws at them.</p> <br>

<p>All this comes from Architects’ core philosophy of intelligent self-direction. These personalities try to mold their children in their own image. They work to raise capable adults who can use their own minds, solve their own problems, and help their own children do the same when the time comes. Architects understand this can’t happen if they protect their children from every difficult or unpleasant thing in life. But then, they believe that if they give their children the right tools, they won’t have to.</p> 

{%endblock%}
