{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entpi">Introduction</a><br>
<br><a href="entps">Strengths & Weakness</a><br>
<br><a href="entpc">Career</a><br>
<br><a href="entpw">Workplace Habits</a><br>
<br><a href="entpr">Romance</a><br>
<br><a href="entpf">Friendship</a><br>
<br><a href="entpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1>
<p>If there’s one thing Debaters are good at, it’s coming up with a never-ending stream of innovations and ideas to keep things moving forward, and this is evident in their romantic relationships as well. For people with the Debater personality type growth is key, and even before they’ve found a dating partner, they imagine all the ways that they can experience new things together, to grow in tandem. This can be an overwhelming process if their partner doesn’t match up, but when Debaters find someone who shares their love of intellectual exploration, watch out. </p>
<br><h3>Show Me a Satisfied Man, and I’ll Show You a Failure</h3>
<p>From the earliest dates, Debaters test their partners’ limits for this kind of potential, pushing boundaries and traditions, looking for open-mindedness and spontaneity. Dating Debater personalities is hardly a boring experience, and they make use of their enthusiasm and creativity by delighting and surprising their partners with new ideas and experiences. </p>
 
<p>Debaters’ idea of fun is often rooted in self-improvement, and people with this personality type bring their partners along the way, as much in a spirit of sharing as in a spirit of expectation. Debaters see either growth or stagnation and don’t buy into the idea of a happy status quo, making them demanding as much as they are exciting. </p>
<p>Some may tire in the face of this constant improvement – while Debaters’ vigor can be attractive, it can also wear down even the most patient partners. A little time to breathe and a chance to rest on one’s laurels for a moment is necessary for many people, but not something Debaters are likely to appreciate. However, if their unwavering enthusiasm is met in kind, it can lead to a magnificent relationship characterized by its strength, depth, and spark. </p>
<br><h3>Genius Is One Percent Inspiration and Ninety-Nine Percent Perspiration</h3>
<p>This is perhaps most evident as Debaters’ relationships progress into more intimate situations. All that exploratory curiosity and enthusiasm has a chance to be expressed in new ways when Debaters and their partners come together, and they readily encourage their partners to try new things, to enjoy their intimacy without preconceived limitations.
For people with the Debater personality type, this phase of their relationships is a chance to improve and develop in areas that are outside the realm of academia, though they approach it in much the same way – as a physical and intellectual process of striving towards excellence, rather than a spiritual or emotional expression of affection. </p>
<p>Debaters’ desire to improve in this department makes them fantastic partners when the relationship reaches that point, but their attitude towards this process is also evidence of their most glaring shortcoming – their emotional obliviousness. While Debaters are more open-minded than other Analyst personality types about others’ perspectives, they are also more likely to express their disdain for such things as emotional sensitivity in cuttingly well-phrased and clear terms, easily hurting their partners’ feelings without realizing it. Debater personalities may even ignore their partners’ feelings altogether, instead immersing themselves entirely in some distant idea or opportunity, inaccessible. </p>
<p>Debaters’ best compatibility rests with other Intuitive (N) types, with one or two opposing traits which help to create both balance and opportunities for growth. If they are with a more sensitive partner, this can be an excellent way for them to find another quality that they can work on together, making this weakness yet another opportunity to be creative, challenge themselves, and to deepen the attractiveness that this sense of progression brings to their relationships. </p>

{%endblock%}





