{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entpi">Introduction</a><br>
<br><a href="entps">Strengths & Weakness</a><br>
<br><a href="entpc">Career</a><br>
<br><a href="entpw">Workplace Habits</a><br>
<br><a href="entpr">Romance</a><br>
<br><a href="entpf">Friendship</a><br>
<br><a href="entpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>Debaters have straightforward expectations in the workplace, but ones that aren’t always easy to meet. Strong believers in meritocracy, people with the Debater personality type expect their ideas to be heard by those above them, expect robust debate among their peers, and demand that those they manage offer up new solutions and ideas regardless of their positions. While this isn’t always how things play out in reality, Debaters know what to look for, and can avoid those strictly hierarchical institutions that they would otherwise struggle with.</p>
<br><h3>Debater Subordinates</h3>
<p>This dynamic is clearest with Debater subordinates, as they are comfortable challenging their managers’ ideas and have a strong (and well-expressed) dislike for restrictive rules and guidelines. Debaters back this unorthodox behavior with their keen minds and curiosity, and are as capable of adopting new methods as they are of suggesting others do so. If something can be done better, it’s as simple as that, and Debater personalities gladly take criticism, so long as it’s logical and performance-oriented.</p>
 
<p>The biggest challenge for Debater subordinates is that it is often the fate of the “lower” positions to implement the details, do the dirty work and follow through on plans set out by their managers. This couldn’t be further from what Debaters prefer to spend their time on – they can’t stand simple, routine work, and monotonous tasks are the stuff of nightmares. Things go over much better if managers are able to properly utilize Debaters’ preference for tackling complex challenges and diverse projects.</p>
<br><h3>Debater Colleagues</h3>
<p>It is as colleagues that Debaters prove most polarizing, as their passions for brainstorming, debate and over-analysis drive more practical, task-oriented colleagues crazy, but serve as stimulating inspiration for those who appreciate the innovation Debaters bring. Nothing bothers people with the Debater personality type more than getting out of a meeting where everyone agreed with the first plan presented, only to hear everyone complain about how stupid the plan was ten minutes later – but they “didn’t want to make waves”. Debaters strive for honest, direct and objective assessments of these ideas, so much so that they often earn reputations for their insensitivity and condescension.</p>
<p>Luckily Debaters know how to relax too, and their witty wordplay, healthy sense of humor and outgoing nature win new friends quickly and easily. Always willing to draw on their repository of knowledge, conversations with Debater personalities are informative and entertaining, which makes it easy for them to be the go-to person for tough problems that stump more rote approaches. Peer-to-peer relationships with Debaters aren’t always easy, but it’s tough to argue that they don’t work.</p>
<br><h3>Debater Managers</h3>
<p>While not always their goal, management is often where Debaters are most at home, allowing them the freedom to fiddle with different approaches and come up with innovative ways to tackle new challenges without having to handle the tedious step-by-step implementation of these plans. Debaters are open-minded and flexible managers, not just granting but also expecting the same freedom of thought that they themselves enjoy. This can lead to disorder, conflicting ideas and approaches being put forward, but Debaters are also great at accurately and objectively assessing which plan is likely to be most effective.</p>
<p>This doesn’t always make friends, but being liked is less Debaters’ goal than being respected and seen as intelligent and capable. And liked or no, people with this personality type hold firm ground in rational debates, making them fearsome advocates for their teams. The challenge for Debaters is focus, as they may find themselves jumping from project to project in a quest for challenge and excitement before their teams are able to wrap up the details of their existing goals and obligations.</p>

{%endblock%}





