{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entpi">Introduction</a><br>
<br><a href="entps">Strengths & Weakness</a><br>
<br><a href="entpc">Career</a><br>
<br><a href="entpw">Workplace Habits</a><br>
<br><a href="entpr">Romance</a><br>
<br><a href="entpf">Friendship</a><br>
<br><a href="entpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Friendships</h1>
<p>Loyalty, support, emotional feedback – these are not what Debaters look for in their friendships. The last thing people with the Debater personality type want to hear is “you’re right”, not unless they have absolutely earned the distinction in a heated round of intellectual debate. If they’re wrong, Debaters want to be told so, and they want every detail of the faults in their logic to be laid bare, partly in their quest for oftentimes arbitrary truth, and partly just so they have to work to defend that logic with counterpoint and parry. </p>
<p>It’s often easy for Debaters to test compatibility with a potential friend – they just need to test combatability. Debater personalities are quick-witted, and their primary means of expressing this is in the form of arguments and discussions, where they will easily spend an entire evening debating an idea they may not even believe in. </p>
<p>These debates are never taken personally, no matter how heated they become or how striking the disagreement. Much as an athlete competes for the physical exertion and the spirit of competition itself, Debaters debate for the sake intellectual stimulation and for the debate itself, and even in overwhelming victory or crushing defeat, it’s never about dominance, only inspiration to try harder next time. </p>
<br><h3>When You Play, Play Hard</h3>
<p>They know how to relax and have fun too, it’s just that “fun” to Debaters – a bottle of wine and a discussion about the causes of and solutions to the European migrant crisis – could be described as “an evening from hell” by many other personalities. But Debaters are a genial and enthusiastic personality type for the most part, and pretty much any situation that allows for conversation and a little wordplay is an enjoyable outing. </p>
 
<p>Debaters are actually remarkably good at communicating with friends and acquaintances of other personality types. Their natural tendency to argue as effectively as possible means that Debaters are accustomed to communicating in other people’s language and frame of reference, and this translates well into normal conversation. Where people with the Debater personality type do have difficulty relating to others is in emotional expression, the Achilles’ heel of all Analyst types. </p>
<br><h3>The Worst Thinking Has Been Done in Turmoil</h3>
<p>Being inclined to suppress their emotions and feelings, when Debaters are faced with a friend who, figuratively or literally, needs a shoulder to cry on, they have no clue how to handle the situation. They are perfectly willing and happy to offer a series of rational, reasonable solutions to the problem at hand, as Debaters do for any situation where a problem needs to be fixed, but they are certainly not known for their sensitivity or outward affection, no matter how intuitively they may understand another’s position. </p>
<p>Worse is when Debater personalities try to turn these emotional situations into something they find more comfortable: a debate. Given how remarkably good Debaters are at arguing both sides of a point, they are remarkably bad at putting themselves in someone else’s shoes from an emotional standpoint. Debaters should avoid at all costs the temptation to turn a discussion about the causes of a friend’s recent breakup into competitive intellectual fodder. </p>
<p>So long as everyone understands not to take their words too personally, anyone who isn’t afraid to discuss new ideas – and have them converted into so much confetti – is likely to find stimulating and thought-provoking friends in Debaters. It’s not a compatibility that clicks with everyone, but Debaters don’t really care about being liked by everyone anyways. As long as they get to alternate between being the sounding board and the megaphone, Debaters and their friends are bound to enjoy each other’s company for a long, long time. </p>

{%endblock%}





