{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\entp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="entpi">Introduction</a><br>
<br><a href="entps">Strengths & Weakness</a><br>
<br><a href="entpc">Career</a><br>
<br><a href="entpw">Workplace Habits</a><br>
<br><a href="entpr">Romance</a><br>
<br><a href="entpf">Friendship</a><br>
<br><a href="entpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1>
<p>In the world of careers, Debaters have the benefit of being naturally engaged and interested in being productive and helpful. But rather than the sort of people-oriented helpfulness that Diplomat personality types bring to the table, Debater personalities are focused on developing solutions to interesting and diverse technical and intellectual problems. Debaters are a versatile personality type, and while it may take time for them to get to a point where they can fully utilize their skillset and qualities, they are likely to find that those qualities translate well into pretty much any career that so much as piques their interest.</p>
<p>Not every career allows this level of unbridled brainpower, but there are those that demand nothing but: entrepreneurship, engineering, even acting and photography. So long as Debaters are honest with themselves about their strengths and weaknesses, they can thrive in most any career that is in need of a new line of thinking.</p>
 
<br><h3>The Value of an Idea Lies in the Using of It</h3>
<p>All this intellectual power can be intimidating, but unlike their Introverted (I) cousins, people with the Debater personality type have the added benefit of being excellent communicators, in the written word but especially in face-to-face conversation. Though they dislike the constraints of managing others (and of being managed), this social adaptability allows Debaters to be natural leaders, showing the way forward and inspiring others with sound logic and intellectual prowess. While others may object to these plans with emotional considerations or general resistance to change, things Debaters place little value in, these competing comments are usually outmaneuvered by Debater personalities’ deft arguments and subtly shifting goals.</p>
<p>The best careers reward intellectual competency and curiosity, allowing Debaters to utilize their never-ending flow of ideas productively by affording a degree of spontaneity in how they engage their intellectual pursuits. People with the Debater personality type value knowledge, rational thought and insight very highly, and they make brilliant lawyers, psychologists, systems analysts and scientists. It’s even possible for Debaters to thrive as sales representatives, as they rationalize purchase decisions that may otherwise seem discretionary – so long as their managers know to give them the space they need to work their magic.</p>
<br><h3>Being Busy Doesn’t Always Mean Real Work</h3>
<p>Really it all comes down to a sense of personal freedom, for Debaters to know that they are allowed to apply themselves fully to understanding and solving the problems that interest them, without getting bogged down by social politics and trying to figure out what makes other people “tick”. Routine, structure and formal rules all feel like unnecessary hindrances to Debaters, and they may find that their best careers yet allow them to engage their intellectual pursuits on their own terms, as freelance consultants or software engineers.</p>
<p>The key for Debaters is to have the patience to get to a position that allows for these freedoms, to be in an environment long enough that not just their colleagues, but their managers and, in time, their subordinates, recognize what it is that they bring to the table. Debaters have exceptional qualities – it’s quantifying their achievements and skills that presents the biggest challenge. But once they’ve got their foot in the door, once they’ve got a willing ear higher in the hierarchy, the sky’s the limit</p>
 <b>Stock Trader</b>
<p>When it comes to looking at the big picture and finding creative ways around set ideas, the ENTP can find a home as a stock trader. It’s a job that requires intelligence and fast-thinking and often requires making important decisions on your feet. Stock traders buy and sell stocks and securities. Since they have to be strong negotiators, the debate skills of the ENTP come in handy. </p>
  <b>Engineer</b>
<p>The ENTP is sometimes known as the inventor or engineer of the personalities. Why not take that literally? An engineer has a demonstrated ability in being a technically minded problem-solver and can show numerical and scientific expertise. They understand complex mathematical data for design and troubleshooting, and can solve problems before most people even spot them. </p>
 <b>Lawyer</b>
<p>For a person who likes an intelligent debate, the role of a lawyer is a solid fit. Arguing in a court is just one side of the job, but combined with the sharp skills needed to maintain and grow in the role, it is a fit for the ENTP. A lawyer is responsible for compiling and maintaining case files, adhering to court requirements, and acting as an advocate to a list of clients. They must be up-to-date on the law and legal changes, and always learning. </p>
  <b>Operations Manager</b>
<p>The operations manager is responsible for the overall efficiency of the business. This means developing strategies to improve efficiency and productivity, as well as managing the supervising, hiring, and training other employees. For an ENTP who wants to brainstorm with like-minded individuals, this job allows them to pick their teammates and improve the company with new ideas. </p>
  <b>Relationship Manager</b>
<p>Knowing every side to the story is a bonus for an ENTP relationship manager. The relationship manager is an outgoing and customer service-oriented generator of new business opportunities and sales. They are responsible for meeting with clients, educating them about their organization’s services, and guiding them to make the best decisions</p>


 <b>Film Producer</b>
<p>A film producer is like the CEO of a movie. They make the big decisions, finance the film, and oversee everything from development to post-production and distribution. For an ENTP movie-lover, it’s a role which requires creativity, new ideas, and the dedication to keep dreaming big. </p>
 <b> Public Relations Specialist</b>
<p>A public relation specialist position requires a charismatic individual who will serve as the public image of a company or organization. Someone who can showcase and defend a company’s strengths, and has the knowledge and understanding of their industry and business to back up their claims. That’s where the ENTP comes in—promoting and creating press releases, videos, and media folders to share info and promote the business is right up their alley. </p>
  <b>Training Manager</b>
<p>Confidently speaking, brainstorming new ideas, and being the center of attention? Perfect for the ENTP. Training managers are responsible for overseeing, designing, developing, coordinating, and running both large- and small-scale training programs. This is an excellent job for an ENTP, which requires speaking to large groups of people and creating new ways to achieve their organization’s training goals. </p>


{%endblock%}





