{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Introduction </h1> <br>

<p>Mediator personalities are true idealists, always looking for the hint of good in even the worst of people and events, searching for ways to make things better. While they may be perceived as calm, reserved, or even shy, Mediators have an inner flame and passion that can truly shine. Comprising just 4% of the population, the risk of feeling misunderstood is unfortunately high for the Mediator personality type – but when they find like-minded people to spend their time with, the harmony they feel will be a fountain of joy and inspiration.</p> <br>

 <p>Being a part of the Diplomat Role group, Mediators are guided by their principles, rather than by logic (Analysts), excitement (Explorers), or practicality (Sentinels). When deciding how to move forward, they will look to honor, beauty, morality and virtue – Mediators are led by the purity of their intent, not rewards and punishments. People who share the Mediator personality type are proud of this quality, and rightly so, but not everyone understands the drive behind these feelings, and it can lead to isolation.</p><br><br>

<h2>We Know What We Are, but Know Not What We May Be</h2> <br>

<p>At their best, these qualities enable Mediators to communicate deeply with others, easily speaking in metaphors and parables, and understanding and creating symbols to share their ideas. Fantasy worlds in particular fascinate Mediators, more than any other personality type. The strength of their visionary communication style lends itself well to creative works, and it comes as no surprise that many famous Mediators are poets, writers and actors. Understanding themselves and their place in the world is important to Mediators, and they explore these ideas by projecting themselves into their work.</p><br>

<p>Mediators’ ability with language doesn’t stop with their native tongue, either – as with most people who share the Diplomat personality types, they are considered gifted when it comes to learning a second (or third!) language. Their gift for communication also lends itself well to Mediators’ desire for harmony, a recurring theme with Diplomats, and helps them to move forward as they find their calling.</p> <br><br>

<h2>Listen to Many People, but Talk to Few</h2> <br>

<p>Unlike their Extraverted cousins though, Mediators will focus their attention on just a few people, a single worthy cause – spread too thinly, they’ll run out of energy, and even become dejected and overwhelmed by all the bad in the world that they can’t fix. This is a sad sight for Mediators’ friends, who will come to depend on their rosy outlook.</p><br>

 <p>If they are not careful, Mediators can lose themselves in their quest for good and neglect the day-to-day upkeep that life demands. Mediators often drift into deep thought, enjoying contemplating the hypothetical and the philosophical more than any other personality type. Left unchecked, Mediators may start to lose touch, withdrawing into “hermit mode”, and it can take a great deal of energy from their friends or partner to bring them back to the real world.</p> <br>

<p>Luckily, like the flowers in spring, Mediator’s affection, creativity, altruism and idealism will always come back, rewarding them and those they love perhaps not with logic and utility, but with a world view that inspires compassion, kindness and beauty wherever they go.</p> 

{%endblock%}





