{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths </h1> <br>

<p>It is perhaps more challenging for Mediators to find a satisfying career than any other type. Though intelligent, the regimented learning style of most schools makes long years earning an advanced degree a formidable undertaking for people with the Mediator personality type – at the same time, that’s often what’s needed to advance in a field that rings true for them. Mediators often wish that they could just be, doing what they love without the stress and rigor of professional life.</p> <br>

<p>Oftentimes, as with so many things, the answer lies somewhere in the middle, in a line of work that begins with passion and dedication, but which comes to require training so that the academia feels intimately linked to that passion. Too many Mediators drift in frustration, ultimately succumbing to the necessities of day-to-day life in a job that wasn’t meant for them. But it turns out that, despite such exacting demands, modern economics places a premium on the very keys to Mediators’ challenges: their creativity, independence, and need for meaningful relationships with individuals who need their help.</p> <br><br>

 <h2>There’s Place and Means for Everyone</h2> <br>

<p>First and foremost is seemingly every Mediators’ dream growing up – to become an author. While a novel is a classic choice, it is rarely an accessible one, and there are many viable options for freedom-loving Mediators. The internet brings to the world the opportunities of blogging and freelance work – as organizations expand their reach beyond their native tongues, they will come to depend on Mediator personality types, with their gift for language and written expression, to take their rougher translations and stale pitches and inject them with a sense of beauty and poetry. Smaller organizations will need more than ever to express with elegance the value they bring to local communities.</p> <br>

 <p>The real beauty here is that it takes a core interest that people with the Mediator personality type share, while helping a cause they believe in, independently, through creative expression and personal growth, and makes it applicable to any interest there is. There will always be a need, and now more than ever, to win people’s hearts and minds with the written word.</p> <br>

<p>Some Mediators will prefer a still more personal touch, being able to work face-to-face with clients, seeing that their personal effort really impacts another’s quality of life. Service careers such as massage therapy, physical rehabilitation, counselling, social work, psychology and even academic roles and retraining can be exceptionally rewarding for Mediators, who take pride in the progress and growth they help to foster. People with the Mediator personality type have a tendency to put others’ interests ahead of their own, a mixed blessing by itself, but when a patient takes their first unaided step in the long road to recovery after an accident, nothing will feel more rewarding than that selflessness.</p><br><br>

 <h2>If to Do Were as Easy as to Know What Were Good to Do...</h2><br>

 <p>Where Mediators will not thrive is in a high-stress, team-heavy, busy environment that burdens them with bureaucracy and tedium. Mediators need to be able to work with creativity and consideration – high-pressure salespeople they are not. It can be a challenge to avoid these roles, as they are the basis for so much starting work, and it’s often a risk to break away into something less dependable, but more rewarding. To find a career that resonates with Mediators’ values though, that’s more than just a job, sometimes it’s just what needs to be done.</p> <br>

<b>Writer</b>
<p>As natural empaths, INFPs have a unique ability to connect with readers’ emotions. Their individualism contributes to their outside-the-box thinking as well, so they’ll never run out of inspiration. </p><br>

<b>Marketer</b>
<p>The same talents that make INFPs so well-suited for writing serve them equally well as marketers. They are creative and understand the wants, needs, and problems of their target demographic intuitively. This uncanny knack stems from being easily able to imagine themselves in their customer’s shoes. They know their fears, hopes, and joys, and what will get their target customers closer to the call to action. </p><br>
<b>Counselor</b>
<p>Therapy is the perfect place for an INFP to utilize their genuine caring for others. It’s no coincidence that INFPs are thought of as natural healers. The INFP’s strong communication skills also help them to build rapport with their patients. </p><br>
<b> Teacher</b>
<p>A key trait any great teacher must have is patience, and patience often comes from compassion and understanding. On top of that, INFPs are astute observers of the world, so they have a treasure trove of knowledge to offer their students. INFP teachers are also passionate about growth and creativity so they will encourage their students to think outside the box. </p><br>
<b> Psychologist or Psychiatrist</b>
<p>Despite only comprising about 10-15% of the general population, one survey showed that roughly one-third of psychologists are either INFPs or ENFPs. 85% of psychologists also prefer intuiting as their go-to method of bringing information out. This falls perfectly in line with INFPs natural tendency to use their intuition. </p><br>
<b> Graphic Designer</b>
<p>Artistic INFPs will find graphic design to be an ideal career path. Between graphics, layout, color, text, and even subtext, the INFP graphic designer has tremendous influence over the aesthetics of the final product. </p><br>
<b> Human Resources Specialist</b>
<p>HR specialists help employers with workplace satisfaction, employee benefits, hiring, and other employment needs. This requires a keen ability to read people and sense what the job candidates are looking for as well. An INFP’s natural empathy is a huge asset in this career since HR specialists play a critical role in making sure companies know how to keep their employees happy. </p><br>
<b> Public Relations Specialist</b>
<p>INFPs who possess particularly strong communication skills will do well in a career in public relations. As a PR specialist, you are the liaison between the public and your client. Because of your natural inclination to perceive, you have an advantage going into this field. </p><br>
<b> Physical Therapist or Occupational Therapist</b>
<p>Physical and occupational therapy are an excellent fit for INFP personality types. The day-to-day tasks of an occupational therapist vary but often include: planning out the rehabilitative routine to fit the needs of their patients, helping to improve skills and function of patients for better performance at daily tasks, and assisting patients to recover from serious injuries. PTs and occupational therapists must be invested in their patient’s progress, which is perfect for the INFP, wh0 is also known as “The Healer.” </p><br>
<b> Athletics Coach</b>
<p>Successful athletics coaches are great communicators, mediators, and strategists, and INFPs share these characteristics. Most of all, coaches need to be able to develop relationships with their players in order to properly motivate them.</p><br>


{%endblock%}





