{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1> <br>

<p>In the workplace, Mediators face the challenge of taking their work and their profession personally. To Mediators, if it isn’t worth doing, it isn’t really worth doing, and this sense of moral purpose in their work colors everything from how they respond to authority to how they express it. Though the way the Mediator personality type shows through depends on the position, there are a few basic truths about what Mediators seek in the workplace: they value harmony, need an emotional and moral connection to their work, and loathe bureaucratic tedium.</p> <br><br>

 <h2>Mediator Subordinates</h2><br>

 <p>As subordinates, Mediators prefer latitude, and would much rather immerse themselves in a project, alone or with a close team, than simply be told what task to do and move on. People with the Mediator personality type aren’t looking for easy, forgettable work that pays the bills, they’re looking for meaningful work that they actually want to think about, and it helps for their managers to frame responsibilities in terms of emotional merit rather than cold rationalization or business for its own sake. Mediators would rather know that their work will help to deliver a service they believe in than to know that the bottom line has been boosted by 3%.</p><br>

 <p>If these standards are met, managers will find an extremely dedicated and considerate employee in Mediators. As idealistic opportunity-seekers Mediators may not always work well in technical applications, where the facts and logic really matter and critique is often necessary, but they work beautifully in more human and creative endeavors. While some types, especially those in the Analyst Role group, respond favorably to negative feedback, taking criticism as an opportunity to not make the same mistake twice, people with the Mediator personality type would much rather hear what they did right and focus on what to do, rather than what not to.</p><br><br>

 <h2>Mediator Colleagues</h2><br>

 <p>Mediators feel most comfortable among colleagues – they aren’t interested in controlling others, and have a similar distaste for being controlled. Among their colleagues, Mediators will feel freer to share their ideas, and while they may maintain some psychological distance, they will make every effort to be pleasant, friendly and supportive – so long as their coworkers reciprocate. Mediators don’t like conflict or picking sides, and will do everything they can to maintain harmony and cooperation.</p> <br>

<p>Most of this comes down to good communication, which Mediators prefer to conduct in person, for that personal touch, or in writing, where they can compose and perfect their statements. People with the Mediator personality type avoid using phones if they can, having the worst of both worlds, being both detached and uncomposed. Mediators also like to feel like their conversations are meaningful, and while they enjoy exploring philosophy more than most, their patience for arbitrary hypothetical brainstorming or dense technical discussions is limited.</p> <br><br>

<h2>Mediator Managers</h2><br>

 <p>As managers, Mediators are among the least likely to seem like managers – their egalitarian attitudes lend respect to every subordinate, preferring communication as human beings than as a boss/employee opposition. People with the Mediator personality type are flexible, open-minded and give their subordinates the tools they need, be they responsible delegation or an intuitive and receptive sounding board, to get the job done. Keeping their eyes on the horizon, Mediators set goals that achieve a desirable end, and help the people working under them to make that happen.</p><br>

 <p>There is a downside to this style, as sometimes the boss just needs to be the boss. Mediators know how they feel about criticism, and are reluctant to subject others to that same experience, whether it’s needed or even welcome. Further complicating this role, when Mediators are under stress, as when someone really does warrant criticism, they can become extremely emotional – they may not show it, but it can affect their judgment, or even cause them to withdraw inwards, in ways that can really hold back their team.</p> <br>

{%endblock%}





