{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Romantic Relationships </h1> <br>

<p>Mediators are dreamy idealists, and in the pursuit of the perfect relationship, this quality shows strongest. Never short on imagination, Mediators dream of the perfect relationship, forming an image of this pedestalled ideal that is their soul mate, playing and replaying scenarios in their heads of how things will be. This is a role that no person can hope to fill, and people with the Mediator personality type need to recognize that nobody’s perfect, and that relationships don’t just magically fall into place – they take compromise, understanding and effort.</p> <br><br>

<h2>Love All, Trust a Few, Do Wrong to None</h2> <br>

<p>Fortunately these are qualities that Mediators are known for, and while it can be a challenge to separate long-fostered fantasy from reality, Mediators’ tendency to focus their attention on just a few people in their lives means that they will approach new relationships wholeheartedly, with a sense of inherent value, dedication and trust.</p> <br>

<p>But Mediators aren’t necessarily in a rush to commit – they are, after all, Prospecting (P) types, and are almost always looking to either establish a new relationship or improve an existing one – they need to be sure they’ve found someone compatible. In dating, Mediators will often start with a flurry of comparisons, exploring all the ways the current flame matches with the ideal they’ve imagined. This progression can be a challenge for a new partner, as not everyone is able to keep up with Mediators’ rich imagination and moral standards – if incompatibilities and conflict over this initial rush mount, the relationship can end quickly, with Mediators likely sighing that “it wasn’t meant to be.”</p><br>

 <p>As a relationship takes hold, people with the Mediator personality type will show themselves to be passionate, hopeless romantics, while still respecting their partners’ independence. Mediators take the time to understand those they care about, while at the same time helping them to learn, grow and change. While Mediators are well-meaning, not everyone appreciates what can come across as constantly being told that they need to improve – or, put another way, that they’re not good enough. Mediators would be aghast to find that their intents were interpreted this way, but it’s a real risk, and if their partner is as averse to conflict as Mediators themselves, it can boil under the surface for some time before surfacing, too late to fix.</p><br><br>

 <h2>Better Three Hours Too Soon Than a Minute Too Late</h2><br>

 <p>This aversion to conflict, while contributing greatly to stability in the relationship when done right, is probably the most urgent quality for Mediators to work on. Between their sensitivity and imagination, Mediators are prone to internalizing even objective statements and facts, reading into them themes and exaggerated consequences, sometimes responding as though these comments are metaphors designed to threaten the very foundations of their principles. Naturally this is almost certainly an overreaction, and Mediators should practice what they preach, and focus on improving their ability to respond to criticism with calm objectivity, rather than irrational accusations and weaponized guilt.</p> <br>

<p>But that’s at their uncommon worst – at their best, Mediators do everything they can to be the ideal partner, staying true to themselves and encouraging their partners to do the same. Mediators take their time in becoming physically intimate so that they can get to know their partners, using their creativity to understand their wants and needs, and adapt to them. People with this personality type are generous in their affection, with a clear preference for putting the pleasure of their partners first – it is in knowing that their partners are satisfied that Mediators truly feel the most pleasure.</p> 

{%endblock%}





