{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>

<p>The true friends of people with the Mediator personality type tend to be few and far between, but those that make the cut are often friends for life. The challenge is the many dualities that this type harbors when it comes to being sociable – Mediators crave the depth of mutual human understanding, but tire easily in social situations; they are excellent at reading into others’ feelings and motivations, but are often unwilling to provide others the same insight into themselves – it’s as though Mediators like the idea of human contact, but not the reality of social contact.</p> <br><br>

 <h2>How Poor Are They That Have Not Patience</h2> <br>

<p>In a lot of ways, this limits the potential pool of friends to other types in the Diplomat Role group, who are able to pick up on the subtle clues left by their Mediator friends, and who are more likely than not to enjoy something of a human enigma. A friendship with a Turbulent Executive (ESTJ-T) on the other hand, governed by social conventions and community participation as they are, would almost be a non-sequitur – though Mediators may find the idea of being paired with their opposite fascinating enough to outweigh the practical challenges to such a friendship.</p><br>

 <p>To top it all off, ideas like networking and “the friend of my friend is my friend” hold little weight with Mediators. Friendships are earned on their own merit, by dint of the intuitive respect Mediators have for those with similar principles and values, rather than more practical alignments like those of coworkers. Mediators’ tendency to protect their sensitive inner cores and values from criticism, especially if they are on the more turbulent side of the spectrum, means that acquaintances will likely get nowhere near them without sustained and tactful effort.</p> <br>

<p>But, if Mediators’ shields are properly navigated and they decide to open up and trust another person, a strong, stable friendship will ensue, marked by passionate support and idealism, subtle poetic wit, and a level of emotional insight that is hard to match. Mediators’ friends will be rewarded with calm, sensitivity and depth, and an ever-present desire to help, learn, and grow. But even the most confident and assertive Mediators will only be able to keep up this relaxed and present exterior for so long.</p> <br>

 <p>Mediators will always need to disappear for a while, removing themselves from others so they can re-center on their own minds and feelings. Often enough people with the Mediator personality type will emerge from this time alone having come to some momentous decision that even their closest friends didn’t know was weighing on them, evading even the option of receiving the sort of support and advice they so readily give. Such is Mediators’ way, for better or for worse.</p> 

{%endblock%}





