{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\infp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="infpi">Introduction</a><br>
<br><a href="infps">Strengths & Weakness</a><br>
<br><a href="infpc">Career</a><br>
<br><a href="infpw">Workplace Habits</a><br>
<br><a href="infpr">Romance</a><br>
<br><a href="infpf">Friendship</a><br>
<br><a href="infpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Parenthood </h1> <br>

<p>People who share the Mediator personality type share a tendency to not only strive to learn and grow as principled, moral individuals, but to bring likeminded people on that journey with them. In their own subtle, often shy way, Mediators want to lead others forward, as kindred spirits – they will find no greater opportunity for this than in parenthood.</p> <br>

<p>From the start, Mediator parents are warm, loving and supportive, and take immeasurable joy in the wide-eyed wonder of their children as they explore, learn, and grow. People with the Mediator personality type will give their children the freedom they need to do this, keeping an open mind and letting their children gain their own sense of understanding. At the same time, Mediator parents will try to provide a backdrop to this freedom and experience, establishing a set of morals and values that guide that liberty with a sense of personal responsibility.</p> <br>

<p>However, this sense of responsibility has a harder side – if their children fall foul of their Mediator parents’ values, it will not be taken lightly. People with the Mediator personality type take their responsibilities in parenthood seriously, and in this measure above all others.</p> <br>

<p>In some ways, Mediators’ tendency to hide their inner selves from view can be an advantage in parenting, as they are able to portray themselves as good role models on the outside, shielding their loved ones not just from their own occasional anger and depression, but from the broader evils in the world as well. This helps Mediators to demonstrate outwardly the moral lessons they want their children to adopt, and at the same time to establish a sense of harmony in the household.</p><br><br>

 <h2>Modest Doubt Is Called the Beacon of the Wise</h2><br>

 <p>The biggest challenge for Mediator parents, especially more Turbulent types who often have even more trouble with self-doubt than most, is to establish more practical and day-to-day structures and rules. Mediators may be able to convey the abstract value of honesty with remarkable skill, but it’s not always easy to equate that idea with the practical reality of their children being home from the movies when they said they were going to be, and it’s especially challenging when these misunderstandings result in conflict. In these situations, Mediator personalities do best with a partner who is able to play a stronger hand in more administrative tasks than they can, so they can focus on the underlying spirit of those rules.</p> 

{%endblock%}





