{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfpi">Introduction</a><br>
<br><a href="enfps">Strengths & Weakness</a><br>
<br><a href="enfpc">Career</a><br>
<br><a href="enfpw">Workplace Habits</a><br>
<br><a href="enfpr">Romance</a><br>
<br><a href="enfpf">Friendship</a><br>
<br><a href="enfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1><br>
<p>“Can’t I fly helicopters AND be an oceanographer who writes songs and cooks?” It’s a big world out there – perhaps even a little too big. Campaigners are fascinated by new ideas, both in terms of developments in fields they are already familiar with, and when new subjects come along. The trick for people with the Campaigner personality type is to take advantage of this quality, this wonder with the magnificent breadth and detail in the world, and to use it to propel themselves further and deeper than others are willing or able to go.</p>
 
<br><h3>The Opening of a Door Can Be a Wonderfully Joyous Moment</h3><br>
<p>Chief among Campaigners’ talents is their people skills, a quality that is even more valuable now than ever. Even in traditional Analyst strongholds like engineering, systems analysis and the sciences, Campaigners’ ability to network and match the communication styles of their audience means that even as they explore new challenges on their own, they will be able to work with others, explore others’ perspectives and glean new insights into their projects. Much of modern progress stems from incorporating other studies into typically disassociated fields, and no one is better equipped to merge broad interests than talented, energetic and future-minded Campaigners.</p>
<p>And while Thinking types may be better at applying logic to systems and machines, people with the Campaigner personality type are able to apply that same logic to human interactions and networks, using their exceptional social perception to find out what makes people tick. This lends Campaigners a solid foothold in any human science or service, from psychology, counseling and teaching to politics, diplomacy and detective work. All of these fields have another important similarity: they are in constant development, shifting, presenting new angles and new approaches. It’s simply not possible to be good in these fields and content with the way things are, and this is where Campaigners truly shine.</p>
<br><h3>Too Many Bosses, Too Few Workers</h3>
<p>Where Campaigners do not shine is in systems of strict regimentation and hierarchy, such as military service. Campaigners thrive on the ability to question the status quo and explore the alternatives, and if this is a quality that is not just unappreciated but actually frowned upon, this will not only make them unhappy, but it may even threaten their emotional stability. Repetition, predictability, boredom… while some Sentinel types may appreciate predictability and clear hierarchies, these are not selling points for Campaigners. People with the Campaigner personality type need to feel like they’re pushing boundaries and exploring ideas, and should focus on interests and careers that encourage that.</p>
<p>Many more career options satisfy these needs, and not just the scientific ones – writing, journalism, acting and TV reporting all give Campaigners a chance to explore something new every day and stir the pot a little while they’re at it. It may come to pass though, that the best way forward for Campaigner personalities is to establish themselves as entrepreneurs and consultants, blazing their own trails and taking on whatever project is most fascinating. So long as they get to use their people skills, identify and achieve their own goals and inspire their colleagues and followers, Campaigners will be happy.</p>
<br><b>1. Entrepreneur</b>
<p>Driven. Ambitious. Risk-taker. All words that describe an ENFP. An entrepreneur is a person who has an idea, a product, a spark of genius, and turns it into a career. The adventurous ENFP can take a risk to create the business that they want, and use their ideas to their full advantage. Starting a new business is always risky, but ENFPs are up to the challenge.</p>
<br><b>2. Social Worker</b>
<p>Social workers help clients cope with challenges, changes, and difficulties in life. The compassionate ENFP will find a career supporting clients, or advocating and fundraising for a community resource quite fulfilling. Social workers often handle several cases at once, allowing the ENFPs to find the variation in their days that they prefer.</p>
<br><b>3. Human Resources</b>
<p>Although some ENFPs may not like the paperwork involved in HR work, they will thrive in the interpersonal part. Recruiting, interviewing, and training employees appeals to the people-oriented ENFP. Ever a champion and helper, ENFPs in HR will find themselves guiding new employees, thinking of new hiring strategies, and helping to resolve employee conflicts.</p>
<br><b>4. Sales</b>
<p>To succeed in sales, one has to be friendly, approachable, and knowledgeable. ENFPs are well-suited for a variety of sales positions such as sales assistants, managers, and representatives. They engage easily with customers and can make a killer sales pitch. An ENFP’s charm and desire to help others make them the perfect candidates for a career in sales.</p>
<br><b>5. Brand Manager</b>
<p>As a brand manager, an ENFP will become the voice of the brand, harnessing the natural ENFP desire to campaign for a practical purpose. They strategize new ways to engage with the customers. In this role, the ENFP will brainstorm with multiple teams to come up with a cohesive plan for the company. The creativity, intuition, and drive of ENFPs will serve them well in this career.</p>
<br><b>6. EMT</b>
<p>Emergency medical technicians (EMTs) are on the front-lines of medicine and often face life or death decisions. They respond to emergency calls and perform medical services for sick or injured patients at the most crucial time. Caring ENFPs who think fast and want excitement while they provide help for people will find this career a fit.</p>
<br><b>7. Actor</b>
<p>The extrovert ENFP personality type is a natural fit for an acting career. Their intuition makes them a keen observer of characters, giving them rich insight into their parts. While the theater is a notoriously difficult career to break into, ENFPs are natural networkers and self-promoters, a vital skill in the acting world. ENFPs are ready for the spotlight.</p>
<br><b>8. Server</b>
<p>Work as a food server is the classic day job for actors still trying to break into the industry, and ENFPs are a natural fit in this job as well. ENFPs are calm under pressure, allowing them to be warm and attentive, even on a busy Saturday night.</p>
<br><b>9. Athletic Trainer</b>
<p>ENFPs who want to use their energy as part of a team and tackle a variety of challenges will make good athletic trainers. ENFPs are creative thinkers, and helping an athlete train within the constraints of an injury can involve some creativity. As a certified athletic trainer, ENFP must synthesize their understanding of first aid, emergency care, anatomy, physiology, as well as the peculiarities of each athlete to assess the injury and help devise a treatment plan.</p>
<br><b>10. Teacher</b>
<p>A room full of boisterous kids? No problem. ENFP personality types are a good fit for work in early education or in middle school classrooms. The best teachers are the most enthusiastic ones, and ENFPs are always enthusiastic. Teachers need to be creative, flexible, and have a strong desire to teach others new ideas, and this makes the job a good fit for ENFPs.</p>


{%endblock%}





