{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfpi">Introduction</a><br>
<br><a href="enfps">Strengths & Weakness</a><br>
<br><a href="enfpc">Career</a><br>
<br><a href="enfpw">Workplace Habits</a><br>
<br><a href="enfpr">Romance</a><br>
<br><a href="enfpf">Friendship</a><br>
<br><a href="enfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1><br>
<p>When it comes to relationships, there’s hardly anyone around who is more excited than Campaigners to share with their partners the bounty of ideas and eye-opening experiences that life has to offer. For people with the Campaigner personality type, relationships are a joyous process of mutual exploration and imagination, a chance to connect with another soul. Campaigners take their relationships seriously, and are known for their uninhibited and unshakeable devotion to the people to whom they’ve committed their hearts.</p>
<p>In the dating phase, if Campaigners can be said to tolerate such a formal process to begin with, they will show these qualities by showering their new flames with affection, and will do everything they can to build a strong relationship by demonstrating their devotion and reliability by whatever means available.</p>
 
<br><h3>You Cannot Live Without a Fire</h3><br>
<p>Long-distance relationships are quite common among Campaigners, as they view physical distance as just another idea, no match for concepts like love. This gives them the chance to demonstrate their commitment, both by staying true despite the physical separation, and with overtures of effort to surprise their partners, crossing that distance on a whim. These are demonstrations of Campaigners’ mystery, idealism and deep emotion, and such efforts often keep the flames of a relationship burning bright.</p>
<p>People with the Campaigner personality type express these ideals sexually as well, exploring the physical with imagination and passion, viewing these times together as a chance to let their feelings for each other shine, sharing their love and affection. Campaigners will willingly experiment with their partners, even early in a relationship, but they can also be oddly perfectionistic, believing that these physical acts are a representation of their deeper love, and as such should not be performed carelessly. This perfectionism is also a reflection of their sensitivity, their desire to not disappoint, and Campaigners appreciate a well-placed compliment.</p>
<p>Not everyone can handle the excitement, occasional neediness, and emotional ups and downs that this philosophy entails, whether long-distance or long-term, mystical or physical. Campaigners constantly explore new ideas and improvements, fantasize about future possibilities – in dating, this tendency to look at potential rather than the present can be self-defeating, and their spontaneity makes it harder to stay focused on their end goal of a long-term relationship. If their partners aren’t able to reciprocate these acts of excitement and devotion, Campaigners will likely end up feeling unhappy and misunderstood.</p>
<br><h3>So, You Think You Know the Real Me?</h3><br>
<p>Campaigners go all-in with their relationships, and if they fall apart despite their efforts, they can end up plagued with questions about why the relationship failed and what they could have done differently – without a buoy, these thoughts can crush Campaigners’ self-esteem as they sink into depression. It’s important for Campaigner personalities, as with anyone, to remember that relationships are in all ways mutual – mutual interest, mutual growth, and mutual responsibility – and they can’t be solely accountable.</p>
<p>After a trial like this, Campaigners may be reluctant to open up and commit, and it can take years for a partner to navigate their bewildering depth and intensity, falsely believing that Campaigners’ enthusiasm and apparent openness means that they wear everything on their sleeves. The reality is that Campaigners’ spontaneity, the seeming inconsistency and erraticism the untrained eye sees, isn’t a product of flightiness or lack of depth, but the opposite – it is a drive to express ideas about a mystical, all-encompassing energy, in the confines of a physical world, and underlying it all is the uniting principle of love, expressed in many different ways, but unshakeable and infinite at its core.</p>

{%endblock%}





