{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfpi">Introduction</a><br>
<br><a href="enfps">Strengths & Weakness</a><br>
<br><a href="enfpc">Career</a><br>
<br><a href="enfpw">Workplace Habits</a><br>
<br><a href="enfpr">Romance</a><br>
<br><a href="enfpf">Friendship</a><br>
<br><a href="enfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Friendships</h1>
<p>As friends, Campaigners are cheerful and supportive, always sharing and developing ideas, and staying open-minded, taking in others’ thoughts and feelings. This warmth and sincerity makes people with the Campaigner personality type masters of drawing people out of their shells, and as a result they tend to have a huge circle of friends.</p>
<br><h3>An Exciting Adventure</h3>
<p>More outgoing types will naturally gravitate towards them, but Campaigners will also go to great lengths and be surprisingly persistent in their efforts to get to know more reserved personalities. Their ability to tune into others and speak their language with that characteristic infectious enthusiasm helps them in this endeavor, and the allure of mystery that reserved types, especially Introverted Intuitives, bring to the table will keep Campaigners intrigued for years. These personality types may never be able to reciprocate the breadth of human interest that Campaigners present, but they do appreciate Campaigners’ efforts.</p>
<p>But Campaigners’ interest in others can be a double-edged sword – this pure idealism comes with certain expectations, and too often Campaigners hold their friends in an unrealistic light, expecting them to keep up with the constant flow of ideas and experiences that they consider integral to life. Campaigners put their whole hearts into their friendships, and it can come as a shock for them to find that their friends aren’t the flawless Titans that they believed them to be. Whether it’s simple social fatigue or a focus on the physical and the practical instead of the mystical, people with the Campaigner personality type can find themselves disappointed by what they see as a lack of substance beneath the surface.</p>
 
<p>Campaigners tend to get deeply involved in others’ lives, going to great lengths and efforts to be the selfless, caring and supportive people they are, and all the while forget to take care of themselves. Both in terms of basic needs like financial stability and rest, as well as more emotional needs like mutual understanding and reciprocation, Campaigner personalities tend to give much more of themselves than most are even capable of giving back. This sort of imbalance isn’t sustainable, as (seemingly) one-sided generosity often leads to criticism and resentment on both sides.</p><br>
<h3>Making Life Spectacular</h3>
<p>Luckily, Campaigners are open-minded and sincere enough in their friendships, and connect with and understand even their acquaintances well enough, that they recognize that not everyone expresses themselves in the same ways, and that that’s okay. Their sensitivity may make it too challenging to play with more critical and argumentative personalities, such as strongly expressed Thinking (T) and Judging (J) types, but they do appreciate, even cherish, the company of most anyone who appreciates theirs, and the adventures and experiences they have together are the stuff a good life is made of.</p>

{%endblock%}





