{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfpi">Introduction</a><br>
<br><a href="enfps">Strengths & Weakness</a><br>
<br><a href="enfpc">Career</a><br>
<br><a href="enfpw">Workplace Habits</a><br>
<br><a href="enfpr">Romance</a><br>
<br><a href="enfpf">Friendship</a><br>
<br><a href="enfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>There are two basic things that Campaigners seek most in the workplace: The chance to explore new ideas, and the chance to conduct that exploration alongside other people who share their excitement. These qualities show through at all levels of hierarchy, though much like other Diplomat personality types, Campaigners would prefer that there be hardly a hierarchy at all. People with the Campaigner personality type possess warmth, creativity, and an open-mindedness that makes them excellent listeners. If these qualities are recognized by their employers, they will always be able to count on their Campaigner employees to innovate and boost morale.</p>
 
<br><h3>Campaigner Subordinates</h3>
<p>Campaigners are growth-oriented, and as subordinates they’ll impress their managers with their creativity and adaptability. People with the Campaigner personality type are excellent listeners, able to analyze and understand others’ perspectives effortlessly. It’s perhaps this quality that most makes Campaigners intolerant of micromanagement – the way they see it, they understand what’s been asked of them, and all they require is the freedom to accomplish their task. If this need isn’t met, managers may find a quickly stressed Campaigner subordinate.</p>
<p>To a certain extent though, some direct management is often necessary, as Campaigners are notorious for letting their attention slip from one project to the next before they’ve dotted their I’s and crossed their T’s. Campaigners love exploring new ideas and learning new things, and once something becomes familiar, its allure starts to fade. But, if managers are able to maintain a spirit of guidance and camaraderie instead of "bossiness", they will find loyal and devoted contributors in their Campaigner subordinates.</p>
<br><h3>Campaigner Colleagues</h3>
<p>Campaigners are people-people, and as far as the workplace is concerned, this quality shows through best among colleagues. More than just coworkers, Campaigners view their colleagues as friends, people who they take a genuine interest in, providing support and cheer when they’re down or stressed. People with the Campaigner personality type are warm and optimistic, always searching for and usually finding win-win situations for everyone.</p>
<p>Brainstorms among equals are Campaigners’ forte, and they listen to different viewpoints and suggestions not just with tolerance, but genuine excitement. Their ability to relax and have fun will always make them popular around the water cooler, but what sets Campaigners apart is that they can transition that popularity into natural leadership, instinctively picking up on colleagues’ motivations and pulling their teams together, pushing them forward towards whatever truth they’ve been tasked to find.<p>
<br><h3>Campaigner Managers</h3>
<p>Campaigners are not great fans of heavy hierarchy and bureaucracy, and this is most evident when they take on the role of manager. As managers, Campaigner personalities behave much like they do as colleagues – they establish real friendships, and use their broad popularity to inspire and motivate, taking on the role of leader, working alongside their subordinates, rather than shouting from behind their desks. Campaigners will tend to believe in the concept of intrinsic motivation, the idea that things are worth doing for their own sake, not because of some convoluted system of punishments and rewards.<p>
<p>Unfortunately, not everyone buys into this philosophy – challenges arise when faced with subordinates who actually prefer to be closely directed, with clearly defined objectives and timetables, people who are just doing their jobs. More challenging still are those rare moments when a reprimand is simply necessary – while Campaigners prefer to meet dissent with an open ear, and to use their excellent capacity for sensing mood and morale to preempt such an act to begin with, sometimes the carrot and the stick are necessary, and using them is the biggest challenge for the Campaigner personality type. But Campaigners’ capacity for adjusting their communication to most any style will always shine through, helping to smooth things over and adapt to the needs of their team.</p>

{%endblock%}





