{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfpi">Introduction</a><br>
<br><a href="enfps">Strengths & Weakness</a><br>
<br><a href="enfpc">Career</a><br>
<br><a href="enfpw">Workplace Habits</a><br>
<br><a href="enfpr">Romance</a><br>
<br><a href="enfpf">Friendship</a><br>
<br><a href="enfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Strengths & Weaknesses</h1><br>
<h3>Campaigner Strengths</h3>
 
<p><b>Curious –</b> When it comes to new ideas, Campaigners aren’t interested in brooding – they want to go out and experience things, and don’t hesitate to step out of their comfort zones to do so. Campaigners are imaginative and open-minded, seeing all things as part of a big, mysterious puzzle called life.</p>
	<p><b>Observant –</b> Campaigners believe that there are no irrelevant actions, that every shift in sentiment, every move and every idea is part of something bigger. To satisfy their curiosity, Campaigners try to notice all of these things, and to never miss a moment. </p>
	<p><b>Energetic and Enthusiastic –</b> As they observe, forming new connections and ideas, Campaigners won’t hold their tongues – they’re excited about their findings, and share them with anyone who’ll listen. This infectious enthusiasm has the dual benefit of giving Campaigners a chance to make more social connections, and of giving them a new source of information and experience, as they fit their new friends’ opinions into their existing ideas. </p>
	<p><b>Excellent Communicators –</b> It’s a good thing that Campaigners have such strong people skills, or they’d never express these ideas. Campaigners enjoy both small talk and deep, meaningful conversations, which are just two sides of the same coin for them, and are adept at steering conversations towards their desired subjects in ways that feel completely natural and unforced. </p>
	<p><b>Know How to Relax –</b> It’s not all “nature of the cosmos” discussions with Campaigners – people with this personality type know that sometimes, nothing is as important as simply having fun and experiencing life’s joys. That Intuitive trait lets Campaigners know that it’s time to shake things up, and these wild bursts of enthusiastic energy can surprise even their closest friends. </p>
	<p><b>Very Popular and Friendly –</b> All this adaptability and spontaneity comes together to form a person who is approachable, interesting and exciting, with a cooperative and altruistic spirit and friendly, empathetic disposition. Campaigners get along with pretty much everyone, and their circles of friends stretch far and wide. </p>
<br><h3>Campaigner Weaknesses</h3>
 
	<p><b>Poor Practical Skills –</b> When it comes to conceiving ideas and starting projects, especially involving other people, Campaigners have exceptional talent. Unfortunately their skill with upkeep, administration, and follow-through on those projects struggles. Without more hands-on people to help push day-to-day things along, Campaigners’ ideas are likely to remain just that – ideas. </p>
	<p><b>Find it Difficult to Focus –</b> Campaigners are natural explorers of interpersonal connections and philosophy, but this backfires when what needs to be done is that TPS report sitting right in front of them. It’s hard for Campaigners to maintain interest as tasks drift towards routine, administrative matters, and away from broader concepts. </p>
	<p><b>Overthink Things –</b> Campaigners don’t take things at face value – they look for underlying motives in even the simplest things. It’s not uncommon for Campaigners to lose a bit of sleep asking themselves why someone did what they did, what it might mean, and what to do about it. </p>
	<p><b>Get Stressed Easily –</b> All this overthinking isn’t just for their own benefit – Campaigners, especially Turbulent ones, are very sensitive, and care deeply about others’ feelings. A consequence of their popularity is that others often look to them for guidance and help, which takes time, and it’s easy to see why Campaigners sometimes get overwhelmed, especially when they can’t say yes to every request. </p>
	<p><b>Highly Emotional –</b> While emotional expression is healthy and natural, with Campaigners even viewing it as a core part of their identity, it can come out strongly enough to cause problems for this personality type. Particularly when under stress, criticism or conflict, Campaigners can experience emotional bursts that are counter-productive at best. </p>
	<p><b>Independent to a Fault – </b> Campaigners loathe being micromanaged and restrained by heavy-handed rules – they want to be seen as highly independent masters of their own fates, even possessors of an altruistic wisdom that goes beyond draconian law. The challenge for Campaigners is that they live in a world of checks and balances, a pill they are not happy to swallow.</p>
    </main>
{%endblock%}





