{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1> <br>

<p>The running theme for Logicians is their desire for solitude, need for intellectual stimulation, and the satisfaction of the final piece of a puzzle clicking into place. Whether in subordinate or management positions, with colleagues or working alone, these privileges and the freedom to pursue them unfettered by social obligations and progress reports are about all people with the Logician personality type look for in their workplace.</p> <br>

<p>Though Logicians may scoff at the notion, they actually function best when paired with another person. Their position determines which personality type best fits their needs, but Logicians’ tendency to live in their heads and vent inspiration and creativity seemingly at random demands the presence of an implementer to ensure that no stroke of genius goes unnoticed.</p> <br><br>

<h2>Logician Subordinates</h2> <br>

<p>Under the right conditions, Logician subordinates are innovative, resourceful, and hard-working, easily wrapping their minds around whatever complex problems are placed in front of them and delivering unorthodox but effective solutions. However, these qualities require a great deal of freedom, something stereotypical managers are loath to cede. It is difficult to quantify these qualities on a resume – several other characteristics, like a relative indifference to job security and to being liked, exacerbate the challenge – and it can take time to grow to trust Logician subordinates enough to allow this latitude.</p> <br>

<p>Logician personalities prefer to work alone, but at the same time they despise “grunt-work”. Their focus on conceiving new and exciting ideas and ignoring the details of execution means that Logicians need someone alongside to keep things in order and actually put into practice their often unrefined ideas. Such a condition can’t be forced on Logicians, but a few logically phrased criticisms (certainly not emotional appeals or pep talks about working as part of a team) and clever management can make it happen.</p> <br><br>

<h2>Logician Colleagues</h2> <br>

<p>For Logicians, colleagues aren’t so much a group of people who they socialize and work with as they are a series of obstacles and diversions with occasionally useful knowledge. Mingling, chitchat, drinks after work – these make Logicians want to work alone, not get up in the morning. Despite this distance, people with the Logician personality type are unusually good at developing insightful and unbiased interpretations of others’ motivations, though sometimes they overthink it, becoming unnecessarily suspicious of others’ goals.</p><br> 

<p>What they do enjoy are riddles and patterns, and any Logician would be proud to be the guru who is sought after as arbiter on the validity of an idea, or for their insight on how to apply a principle to novel situations. Logicians love discussing theories, at least with “proven” colleagues, and are almost always available as impromptu consultants. This, however, does not apply to emotional riddles and conflicts, Logicians’ Achilles Heel – in these charged situations, Logician personalities have no clue what to do.</p> <br><br>

<h2>Logician Managers</h2> <br>

<p>While Logicians don’t care for managing other people, it is likely the most rewarding position as it provides the opportunity to direct concepts and theories while others handle the logistics. Logicians have a very tolerant and flexible style, characterized by an openness to logical suggestions and relative freedom for their subordinates. But this freedom comes at a cost – Logician managers have very high standards, and they expect others to grasp their insights instantly, and to provide their own in equal measure.</p> <br>

<p>As well as their demand for innovation, Logicians are better than any other type at noticing logical discrepancies – their tendency to ignore others’ feelings means that their criticisms often come hard and fast as they direct projects to their own perfectionistic standards. Here again Logicians do best with a partner, this time a delegator who can filter their thoughts and direct their team in more socially productive ways. A liaison can also help to deter schmoozing and attempts at emotional manipulation, a sure mistake for anyone who tries.</p>

{%endblock%}
