{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Romantic Relationships</h1> 

<p>When it comes to romantic relationships, Logicians have an interesting mixture of traits that often pleasantly surprise their partners. People with this personality type are always full of ideas, but they have few opportunities to explore their more romantic notions. As with any of their theories, Logicians love sharing with others, and in finally meeting someone where romantic thoughts are appropriate, they show themselves to be excited, enthusiastic, and even playful, flirting with word-play and intellectual games.</p> 

<p>None of this is to say that these relationships come easily to Logicians – they are shy and withdrawn individuals, and getting out and meeting new people, risking rejection and making themselves the center of attention in emotionally delicate situations are far from being their strengths. It is more likely that Logician personalities will leave a trail of breadcrumbs for a potential partner, allowing them to make the first move and committing to their partner as an act of reciprocation rather than bravado.</p> 

<h2>Marry! A Good Wife Makes Happiness, A Bad One, Philosophy</h2> 

<p>From the start, Logicians take their relationships seriously – their imagination and vision, and the challenge of getting to know new people, make them all too aware of how important it is that they’re involved with someone, and they will prove themselves surprisingly loyal. Even early in the dating phase, Logicians are unusually direct and honest, doing their best to express their mindset and create mutual understanding, believing that this shared knowledge will help to minimize misunderstandings and avoid conflict.</p> 

<p>As their relationships progress, Logicians’ daily needs prove remarkably simple. Gifts, surprises, complex social plans and date nights are all fairly unimportant to people with the Logician personality type, but this is also one of their chiefest weaknesses – their partner may very much need these things, and it won’t even occur to Logicians to plan them out. For all their analysis and attempts at mutual understanding, Logicians are notoriously bad at picking up on others’ emotional needs.</p> 

<p>When these conflicts do arise and are inescapable, Logicians will do their best to find a logical solution. But this hardly helps if the problem is logic itself, that Logician personalities aren’t meeting their partners’ emotional needs. Logicians should keep this in mind, and try to meet their partners halfway by communicating on an emotional level – if they make this effort, understanding partners will recognize and appreciate the gesture, clumsy though it may be. After all, they need to afford Logicians the same benefit, and meet them halfway with logic and simplicity as well.</p> 

<h2>Beware the Barrenness of a Busy Life</h2>

 <p>All this material asceticism and conflict avoidance support one primary goal – to free up mental resources for more important things. Logicians’ creative, vivid imagination make for a surprisingly enthusiastic, passionate, and romantic partner. While Logicians may prioritize their inner world too much, imagining interesting and exciting intimate situations that are never expressed to their partners, they also use this rich inner world to achieve as much as possible in intimacy – they rarely want for ideas.</p> 

<p>Physically, intellectually and with a little effort emotionally, Logician relationships are rich and rewarding connections. Partners who share the Intuitive (N) trait are usually best, along with one or two opposite traits to create variety and balance, but so long as Logicians remember that they are with people who have their own, independent wants and needs, and so long as their partners remember the same of their Logicians, these are long-lasting and satisfying relationships.</p> 

{%endblock%}
