{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Strengths & Weaknesses</h1><br><br>

 <h2>Logician Strengths</h2><br>



<p><strong>Great Analysts and Abstract Thinkers</strong> – People with the Logician personality type view the world as a big, complex machine, and recognize that as with any machine, all parts are interrelated. Logicians excel in analyzing these connections, seeing how seemingly unrelated factors tie in with each other in ways that bewilder most other personality types.</p> <br>

<p><strong>Imaginative and Original</strong> – These connections are the product of an unrelenting imagination – Logicians’ ideas may seem counter-intuitive at a glance, and may never even see the light of day, but they will always prove remarkable innovations.</p> <br>

<p><strong>Open-Minded</strong> – Logicians couldn’t make these connections if they thought they knew it all – they are highly receptive to alternate theories, so long as they’re supported by logic and facts. In more subjective matters like social norms and traditions, Logicians are usually fairly liberal, with a “none of my business” sort of attitude – peoples’ ideas are what matter.</p> <br>

<p><strong>Enthusiastic</strong> – When a new idea piques their interest, Logicians can be very enthusiastic – they are a reserved personality type, but if another person shares an interest, they can be downright excited about discussing it. More likely though, the only outward evidence of this enthusiasm will be Logicians’ silent pacing or their staring into the distance.</p><br>

 <p><strong>Objective</strong> – Logicians’ analysis, creativity and open-mindedness aren’t the tools of some quest for ideology or emotional validation. Rather, it’s as though people with the Logician personality type are a conduit for the truths around them, so far as they can be expressed, and they are proud of this role as theoretical mediator.</p> <br>

<p><strong>Honest and Straightforward</strong> – To know one thing and say another would be terribly disingenuous – Logicians don’t often go around intentionally hurting feelings, but they believe that the truth is the most important factor, and they expect that to be appreciated and reciprocated.</p><br><br>

<h2>Logician Weaknesses</h2> <br>

<p><strong>Very Private and Withdrawn</strong> – While Logicians’ intellectualism yields many insights into their surroundings, their surroundings are ironically considered an intrusion on their thoughts. This is especially true with people – Logicians are quite shy in social settings. More complicated situations such as parties exacerbate this, but even close friends struggle to get into Logicians’ hearts and minds.</p> <br>

<p><strong>Insensitive</strong> – Oftentimes Logician personalities get so caught up in their logic that they forget any kind of emotional consideration – they dismiss subjectivity as irrational and tradition as an attempt to bar much-needed progress. Purely emotional situations are often utterly puzzling to Logicians, and their lack of timely sympathy can easily offend.</p><br>

 <p><strong>Absent-minded</strong> – When Logicians’ interest is captured, their absence goes beyond social matters to include the rest of the physical world. Logicians become forgetful, missing even the obvious if it’s unrelated to their current infatuation, and they can even forget their own health, skipping meals and sleep as they muse.</p> <br>

<p><strong>Condescending</strong> – Attempts at connecting with others are often worse than Logicians’ withdrawal. People with the Logician personality type take pride in their knowledge and rationale, and enjoy sharing their ideas, but in trying to explain how they got from A to B to Z, they can get frustrated, sometimes simplifying things to the point of insult as they struggle to gauge their conversation partners’ perspective. The ultimate insult comes as Logicians give up with a dismissive “never mind”.</p><br>

 <p><strong>Loathe Rules and Guidelines</strong> – These social struggles are partly a product of Logicians’ desire to bypass the rules, of social conduct and otherwise. While this attitude helps Logicians’ strength of unconventional creativity, it also causes them to reinvent the wheel constantly and to shun security in favor of autonomy in ways that can compromise both.</p> <br>

<p><strong>Second-Guess Themselves</strong> – Logicians remain so open to new information that they often never commit to a decision at all. This applies to their own skills as well – Logician personalities know that as they practice, they improve, and any work they do is second-best to what they could do. Unable to settle for this, Logicians sometimes delay their output indefinitely with constant revisions, sometimes even quitting before they ever begin.</p><br>

{%endblock%}
