{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Parenthood </h1> <br>

<p>In parenting roles, as with many social roles, Logicians find themselves facing a robust but healthy challenge. Not a naturally sensitive type, Logician personalities struggle to identify with the raw emotions and irrationality that are often the standard with young children, who have yet to develop the sort of self-control and logical thinking that Logicians take for granted.</p> <br>

<p>People with the Logician personality type are nevertheless incredibly devoted – perhaps not in the traditional, emotionally supportive sense, but they are parents who are committed to encouraging their growing children to think and act independently, seek out new knowledge, and voice and defend their own opinions.</p> <br>

<p>For Logicians, knowledge is key, and they will do their best to give their children the tolerance and freedom necessary to acquire it. Logician parents take a relaxed, intellectual approach towards their children, allowing them to explore the world around them and overlooking the more minor offences along the way.</p> <br>

 <p>Logician personalities are not particularly demanding parents, at least not in the sense that they expect their children to live a traditional life of school & career &  marriage & house & kids & retirement (and in that order, thank you very much). Rather, Logician parents are demanding in an intellectual sense – they want their children to ask if this path is the best path for them, and how to go about following a different one if they need to. This level of personal freedom can be daunting, and can take a long time to come to terms with, but Logician parents are prepared to stand by their children with support and advice for as long as they need.</p> <br>

<p>While there is hardly a better parent for having rational, intelligent discussions with their children, there is hardly a clumsier example when it comes to providing the emotional support that many children need, especially as they approach their teenage years. In this area, Logicians will need to either rely on a more capable partner, or to take themselves far out of their comfort zone in order to empathize without trying to clear away the tears with an endless series of rational suggestions and blunt truths.</p> <br><br>

<h2>Not Just Life, but Good Life</h2> <br>

<p>Logicians want nothing more than for their children to grow up smart, independent, and tolerant, but if they want them to be well-adjusted too, they must make this effort. Logicians’ parenting style affords a great deal of latitude for their children, but with this freedom comes responsibility, and it is Logicians’ responsibility to ensure that it is used constructively. Though it’s a challenge for people with the Logician personality type to teach empathy alongside rationality, if they are able to pull it off, their children will grow into confident adults who know how to ask questions, use their minds, and take care of themselves no matter what comes their way.</p> 

{%endblock%}
