{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Career Paths </h1> <br>

<p>Logicians are solitary, eccentric, and independent – none of which is listed as desirable for corporate positions, which are usually designed for very different personality types. Logicians duly struggle in finding careers that meet their needs, but what they do bring, qualities in much higher demand, are creativity, a passion for theoretical methods and ideas, and an entrepreneurial, innovative spirit. If they are able to put this better foot forward to secure a position in a suitable line of work, people with the Logician personality type will find that, whatever the job listing says, these “less desirable” qualities will prove an asset after all.</p> <br><br>

<h2>A Poem of Numbers</h2><br>

 <p>Chief among Logicians’ interests is exploring and building models for underlying principles and ideas, even going so far as to find these concepts, in their own way, beautiful – this makes them natural mathematicians, systems analysts, and career scientists, especially in more abstract fields such as physics. There are many other careers that allow Logicians to explore these interests, but many of them are far too rooted in uninteresting practical applications. As useful as it is to develop a better vacuum cleaner, it is no Large Hadron Collider.</p> <br>

<p>Logician personalities are self-driven and have very high personal standards – “good enough” is never good enough – but have few environmental needs. Despite this relative simplicity, they are often hard for more people-centric types to understand. Logicians live primarily in their own heads, and have little interest in social distractions like chitchat and motivational speeches.</p> <br>

<p>For this reason, the flatter the workplace hierarchy, the better, making small, technical workplaces and fields such as law, forensics, and laboratory research very desirable for Logicians. Insightful and open-minded managers who can accommodate these needs will find their Logician subordinates to be a tireless generator of brilliant and unique ideas. However, many people with the Logician personality type may do away with the immediate hierarchy altogether, opting instead to provide their services on a freelance basis as consultants.</p> <br><br>

<h2>Emotional Values: A Mere Illusion</h2> <br>

<p>Where Logicians do not thrive is in workplaces that require them to provide a high degree of emotional satisfaction – cruise ship masseuses they are not. Logician personalities struggle to understand emotional exchanges, and service-oriented positions will prove baffling and exhausting for them. Though Logicians are talented analysts who are perfectly capable of understanding the theoretical importance of customer service, the day-to-day application of such a scheme is simply better left to more people-oriented personality types.</p> <br>

<p>Business is growing more complex every day, and this complexity is managed with technical systems, economic theories, and data. The need for novel approaches is stronger than ever for people and organizations to distinguish themselves. Though general people skills are often phrased as a must, it is the technical work that creates something to talk about, and it is in this pursuit that Logicians thrive.</p> <br>

<p>Work as business analysts and corporate strategists is well suited to Logicians, but they can also move things forward as data analysts, mechanical, electrical and software engineers, and even as technical writers and journalists, provided the field is interesting enough. If they can smile and shake hands just long enough to establish themselves as the brilliant innovators that they are, people with the Logician personality type will find that whatever the expectations for social conduct, it is the qualities unique to them that are truly in demand.</p>  


<b>Computer Programmer</b>
<p>Computer programming is a good match for the INTP personality type. Computer programmers are typically expected to code programs in various computer languages, update applications, debug programs and fix errors, use code libraries, and build computer-assisted software engineering tools to automate the creation of code. An INTP’s love for analyzing and working through complex problems and systems will help them to excel in this field. </p>

<b> Computer Scientist</b>
<p>Computer scientists develop theories about problems in computation and create solutions to deal with those issues. This prime INTP occupation is predicated on experimentation to continually improve the way we interact with computers. </p>
<b> Web Developer</b>
<p>There’s a theme going on here—INTPs are inherently talented when it comes to computers. This goes back to their love of complex systems.Web developers are expected to meet the demands of clients for how the website should look and function, create and debug apps for the site, write code, and analyze web traffic. </p>
<b> Financial Analyst</b>
<p>The INTP analytical tendencies shine in this field. Financial analysts recommend investments for client portfolios, evaluate trends and data, study and analyze a company’s finances, prepare written reports, and meet with investors to expound upon their recommendations. </p>

<b>Economist</b>
<p>Much like financial analysts, an economist role is ideally suited to INTPs. The economy itself is a complex system with endless moving parts that require detailed analysis. The INTP economist will research economic issues, conduct surveys and gather data, use mathematical models and statistics, interpret and predict market trends, design policies, and write content for scholarly journals and newsletters. </p>
<b>Multimedia Artist or Animator</b>
<p>In this field, innovation is king. The INTP can display their ability to see abstract connections through multimedia and animation. Multimedia artists and animators must use computer programs and illustrations, work with a team of fellow artists and animators, research upcoming projects, develop storyboards that map out key scenes, edit animations, and satisfy client demands on time. </p>
<b> Composer</b>
<p>Composers have the freedom to innovate while also working with the intricate moving parts of an orchestra. The responsibilities of a composer include writing original music that bands, orchestras, and musical groups perform, writing lyrics or delegating that task to a lyricist, and recording musicians in sessions. </p>

<b>Professor</b>
<p>INTPs love breaking down complex systems into simpler parts, and college professors must be able to make complicated subject matter digestible for their students. The duties of a professor include: developing and teaching a curriculum, helping students with career preparation, satisfying department demands, planning assignments and lessons, assessing students through graded work, publishing analyses and original research, and meeting academic and administrative policies. </p>
<b> Software Developer</b>
<p>INTPs are incredibly well-suited for a career in software development. Within these complex systems, INTPs will find new and often more efficient solutions. Software developers design, develop, and test software, write the software code, continually run QA tests, document every action taken in the system or application to allow future maintenance and updates to be executed fluidly</p>
<b>Information Security Analyst</b>
<p>Information security analysts have to be able to reverse engineer solutions to identify potential future problems. Becoming an information security analyst caters to INTPs love for systems and designs, as well. In this occupation, you’ll be expected to monitor an organization’s network, install and use software to protect valuable information, develop security practices and enhancements, research the latest IT and security techniques, and simulate attacks to preemptively find potential weaknesses in the security systems</p>


{%endblock%}
