{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="intpi">Introduction</a><br>
<br><a href="intps">Strengths & Weakness</a><br>
<br><a href="intpc">Career</a><br>
<br><a href="intpw">Workplace Habits</a><br>
<br><a href="intpr">Romance</a><br>
<br><a href="intpf">Friendship</a><br>
<br><a href="intpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>

<p>Many of the usual motivations for making friends – emotional support, social validation, shared routine – simply don’t apply to Logicians. More likely, these concepts are met with disdain, as people with the Logician personality type prize intellectual depth above all else. It is not easy to become good friends with Logicians, but if there is a common interest and a common train of thought, the connection is likely to spark instantly, surprising everyone else who thought they had this distant personality type pegged.</p><br><br>

 <h2>Be Slow to Fall Into Friendship...</h2> <br>

<p>Logician friendships are knowledge-based, defined by the exchange of ideas, theories, and concepts, and those who aren’t able to keep up with this, or who have sharply differing tastes (don’t talk to Logicians about celebrities) will find stony faces that border on rude. To Logicians, communication is often more of a nuisance than a pleasure, and conversation is reserved for topics that they find meaningful, or for people they already like enough to stick it out.</p> <br>

<p>Other Analyst personalities are a natural fit for Logicians, who share their passion for new ideas, riddles and solutions. People with the Logician personality type are knowledgeable and intelligent, and have a great deal of respect for those who can keep them on their toes in this regard. They will gladly help to tackle any dilemma thrown their way, offering up sound advice and rational solutions. As valuable as these qualities are though, they are not always the best approach – when it comes to emotional support or advice in dealing with matters of the heart, Logicians are at a loss.</p><br>

 <p>It’s not that Logician personalities don’t feel – quite the contrary, they actually have very strong sentiments. But this is not their strongest suit, making Logicians’ emotional reactions strong, untrustworthy and naturally in need of being tempered by their well-trained logic and rationalism.</p><br><br>

 <h2>...But When in Friendship, Continue Firm and Constant</h2> <br>

<p>While they may not be able to help directly with these sorts of problems, Logicians help indirectly with unambiguous and reliable friendships. Logicians’ friends need never worry about power games or emotional baggage – they are liked for their minds and abilities, not their status or possessions. While it may not be easy to establish true friendships with Logician personalities, once the link is made, they will provide years of understanding and thought-stimulating ideas, making them well worth the effort.</p> 

{%endblock%}
