{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Friendships</h1>
<p>When it comes to friendships, Protagonists are anything but passive. While some personality types may accept the circumstantial highs and lows of friendship, their feelings waxing and waning with the times, Protagonists will put active effort into maintaining these connections, viewing them as substantial and important, not something to let slip away through laziness or inattention.</p>
 
<br><h3>All My Life I Have Tried to Pluck a Thistle and Plant a Flower Wherever the Flower Would Grow...</h3>
<p>People with the Protagonist personality type take genuine pleasure in getting to know other people, and have no trouble talking with people of all types and modes of thought. Even in disagreement, other perspectives are fascinating to Protagonists – though like most people, they connect best with individuals who share their principles and ideals, and types in Diplomat and Analyst Role groups are best able to explore Protagonists’ viewpoints with them, which are simply too idealistic for most. It is with these closest friends that Protagonists will truly open up, keeping their many other connections in a realm of lighthearted but genuine support and encouragement.</p>
<p>Others truly value their Protagonist friends, appreciating the warmth, kindness, and sincere optimism and cheer they bring to the table. Protagonists want to be the best friends possible, and it shows in how they work to find out not just the superficial interests of their friends, but their strengths, passions, hopes and dreams. Nothing makes Protagonists happier than to see the people they care about do well, and they are more than happy to take their own time and energy to help make it happen.</p>
<br><h3>We Should Be Too Big to Take Offense, and Too Noble to Give It</h3>
<p>While Protagonists enjoy lending this helping hand, other personality types may simply not have the energy or drive to keep up with it – creating further strain, people with the Protagonist personality type can become offended if their efforts aren’t reciprocated when the opportunity arises. Ultimately, Protagonists’ give and take can become stifling to types who are more interested in the moment than the future, or who simply have Identities that rest firmly on the Assertive side, making them content with who they are and uninterested in the sort of self-improvement and goal-setting that Protagonists hold so dear.</p>
<p>When this happens Protagonist personalities can be critical, if they believe it necessary. While usually tactful and often helpful, if their friend is already annoyed by Protagonists’ attempts to push them forward, it can simply cause them to dig in their heels further. Protagonists should try to avoid taking this personally when it happens, and relax their inflexibility into an occasional “live and let live” attitude.</p>
<p>Ultimately though, Protagonists will find that their excitement and unyielding optimism will yield them many satisfying relationships with people who appreciate and share their vision and authenticity. The joy Protagonists take in moving things forward means that there is always a sense of purpose behind their friendships, creating bonds that are not easily shaken.</p>
<br>
{%endblock%}





