{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1>
<p>When it comes to finding a career, people with the Protagonist personality type cast their eyes towards anything that lets them do what they love most – helping other people! Lucky for them, people like being helped, and are even willing to pay for it, which means that Protagonists are rarely wanting for inspiration and opportunity in their search for meaningful work.</p>
 
<br><h3>Don’t Worry When You Are Not Recognized, but Strive to Be Worthy of Recognition</h3>
<p>Protagonists take a genuine interest in other people, approaching them with warm sociability and a helpful earnestness that rarely goes unnoticed. Altruistic careers like social and religious work, teaching, counseling, and advising of all sorts are popular avenues, giving people with the Protagonist personality type a chance to help others learn, grow, and become more independent. This attitude, alongside their social skills, emotional intelligence and tendency to be “that person who knows everybody”, can be adapted to quite a range of other careers as well, making Protagonists natural HR administrators, event coordinators, and politicians – anything that helps a community or organization to operate more smoothly.</p>
<p>To top it all off, Protagonists are able to express themselves both creatively and honestly, allowing them to approach positions as sales representatives and advertising consultants from a certain idealistic perspective, intuitively picking up on the needs and wants of their customers, and working to make them happier. However, Protagonists need to make sure they get to focus on people, not systems and spreadsheets, and they are unlikely to have the stomach for making the sort of decisions required in corporate governance positions – they will feel haunted, knowing that their decision cost someone their job, or that their product cost someone their life.</p>
<p>Having a preference for Intuitive (N) trait over its Observant (S) counterpart also means that careers demanding exceptional situational awareness, such as law enforcement, military service, and emergency response, will cause Protagonists to burn out quickly. While great at organizing willing parties and winning over skeptics, in dangerous situations Protagonists just won’t be able to maintain the sort of focus on their immediate physical surroundings that they inevitably demand of themselves hour after hour, day after day.</p>
<br><h3>Always Bear in Mind That Your Own Resolution to Succeed Is More Important Than Any Other</h3>
<p>It makes a great deal more sense for Protagonists to be the force keeping these vital services organized and running well, taking their long-term views, people skills and idealism, and using them to shape the situation on the ground, while more physical personality types manage the moment-to-moment crises. People with the Protagonist personality type are always up for a good challenge – and nothing thrills them quite like helping others. But while willing to train the necessary skills, Protagonists will always show an underlying preference for the sort of help that draws a positive long-term trend, that effects change that really sticks.</p>
<p>Careers operating behind enemy lines and arriving at the scene of the crime too late to help will simply weigh on Protagonists’ sensitive hearts and minds, especially if criticized despite their efforts. On the other hand, Protagonists are a driven, versatile group, and that same vision that pulls them towards administration and politics can help them focus through the stress of the moment, knowing that each second of effort contributes to something bigger than themselves.</p><br>
<br>
<b>Education</b>

<p>ENFJs love helping people, and the education sector gives them an opportunity to do what they love. As teachers and lecturers, ENFJs can offer guidance to students and, by equipping them with the necessary skills, assist them in becoming successful professionals and responsible adults. They take a genuine interest in people and can help weaker students improve their performance.
In the case of special education, teachers work with physically and/or mentally challenged students and aim to equip them with skills that will help them discover their talents, find good employment matches, and function well living on their own.</p>
<br>
<b>Community and Social Work Jobs</b>

<p>ENFJs like to be involved in their community and help those people who are in need. The ideal careers in this sector include positions such as health educators, counselors, social workers, career counselors, and marriage therapists. Their ability to read other people’s emotions well gives ENFJs an advantage in this field because they can usually better understand other people’s feelings and advise them accordingly. ENFJs are sociable and they can easily strike up a conversation with a stranger and quickly establish a personal connection and friendship.</p>
<br>
<b>Business, Management, and Sales Careers</b>

<p>For a business to thrive, the people tasked with dealing with the customers, employees, and other stakeholders must be able to effectively interact with others. The ideal candidate to fill such roles is often a person with an ENFJ personality. This makes ENFJs good candidates for positions in sales departments, as members or heads of a human resources team, or acting in general executive management functions. ENFJs also tend to make excellent customer service representatives.</p>
<p>As a sales personnel or manager, a person must have excellent people’s skills and be able to read potential customers. ENFJs tend to have the ability to establish the kind of strong customer relationships that secure customer loyalty. As a human resource manager or member of the human resource team, one needs to have excellent negotiation skills to deal with labor relations and administer labor contracts. ENFJs have the ability to keep a business organized and running efficiently by using their considerable people skills.</p>
<br>
<b>Media Jobs</b>

<p>The media sector requires people who are creative, imaginative, and organized to develop new stories and keep their audience informed. ENFJs make good journalists and editors for media companies, due to their creativity and hunger for new challenges. They can help a company by planning or reviewing content before it is released to the public.</p>
<p>ENFJs are usually good at delegating duties and managing team members. Therefore, they are good at ensuring that things run smoothly and that tasks are accomplished in a timely manner. This can make them good candidates for managing or working in a fast-paced newsroom environment where deadlines are an everyday fact of life.</p>
<br>
<b>Legal Positions</b>

<p>The work of attorneys is to help people get justice for a fee. ENFJs can derive satisfaction from working in the profession of law because it gives them the opportunity to assist people in obtaining satisfaction through or from the legal system. ENFJs can offer a helping hand to people in conflict, enabling them to find an amicable solution for both parties before a conflict escalates to unmanageable levels.
Apart from working as attorneys or paralegals, ENFJs are also well-suited to work in mediation or negotiation positions, such as agents working as representatives for professional athletes – or as negotiators of international M&A or other business deals.</p>
<br>
<b>Healthcare Work</b>

<p>People working in the healthcare sector spend a lot of time in hospitals attending to people in need. ENFJs can work in this industry as doctors, nurses, therapists, or dentists, just to name a few possibilities. The heightened capacity for empathy makes ENFJs ideal for work in the rapidly growing healthcare field. The healthcare sector needs the services of people who are passionate about helping other people, and who can handle the often strenuous and demanding work schedules. ENFJs fit this description.</p>
<br>
<b>Finance and Accounting Jobs</b>

<p>Even though finance and accounting are usually thought of primarily as very analytical roles, there are still good opportunities for ENFJ personality types, especially in leadership roles where they are helping to manage a team of people.</p>
<br>
<br>

{%endblock%}





