{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}


{%block data%}
<h1>Parenthood</h1>
<p>As natural leaders, Protagonists make excellent parents, striving to strike a balance between being encouraging and supportive friends to their children, while also working to instil strong values and a sense of personal responsibility. If there’s one strong trend with the Protagonist personality type, it’s that they are a bedrock of empathetic support, not bullheadedly telling people what they ought to do, but helping them to explore their options and encouraging them to follow their hearts.</p>
 
<br><h3>Whatever You Are, Be a Good One</h3>
<p>Protagonist parents take pride in nurturing and inspiring strong values, and they take care to ensure that the basis for these values comes from understanding, not blind obedience. Whatever their children need in order to learn and grow, Protagonist parents give the time and energy necessary to provide it. While in their weaker moments they may succumb to more manipulative behavior, Protagonists mostly rely on their charm and idealism to make sure their children take these lessons to heart.</p>
<p>Owing to their aversion to conflict, Protagonist parents strive to ensure that their homes provide a safe and conflict-free environment. While they can deliver criticism, it’s not Protagonists’ strong suit, and laying down the occasionally necessary discipline won’t come naturally. But, people with the Protagonist personality type have high standards for their children, encouraging them to be the best they can be, and when these confrontations do happen, they try to frame the lessons as archetypes, moral constants in life which they hope their children will embrace.</p>
<p>As their children enter adolescence, they begin to truly make their own decisions, sometimes contrary to what their parents want – while Protagonists will do their best to meet this with grace and humor, they can feel hurt, and even unloved, in the face of this rebellion. Protagonists are sensitive, and if their child goes so far as to launch into criticisms, they may become truly upset, digging in their heels and locking horns.</p>
<br><h3>All That I Am, or Hope to Be, I Owe to My Angel Mother</h3>
<p>Luckily, these occasions will likely be rare. Protagonists’ intuition gives them a talent for understanding, and regardless of the heat of the moment, their children will move on, remembering the genuine warmth, care, love and encouragement they’ve always received from their Protagonist parents. They grow up feeling the lessons that have been woven into the fabric of their character, and recognize that they are the better for their parents’ efforts.</p>
<br>
{%endblock%}





