{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" height="120px" width="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}


{%block data%}

    <h1>Strengths & Weaknesses</h1><br>
  <h3>Protagonist Strengths</h3><br>
   
<p><b>Tolerant – </b>Protagonists are true team players, and they recognize that that means listening to other peoples’ opinions, even when they contradict their own. They admit they don’t have all the answers, and are often receptive to dissent, so long as it remains constructive.</p>
<br><p><b>Reliable –</b> The one thing that galls Protagonists the most is the idea of letting down a person or cause they believe in. If it’s possible, Protagonists can always be counted on to see it through. </p>
<br><p><b>Charismatic –</b> Charm and popularity are qualities Protagonists have in spades. They instinctively know how to capture an audience, and pick up on mood and motivation in ways that allow them to communicate with reason, emotion, passion, restraint – whatever the situation calls for. Talented imitators, Protagonists are able to shift their tone and manner to reflect the needs of the audience, while still maintaining their own voice. </p>
<br><p><b>Altruistic –</b> Uniting these qualities is Protagonists’ unyielding desire to do good in and for their communities, be it in their own home or the global stage. Warm and selfless, Protagonists genuinely believe that if they can just bring people together, they can do a world of good. </p>
<br><p><b>Natural Leaders –</b> More than seeking authority themselves, Protagonists often end up in leadership roles at the request of others, cheered on by the many admirers of their strong personality and positive vision. </p>
<br><br><h3>Protagonist Weaknesses</h3>
   
<br><p><b>Overly Idealistic –</b> People with the Protagonist personality type can be caught off guard as they find that, through circumstance or nature, or simple misunderstanding, people fight against them and defy the principles they’ve adopted, however well-intentioned they may be. They are more likely to feel pity for this opposition than anger, and can earn a reputation of naïveté. </p>
<br><p><b>Too Selfless –</b> Protagonists can bury themselves in their hopeful promises, feeling others’ problems as their own and striving hard to meet their word. If they aren’t careful, they can spread themselves too thin, and be left unable to help anyone. </p>
<br><p><b>Too Sensitive –</b> While receptive to criticism, seeing it as a tool for leading a better team, it’s easy for Protagonists to take it a little too much to heart. Their sensitivity to others means that Protagonists sometimes feel problems that aren’t their own and try to fix things they can’t fix, worrying if they are doing enough. </p>
<br><p><b>Fluctuating Self-Esteem –</b> Protagonists define their self-esteem by whether they are able to live up to their ideals, and sometimes ask for criticism more out of insecurity than out of confidence, always wondering what they could do better. If they fail to meet a goal or to help someone they said they’d help, their self-confidence will undoubtedly plummet. </p>
<br><p><b>Struggle to Make Tough Decisions –</b> If caught between a rock and a hard place, Protagonists can be stricken with paralysis, imagining all the consequences of their actions, especially if those consequences are humanitarian. </p>
<br>
{%endblock%}





