{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1>
<p>People who share the Protagonist personality type feel most at home when they are in a relationship, and few types are more eager to establish a loving commitment with their chosen partners. Protagonists take dating and relationships seriously, selecting partners with an eye towards the long haul, rather than the more casual approach that might be expected from some types in the Explorer Role group. There’s really no greater joy for Protagonists than to help along the goals of someone they care about, and the interweaving of lives that a committed relationship represents is the perfect opportunity to do just that.</p>
<br><h3>I’m a Slow Walker, but I Never Walk Back</h3>
 
<p>Their Intuitive (N) trait helps them to keep up with the rapidly shifting moods that are common early in relationships, but Protagonists will still rely on conversations about their mutual feelings, checking the pulse of the relationship by asking how things are, and if there’s anything else they can do. While this can help to keep conflict, which Protagonists abhor, to a minimum, they also risk being overbearing or needy – Protagonists should keep in mind that sometimes the only thing that’s wrong is being asked what’s wrong too often.</p>
<p>Protagonists don’t need much to be happy, just to know that their partner is happy, and for their partner to express that happiness through visible affection. Making others’ goals come to fruition is often the chiefest concern of Protagonists, and they will spare no effort in helping their partner to live the dream. If they aren’t careful though, Protagonists’ quest for their partners’ satisfaction can leave them neglecting their own needs, and it’s important for them to remember to express those needs on occasion, especially early on.</p>
<br><h3>You Cannot Escape the Responsibility of Tomorrow by Evading It Today</h3>
<p>Protagonists’ tendency to avoid any kind of conflict, sometimes even sacrificing their own principles to keep the peace, can lead to long-term problems if these efforts never fully resolve the underlying issues that they mask. On the other hand, people with the Protagonist personality type can sometimes be too preemptive in resolving their conflicts, asking for criticisms and suggestions in ways that convey neediness or insecurity. Protagonists invest their emotions wholly in their relationships, and are sometimes so eager to please that it actually undermines the relationship – this can lead to resentment, and even the failure of the relationship. When this happens, Protagonists experience strong senses of guilt and betrayal, as they see all their efforts slip away.</p>
<p>If potential partners appreciate these qualities though, and make an effort themselves to look after the needs of their Protagonist partners, they will enjoy long, happy, passionate relationships. Protagonists are known to be dependable lovers, perhaps more interested in routine and stability than spontaneity in their sex lives, but always dedicated to the selfless satisfaction of their partners. Ultimately, Protagonist personality types believe that the only true happiness is mutual happiness, and that’s the stuff successful relationships are made of.</p>
<br>
{%endblock%}





