{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\enfj.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="enfji">Introduction</a><br>
<br><a href="enfjs">Strengths & Weakness</a><br>
<br><a href="enfjc">Career</a><br>
<br><a href="enfjw">Workplace Habits</a><br>
<br><a href="enfjr">Romance</a><br>
<br><a href="enfjf">Friendship</a><br>
<br><a href="enfjp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>People with the Protagonist personality type are intelligent, warm, idealistic, charismatic, creative, social... With this wind at their backs, Protagonists are able to thrive in many diverse roles, at any level of seniority. Moreover, they are simply likeable people, and this quality propels them to success wherever they have a chance to work with others.</p>
<br><h3>Protagonist Subordinates</h3>
<p>As subordinates, Protagonists will often underestimate themselves – nevertheless, they quickly make an impression on their managers. Quick learners and excellent multitaskers, people with the Protagonist personality type are able to take on multiple responsibilities with competence and good cheer. Protagonists are hardworking, reliable and eager to help – but this can all be a double-edged sword, as some managers will take advantage of Protagonists’ excellent quality of character by making too many requests and overburdening their Protagonist subordinates with extra work. Protagonists are conflict-averse and try to avoid unnecessary criticism, and in all likelihood will accept these extra tasks in an attempt to maintain a positive impression and frictionless environment.</p>
 
<br><h3>Protagonist Colleagues</h3>
<p>As colleagues, Protagonists’ desire to assist and cooperate is even more evident as they draw their coworkers into teams where everyone can feel comfortable expressing their opinions and suggestions, working together to develop win-win situations that get the job done. Protagonists’ tolerance, open-mindedness and easy sociability make it easy for them to relate to their colleagues, but also make it perhaps a little too easy for their colleagues to shift their problems onto Protagonists’ plates. People with the Protagonist personality type are sensitive to the needs of others, and their role as a social nexus means that problems inevitably find their way to Protagonists’ doorsteps, where colleagues will find a willing, if overburdened, associate.</p>
<br><h3>Protagonist Managers</h3>
<p>While perfectly capable as subordinates and colleagues, Protagonists’ true calling, where their capacity for insightful and inspiring communication and sensitivity to the needs of others really shows, is in managing teams. As managers, Protagonists combine their skill in recognizing individual motivations with their natural charisma to not only push their teams and projects forward, but to make their teams want to push forward. They may sometimes stoop to manipulation, the alternative often being a more direct confrontation, but Protagonists’ end goal is always to get done what they set out to do in a way that leaves everyone involved satisfied with their roles and the results they achieved together.</p>

<br>
{%endblock%}





