{%block content%}
<body>
    <form action="end" name="form1" method="POST">

        {% csrf token %}
    
    Little interest or pleasure in doing things<br><br>
    
    <input type="radio" name="no" class="" value="1" id="text1">Not at all<br>
    <input type="radio" name="no" class="" value="2" id="text1">Several days<br>
    <input type="radio" name="no" class="" value="3" id="text1">More than half of the days<br>
    <input type="radio" name="no" class="" value="4" id="text1">Nearly every day<br><br>
    
    Feeling down,depressed,or hopeless<br><br>
    
    <input type="radio" name="o" class="" value="1" id="text2">Not at all<br>
    <input type="radio" name="o" class="" value="2" id="text2">Several days<br>
    <input type="radio" name="o" class="" value="3" id="text2">More than half of the days<br>
    <input type="radio" name="o" class="" value="4" id="text2">Nearly every day<br><br>
    
    Trouble falling or staying asleep,or sleeping too much<br><br>
    
    <input type="radio" name="n" class="" value="1" id="text3">Not at all<br>
    <input type="radio" name="n" class="" value="2" id="text3">Several days<br>
    <input type="radio" name="n" class="" value="3" id="text3">More than half of the days<br>
    <input type="radio" name="n" class="" value="4" id="text3">Nearly every day<br><br>
    
    Feeling tired or having little energy<br><br>
    
    <input type="radio" name="ola" class="" value="1" id="text4">Not at all<br>
    <input type="radio" name="ola" class="" value="2" id="text4">Several days<br>
    <input type="radio" name="ola" class="" value="3" id="text4">More than half of the days<br>
    <input type="radio" name="ola" class="" value="4" id="text4">Nearly every day<br><br>
    
    Poor appetite or overeating<br>
    
    <br>
    <input type="radio" name="nola" class="" value="1" id="text5">Not at all<br>
    <input type="radio" name="nola" class="" value="2" id="text5">Several days<br>
    <input type="radio" name="nola" class="" value="3" id="text5">More than half of the days<br>
    <input type="radio" name="nola" class="" value="4" id="text5">Nearly every day<br><br>
    
    Feeling bad about yourself - or that you are a failure or have let yourself or your family down<br>
    
    <br>
    <input type="radio" name="nole" class="" value="1" id="text6">Not at all<br>
    <input type="radio" name="nole" class="" value="2" id="text6">Several days<br>
    <input type="radio" name="nole" class="" value="3" id="text6">More than half of the days<br>
    <input type="radio" name="nole" class="" value="4" id="text6">Nearly every day<br><br>
    
    Trouble concentrating on things, such as reading the newspaper or watching television<br>
    
    <br>
    <input type="radio" name="nose" class="" value="1" id="text7">Not at all<br>
    <input type="radio" name="nose" class="" value="2" id="text7">Several days<br>
    <input type="radio" name="nose" class="" value="3" id="text7">More than half of the days<br>
    <input type="radio" name="nose" class="" value="4" id="text7">Nearly every day<br><br>
    
    Moving or speaking so slowly that other people could have noticed<br>
    
    <br>
    <input type="radio" name="non" class="" value="1" id="text8">Not at all<br>
    <input type="radio" name="non" class="" value="2" id="text8">Several days<br>
    <input type="radio" name="non" class="" value="3" id="text8">More than half of the days<br>
    <input type="radio" name="non" class="" value="4" id="text8">Nearly every day<br><br>
    
    Thoughts that you would be better off dead, or of hurting yourself<br>
    
    <br>
    <input type="radio" name="norm" class="" value="1" id="text9">Not at all<br>
    <input type="radio" name="norm" class="" value="2" id="text9">Several days<br>
    <input type="radio" name="norm" class="" value="3" id="text9">More than half of the days<br>
    <input type="radio" name="norm" class="" value="4" id="text9">Nearly every day<br>
    <br>
    
    If you've had any days with issues above, how difficult have these problems made it for you at work, home, school, or with other people?<br>
    
    <br>
    <input type="radio" name="nova" class="" value="1" id="text10">Not at all<br>
    <input type="radio" name="nova" class="" value="2" id="text10">Several days<br>
    <input type="radio" name="nova" class="" value="3" id="text10">More than half of the days<br>
    <input type="radio" name="nova" class="" value="4" id="text10">Nearly every day<br>
    <br>
    <input type="Submit" >
    </form>
    
    </body>
{%endblock%}    