{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istpi">Introduction</a><br>
<br><a href="istps">Strengths & Weakness</a><br>
<br><a href="istpc">Career</a><br>
<br><a href="istpw">Workplace Habits</a><br>
<br><a href="istpr">Romance</a><br>
<br><a href="istpf">Friendship</a><br>
<br><a href="istpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Strengths & Weaknesses </h1> <br><br>

<h2>Virtuoso Strengths</h2> <br>

<p><strong>Optimistic and Energetic</strong> – Virtuosos are usually up to their elbows in some project or other. Cheerful and good-natured, people with the Virtuoso personality type (especially Assertive ones) rarely get stressed out, preferring to go with the flow.</p><br>

 <p><strong>Creative and Practical</strong> – Virtuosos are very imaginative when it comes to practical things, mechanics, and crafts. Novel ideas come easily, and they love using their hands to put them into action.</p> <br>

<p><strong>Spontaneous and Rational</strong> – Combining spontaneity with logic, Virtuosos can switch mindsets to fit new situations with little effort, making them flexible and versatile individuals.</p> <br>

<p><strong>Know How to Prioritize</strong> – This flexibility comes with some unpredictability, but Virtuoso personalities are able to store their spontaneity for a rainy day, releasing their energy just when it’s needed most.</p><br>

 <p><strong>Great in a Crisis</strong> – With all this hands-on creativity and spontaneity, it’s no wonder that Virtuosos are naturals in crisis situations. People with this personality type usually enjoy a little physical risk, and they aren’t afraid to get their hands dirty when the situation calls for it.</p> <br>

<p><strong>Relaxed</strong> – Through all this, Virtuosos are able to stay quite relaxed. They live in the moment and go with the flow, refusing to worry too much about the future.</p><br><br>

<h2>Virtuoso Weaknesses</h2><br>

<p><strong>Stubborn</strong> – As easily as Virtuosos go with the flow, they can also ignore it entirely, and usually move in another direction with little apology or sensitivity. If someone tries to change Virtuosos’ habits, lifestyle or ideas through criticism, they can become quite blunt in their irritation.</p><br>

 <p><strong>Insensitive</strong> – Virtuosos use logic, and even when they try to meet others halfway with empathy and emotional sensitivity, it rarely seems to quite come out right, if anything is even said at all.</p> <br>

<p><strong>Private and Reserved</strong> – Virtuoso personalities are notoriously difficult to get to know. They are true introverts, keeping their personal matters to themselves, and often just prefer silence to small talk.</p><br>

 <p><strong>Easily Bored</strong> – Virtuosos enjoy novelty, which makes them excellent tinkerers, but much less reliable when it comes to focusing on things long-term. Once something is understood, Virtuosos tend to simply move on to something new and more interesting.</p> <br>

<p><strong>Dislike Commitment</strong> – Long-term commitments are particularly onerous for Virtuosos. They prefer to take things day-by-day, and the feeling of being locked into something for a long time is downright oppressive. This can be a particular challenge in Virtuosos’ romantic relationships.</p><br>

 <p><strong>Risky Behavior</strong> – This stubbornness, difficulty with others’ emotions, focus on the moment, and easy boredom can lead to unnecessary and unhelpful boundary-pushing, just for fun. Virtuosos have been known to escalate conflict and danger just to see where it goes, something that can have disastrous consequences for everyone around if they lose control of the situation.</p> 

{%endblock%}
