{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istpi">Introduction</a><br>
<br><a href="istps">Strengths & Weakness</a><br>
<br><a href="istpc">Career</a><br>
<br><a href="istpw">Workplace Habits</a><br>
<br><a href="istpr">Romance</a><br>
<br><a href="istpf">Friendship</a><br>
<br><a href="istpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Friendships </h1> <br>

<p>When it comes to friendships, Virtuosos seem made for Bushnell’s Law of game design: Easy to learn, difficult to master. With their well-rounded and interesting array of hobbies, people with the Virtuoso personality type have no trouble at all making acquaintances to share their activities with. It’s getting beneath the surface to become Virtuosos’ true friends that is the real challenge, leaving them with a lot of good will and friendly faces to call on, but only a few people who they feel truly understand them.</p> <br><br>

 <h2>Maybe... But Not Today</h2><br>

 <p>A lot of this comes down to Virtuosos simply not wanting to be bound to any particular person or activity. Virtuoso personalities live in the present, enjoying whatever life brings, and feel no real obligation to shift course on account of others’ plans. If friends don’t want to do what Virtuosos are doing, then they are free to go do their own thing, and they’ll hang out some other time. Sometimes their shifts in attitude can catch their friends flat-footed, but Virtuosos’ motto remains “everything can be changed”. Forcing them to constantly commit to scheduled activities is probably the quickest way to end these friendships. </p><br>

 <p>As long as everyone keeps things relaxed and flexible though, Virtuosos’ friendships can be rich and rewarding. People with this personality type are talented when it comes to using their senses, and usually enjoy a little competition. This makes Virtuosos’ hobbies, especially the more physical activities like fishing and crafts, especially enjoyable with a little company, and they are usually the basis for their friendships. Virtuosos’ interests are pretty diverse, so they should have no trouble coming up with exciting things to do.</p> <br>

<p>Virtuoso personalities are also thoughtful, rational people. Being fairly creative individuals themselves, they often enjoy discussing new ideas – but in the end, the point of sharing those ideas needs to be to take action. Dreaming is well and good, but talk is cheap, and discussions on abstract or distant subjects like Eurasian politics can only hold Virtuosos’ attention for so long before they decide to shift their focus to something they can do. </p><br>

 <p>This makes friendships with Intuitive (N) types, who have a much less physical approach to life, challenging for Virtuosos to maintain. With their enjoyment of firsthand experience, these personalities just feel more comfortable alongside other personality types with the Observant (S) trait. So long as they share a hobby, philosophical differences and contrasting world views really don’t matter too much – it’s what people do that matters to Virtuosos.</p> <br><br>

<h2>I Never Set Out to Be Weird, and yet...</h2><br>

 <p>Virtuosos are unusually popular, almost in spite of themselves. Their open-mindedness, interesting hobbies and relaxed attitude are attractive to a remarkably broad range of personality types. With so many acquaintances, Virtuosos are sure to strike up deeper friendships with at least a few.</p> 

{%endblock%}
