{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istpi">Introduction</a><br>
<br><a href="istps">Strengths & Weakness</a><br>
<br><a href="istpc">Career</a><br>
<br><a href="istpw">Workplace Habits</a><br>
<br><a href="istpr">Romance</a><br>
<br><a href="istpf">Friendship</a><br>
<br><a href="istpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Workplace Habits </h1> <br>
<p>When it comes to the workplace, Virtuosos’ top requirement is often a sense of unpredictability and excitement. This quality makes Virtuoso personalities’ personal relationships challenging enough, even among close friends and immediate family – for those they’ve only come to know in a professional environment, it can be downright frustrating.</p> <br>
<p>Of course, this all comes down to knowing what makes them tick. With a little space and a hands-on problem to solve, Virtuosos can be some of the most productive people around. As with anyone, forcing people with the Virtuoso personality type into a mold that doesn’t fit just doesn’t work. Recognizing their unique perspective and gifts can lead to extraordinary results.</p> <br><br>
 <h2>Virtuoso Subordinates</h2> <br>
<p>As subordinates, what Virtuosos crave most is a little wiggle room. Relaxed and easy-going, people with the Virtuoso personality type are happy to stick around with surprising loyalty, as long as their employers and managers don’t try to force them to commit to anything that can’t be undone the next day. Strict rules, guidelines and formal agreements make Virtuosos feel cramped and bored. If their habits or methods come under criticism or are forced to change, Virtuosos can also be surprisingly mulish.</p> <br>
<p>Something that’s likely to make Virtuosos’ day is a random list of things that need to be fixed or dealt with. Virtuoso personalities have a talent for conserving their energy for just such an occasion, and can tackle such a laundry list with surprising enthusiasm. Their tasks do need to be hands-on though – if the items all start with “Come up with a strategy to...”, it’s probably better to find an Analyst type.</p><br><br>
 <h2>Virtuoso Colleagues</h2> <br>
<p>Virtuosos are often much more liked by their colleagues than they would expect. Quiet and reserved, people with this personality type usually need a little physical space, but at the same time enjoy peeking in on others’ work to see if there’s anything interesting going on. Not naturally emotional or empathetic, Virtuosos have a blunt way of communicating that can lead to misunderstandings or hurt feelings.</p> <br>
<p>Yet, Virtuosos combine this rationalism and reserve with a sense of spontaneity that, among other things, creates a lighthearted sense of “do unto others” fairness. Turnabout is always fair play, and the odd prank, and the retaliation, are usually enjoyed by all. Virtuosos have a great sense of humor, if sometimes a little risqué, and are not only resistant to workplace conflicts, but are great at defusing them with a well-placed joke that puts it all into perspective.</p> <br><br>
<h2>Virtuoso Managers</h2> <br>

<p>Virtuoso managers treat their subordinates as they’d like to be treated: with minimal talking and loose boundaries. Virtuosos aren’t big on chattiness or emotional expression, and more sensitive types may see them as cold and distant – effusive praise and back-slapping just isn’t in Virtuosos’ nature. In fact, there isn’t likely to be a lot of feedback at all from Virtuoso managers, good or bad. But when problems do arise, they are great listeners who devise practical, fair, and impartial solutions.</p> 

{%endblock%}
