{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\istp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="istpi">Introduction</a><br>
<br><a href="istps">Strengths & Weakness</a><br>
<br><a href="istpc">Career</a><br>
<br><a href="istpw">Workplace Habits</a><br>
<br><a href="istpr">Romance</a><br>
<br><a href="istpf">Friendship</a><br>
<br><a href="istpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>    Romantic Relationships </h1> <br><br>

<p>When it comes to romantic relationships with Virtuosos, it’s a bit like nailing Jell-O to a tree. Dating Virtuoso personalities is a tango, complex and interesting, with alternating coldness and detachment, and passion, spontaneity and enjoyment of the moment. Nothing can be forced in Virtuoso relationships, but so long as they are given the space they need to be themselves, they will gladly enjoy the comforts of a steady partner for a lifetime.</p> <br><br>

 <h2>If Songs Could Change Lives, We’d All Love Each Other</h2> <br>

<p>Early in dating, people with the Virtuoso personality type can be especially flighty – they live in the present, always looking for new activities and experiences. If a potential partner doesn’t measure up, Virtuosos have no real problem walking away. Virtuosos also need a great deal of personal space, both physically and mentally, and any attempts to control them or forcibly schedule their activities only accelerates their departure.</p> <br>

<p>On the other hand, Virtuosos have no problem trying to change their partners’ habits, most likely with attempts to get them to loosen up a bit and relax and have fun. Virtuoso personalities are hardly strict or traditional when it comes to dating, and often try to introduce sex into their activities early on. Sensual individuals that they are, Virtuosos make ready use of all of their senses, viewing intimacy as an art, a performance, and a source of pleasure.</p> <br>

<p>As their relationships progress, Virtuosos’ partners tend to find that intimacy is about the closest they get to open emotional expression. It’s not that Virtuosos don’t have feelings – they actually run quite deep and strong – just that they conceal and protect them because they are unsure how to deal with them and express them. Virtuosos have no trouble leaving something they think is mutually understood unsaid.</p> <br>

<p>This applies in a broader sense in Virtuosos’ relationships as well. Any attempts to push understood arrangements, even the relationships themselves, into open discussion in order to secure commitment, especially early on, are often met by Virtuosos with something close to panic. Nothing is so acutely terrifying to Virtuosos as knowing that there’s no way out. Every day is a new day, and Virtuosos review their obligations from moment to moment.</p> <br>

 <p>None of this should be taken too personally by Virtuosos’ partners – it’s just how their minds work. People with this personality type live in the present, in a world of physical activities that engage the senses, and they just need to know that they have the freedom to be passionate about something one day and indifferent the next, without being grilled on when they’re going to finish something, or why they’ve “suddenly changed their minds”.</p> <br>

<p>At the same time, being a little more expressive and a little more comfortable with the idea of consistency and follow-through can go a long way in rounding out the Virtuoso personality type. The best partners usually share Virtuosos’ Observant (S) trait, that interest in what the world is here and now, with one or two opposing traits to help them to explore a world that also involves other people and others’ expectations.</p> 

{%endblock%}
