{% extends 'base.html'%}

{%block navigation%}
<a href="aintro">Introduction</a><br><br>
        <br><a href="anxiety">Test</a><br><br>
        <br><a href="amedication">Medication</a><br><br>
{%endblock%}

{% block data%}
<h1>Anxiety Medications</h1><br><br>
<h3>What Treatment Options are Available?</h3><br>
<p>Like other anxiety disorders, medications and therapy are the most common treatment options if you are suffering from Generalized Anxiety Disorder.</p>

<p><b>Psychotherapy – </b>often referred to as “talk” therapy is one treatment option. Cognitive behavioral therapy is a very common method of psychotherapy that has shown great results for people living with Generalized Anxiety Disorder. This form of therapy is geared toward helping you recognize and understand your thoughts and the pattern of any negative thoughts you may experience. Cognitive behavioral therapy focuses on teaching you coping skills or mechanisms you can use to help you return to normal functioning and ease your feelings of anxiety. It is normally a short-term therapy and people who undergo this type of psychotherapy have found great results.<p><br>

<p><b>Medications </b>are also a common form of treatment for Generalized Anxiety Disorder. The most common types of medications prescribed to individuals living with this form of anxiety include anti-depressants, anti-anxiety drugs, and in some cases, sedatives. Antidepressants are used to treat depression but have been found effective in the treatment of anxiety as well. They commonly take a couple of weeks to start taking effect and may cause some mild side effects, including headache, nausea, or difficulty sleeping. Most of the side effects are mild and tend to subside within a few weeks. Anti-anxiety medication is also often prescribed to help individuals cope with Generalized Anxiety Disorder. These types of drugs are powerful in their treatment of this type of anxiety; one of the most commonly prescribed types is a drug called buspirone often under the brand name Buspar.</p>
<p>During acute attacks of anxiety, your doctor may prescribe a sedative to ease your anxiety symptoms – though these should be used as needed and on a short-term basis.</p>
<p>Some people find that medication alone can be helpful in the treatment of Generalized Anxiety Disorder, while others are more likely to benefit from psychotherapy. Some find that the combination of psychotherapy and medication is the best course of action. Engaging in certain behaviors may also ease your anxiety and promote a healthier lifestyle. These include:</p><ul>
<li>Daily exercise</li>
<li>Limiting or stopping the use of caffeine</li>
<li>Eating a healthy, well-balanced diet</li>
<li>Stress management techniques – such as yoga or meditation</li></ul><br>
<p>To decrease the occurrence of your anxiety in general, don’t miss your medication or any counseling sessions – even if you don’t feel like talking or feel “fine” and make sure you attend your regularly scheduled doctor’s appointments.</p>


{%endblock%} 