{%extends 'base.html'%}
{%block navigation%}
<a href="dintro">Introduction</a><br><br>
        <br><a href="depression">Test</a><br><br>
        <br><a href="dmedication">Medication</a><br><br>
{%endblock%}

{% block data%}
<h2>Depression is most often treated with a three-pronged approach: depression medicine, working with a therapist and through lifestyle changes.</h2>

<h3>Medication</h3><br>
<p>The medication prescribed is usually an antidepressant. A primary care practitioner can probably prescribe one. Factors the doctor will consider include other medical conditions, other medicines the patient is taking, side effects, and cost.</p>
<p>Practitioners typically start with a low dose that is gradually increased until improvement is shown. First-time antidepressants may take 4 to 6 weeks to show improvement. The doctor will monitor the side effects and measure improvement.</p><br><br>


<h3>Types of Medication and Treatments</h3>
<ul>
<li><strong>Selective Serotonin Reuptake Inhibitors (SSRIs)</strong> SSRIs relieve symptoms by blocking the absorption (called “reuptake”) of serotonin by particular brain nerve cells. Because serotonin helps regulate mood, an SSRI helps leave more serotonin available. Most common drugs prescribed for depression, including fluoxetine (Prozac®), paroxetine (Paxil®, Pexeva®), citalopram (Celexa) and escitalopram (Lexapro®).

 <b>Side effects:</b>  insomnia (sleeplessness), sexual dysfunction, and weight gain, but fewer side effects than tricyclic antidepressants (see below).</li>
<li><strong>Serotonin and Norepinephrine Reuptake Inhibitors (SNRIs</strong><strong>)</strong> work with a double type of action by increasing levels of serotonin and norepinephrine that inhibit these chemicals being absorbed back into brain cells. Examples: duloxetine (Cymbalta®), venlafaxine (Effexor XR®), desvenlafaxine (Pristiq®, Khedezla®), levomilnacipran (Fetzima®). <b>Side effects</b>: headache, nausea or upset stomach, a minor increase in blood pressure, weight gain, sexual dysfunction.</li>

<li><strong>Norepinephrine-Dopamine Reuptake Inhibitors (NDRIs)</strong> help increase the concentrations of mood regulators in the brain. Examples: bupropion (Wellbutrin®, Aplenzin®, Forfivo XL®) and Mirtazapine (Remeron®). NDRIs may produce fewer side effects, or side effects may be different. Bupropion can cause anxiety but causes the least sexual side effects. Mirtazapine may also produce fewer sexual side effects and less nausea, but it causes weight gain and sedation.</li>
<li><strong>Tricyclic Antidepressants (TCAs)</strong> include imipramine (Tofranil®), nortriptyline (Pamelor), amitriptyline, doxepin, and desipramine (Norpramin®). Tricyclics tend to cause more side effects than newer antidepressants.TCAs work similarly to SNRIs, but they produce even more side effects. Conversely, they may ease chronic pain. Tricyclics may be prescribed when patients have tried other medications that have not worked.</li>

<li><strong>Monoamine Oxidase Inhibitors (MAOIs)</strong> include drugs such as tranylcypromine (Parnate®), phenelzine (Nardil®) and isocarboxazid (Marplan®). May be prescribed when other medications haven’t worked but can have serious side effects. because of dangerous (or even deadly) interactions with foods (cheese, pickles, wine). MAOIs may also produce a bad reaction when taken with medications such as decongestants, birth control pills, and some herbal supplements. MAOIs can <i>never</i> be combined with SSRIs.</li>

<li><strong>Atypical Antidepressants.</strong> These medications do not belong to any of the common categories of antidepressants. These include trazodone, vortioxetine (Trintellix®), and vilazodone (Viibryd®). Sometimes they have novel mechanisms of action that are under development, and sometimes they act more rapidly than typical antidepressants.</li>
<li><strong>Atypical Antipsychotics (Second-Generation Antipsychotics, or SGAs). </strong>These drugs are also called second-generation antipsychotics (SGAs) and may be used for treatment-resistant depression (TRD) or very severe depressive disorder. These include aripiprazole (Abilify®), quetiapine (Seroquel® and Seroquel XR®), and olanzapine (Zyprexa®) — often used in combination with other medications including fluoxetine. Brexpiprazole (Rexulti®): is used to treat certain mental/mood disorders such as schizophrenia and depression and may also help to improve mood, sleep, appetite, and energy level.</li>

<li><strong>Newly-Approved Antidepressants </strong>Selegiline (Emsam®), an MAOI that is put on your skin as a patch, may cause fewer side effects than other MAOIs. Another newly-approved antidepressant on the market is nasal spray called Spravato.</li>
</ul>

<h3>Other Medicinal Options</h3>
<ul>
<li><strong><i>Lithium</i></strong> has long been used as a mood stabilizer; it is indicated for the treatment of bipolar disorder. Lithium reduces the risk of suicide in patients with bipolar or depression by more than 60%. Lithium is used to treat and prevent episodes of mania in people with bipolar disorder, also called manic-depressive disorder. It is called an “antimanic agent.”</li>
<li><strong><i>Thyroid </i></strong><strong>treatments</strong>: Thyroid hormone can be used in two different ways to treat unipolar major depression. Most often, thyroid hormone is used as augmentation for patients who respond insufficiently to antidepressant monotherapy and can also be started simultaneously with a tricyclic at the beginning of pharmacotherapy to accelerate response compared with tricyclic antidepressant monotherapy.</li>
<li><i><strong>MDMA</strong> </i>(aka “molly” or “ecstasy”) a psychoactive substance originally used for people with PTSD</li>
<li><strong><i>Medical cannabis (marijuana)</i></strong>: although clinical research in humans is not available, THC and CBD have been shown in animal models to be beneficial.</li>
<li><strong><i>Psychedelics</i></strong> such as LSD and psilocybin (the psychoactive ingredient in mushrooms) are under study. Participants are closely monitored.</li>
</ul>
<h3>Brain Stimulation Therapies</h3>
<ul>
<li style="font-weight: 400;"><strong>Electroconvulsive Therapy (ECT) </strong> For treatment-resistant depression and severe depression, ECT involves transmitting shor t electrical impulses into the brain.</li>
<li style="font-weight: 400;"><strong>Repetitive Transcranial Magnetic Stimulation (rTMS)</strong> is brain stimulation similar to ECT, but it uses a magnet instead of electrical current.</li>
<li style="font-weight: 400;"><strong>Vagus Nerve Stimulation (VNS)</strong> is a treatment for major depressive disorder and treatment-resistant depression.</li>
<li style="font-weight: 400;"><strong>Deep Brain Stimulation (DBS)</strong><b>,</b> first approved for Parkinson’s, provides pulses of electricity from an implanted battery pack. It is approved to treat OCD but its use in depression remains experimental.</li>
</ul>

<h2>Treating Depression with Therapy</h2>
<p>There are 3 common types of therapy available that have good track records for treating depression:</p>
<ul>
<li style="font-weight: 400;"><strong>Cognitive Behavioral Therapy (CBT) </strong> helps assess and change negative thinking patterns associated with depression. The patient can learn coping strategies by recognizing negative thoughts. This is a structured therapy that is often limited to a certain number of visits, possibly 8-16 sessions.</li>
<li style="font-weight: 400;"><strong>Psychodynamic Therapy</strong> encourages the patient to look at negative behaviors and try to recognize and then change them. Its theory is that bad patterns and feelings are rooted in past experiences, which the therapist works with the patient and tries to tap the unconscious processes that have led to problems and then to help change them.</li>
<li style="font-weight: 400;"><strong>Interpersonal Therapy (IPT)</strong> looks at personal relationships and encourages the patient to make changes in life. The focus is to learn from the therapist how to improve problems and how to evaluate interactions to improve how they relate to others.</li>
</ul>
<h2>Treating Depression with Changes in Lifestyle</h2>
<p>Changes in lifestyle and ridding yourself of old, unhealthy habits may be the most challenging part of treating your own depression. Here are some ways to improve your outlook:</p>
<ul>
<li><strong>Find a meaningful purpose in your life.</strong> Having a strong sense of purpose offers a buffer against inevitable setbacks and obstacles. Activities that connect you with something greater—pursuing a college degree or mastering a challenging task —can not only provide a goal to work toward but a healthy and meaningful distraction.</li>
<li><strong>Cultivate social support.</strong> Personal connections with others (friends, family members, neighbors, etc.) provide many people with a reason to get up in the morning. Strong relationships help reduce isolation and loneliness. Join a class, make phone calls to people you’ve lost touch with, volunteer in a food kitchen or animal shelter, adopt a pet, and maintain contact with family and friends.</li>
<li><strong>Develop coping skills to help reduce stress.</strong> Identifying what causes stress and avoiding those situations can help. Learning relaxation techniques in unavoidably-difficult settings (for example, family gatherings) will make a person less subject to depression</li>
<li><strong>Get a sufficient amount of restorative sleep</strong>. The importance of quality, restorative sleep cannot be overstated. It helps maintain the brain’s function. Without adequate sleep, people are more likely to have negative thoughts and anxiety, leading to depression.</li>
<li><strong>Make sure you move, every day. </strong>Regular engagement in physical activity —even a small amount—can make a big impact Exercise not only boosts self-confidence but improves social connections, and increases self-esteem.</li>
<li><strong>Eat clean. </strong>A diet that includes plenty of fresh whole foods, staying hydrated by consuming water throughout the day, cutting out sugary beverages and heavily-processed food reducing caffeine and alcohol consumption can go a long way toward improving your mood.</li>
<li><strong>Stay motivated</strong> to make difficult lifestyle changes by rewarding yourselfoccasionally with things you enjoy. Negative attitudes deplete chemicals in the brain that create contentment. Negativity also damages the immune system and upsets the body’s hormonal balance.</li>
</ul>



{%endblock%}