
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'D:\Project\YourPsy\static\clip.css' %}">   
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
   
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <div><br>
        <h1 class="title" style="font-family:Arial, Helvetica, sans-serif;text-align: center;">Personality Types</h1>
               
                
      <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\intj.png' %}" width="300px" height="300px">
                        
            </div>
            <div class="content">
                <h2>Architect<br>(INTJ)</h2>
                <p>Imaginative and strategic thinkers, with a plan for everything.</p>
            
                <a href="intji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\intp.png' %}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Logician<br>(INTP)</h2>
                <p>Innovative inventors with an unquenchable thirst for knowledge.</p>
                <a href="intpi">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\entj.png' %}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Commander<br>ENTJ</h2>
                <p>Bold, imaginative and strong-willed leaders, always finding a way or making one.</p>
                <a href="entji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\entp.png' %}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Debator<br>(ENTP)</h2>
                <p>Smart and curious thinkers who cannot resist an intellectual challenge.</p>
                <a href="entpi">Read More</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\infj.png '%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Advocate<br>(INFJ)</h2>
                <p>Quiet and mystical, yet vary inspiring and tireless idealist.</p>
                <a href="infji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\infp.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Mediator<br>(INFP)</h2>
                <p>Poetic, kind and altruistic people, always eager to help a good cause.</p>
                <a href="infpi">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\enfj.png '%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Protagnist<br>(ENFJ)</h2>
                <p>Charismatic and inspiring leaders, able to mesmerize their listeners.</p>
                <a href="enfji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\enfp.png '%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Campaigner<br>(ENFP)</h2>
                <p>Enthusiastic, creative and sociable free spirits, who can always find a reason to smile.</p>
                <a href="enfpi">Read More</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\istj.png '%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Logistician<br>(ISTJ)</h2>
                <p>Practical and fact-minded individuals, whose reliability cannot be doubted.</p>
                <a href="istji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\isfj.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Defender<br>(ISFJ)</h2>
                <p>Very dedicated and warm protectors, always ready to defend their loved ones.</p>
                <a href="isfji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\estj.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Executive<br>(ESTJ)</h2>
                <p>Excellent administrators, unsurpassed at managing things or people.</p>
                <a href="estji">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\esfj.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Consul<br>(ESFj)</h2>
                <p>Extraordinarily caring, social and popular people, always eager to help.</p>
                <a href="esfji">Read More</a>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\istp.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Virtuso<br>(ISTP)</h2>
                <p>Bold and practical experimenters, masters of all kind of tools.</p>
                <a href="istpi">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\isfp.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Adventurer<br>(ISFP)</h2>
                <p>FLexible and charming artists, always ready to explore and experience something new.</p>
                <a href="isfpi">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\estp.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Entreprenure<br>(ESTP)</h2>
                <p>Smart, energetic and very perceptive poeple, who truly enjoy living on the edge.</p>
                <a href="estpi">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'D:\Project\YourPsy\static\esfp.png'%}" width="300px" height="300px">
            </div>
            <div class="content">
                <h2>Entertainer<br>(ESFP)</h2>
                <p>Spontaneous, energetic and enthusiastic people - life is never boring around them.</p>
                <a href="esfpi">Read More</a>
            </div>
        </div>
    </div>
        
    
</body>
</html>