{%extends 'base.html'%}

{%block navigation%}
<a href="mbtiintro">Introduction</a><br><br>
        <br><a href="details1">Test</a><br><br>
        <br><a href="flip">Explore</a><br><br>
{%endblock%}

{%block data%}
{%load static%}
<h1>Myers Briggs Personality Test</h1><br><br>
<p>The <strong>Myers–Briggs Type Indicator (MBTI)</strong> is an introspective self-report questionnaire indicating differing psychological preferences in how people perceive the world and make decisions.</p>
<p>The original versions of the MBTI were constructed by two Americans, Katharine Cook Briggs and her daughter Isabel Briggs Myers. The MBTI is based on the conceptual theory proposed by Swiss psychiatrist Carl Jung, who had speculated that people experience the world using four principal psychological functions – sensation, intuition, feeling, and thinking – and that one of these four functions is dominant for a person most of the time. The four categories are Introversion/Extraversion, Sensing/Intuition, Thinking/Feeling, Judging/Perception. Each person is said to have one preferred quality from each category, producing 16 unique types. Most of the research supporting the MBTI's validity has been produced by the Centre for Applications of Psychological Type, an organization run by the Myers-Briggs Foundation, and published in the Centre's own journal, the Journal of Psychological Type, raising questions of independence, bias, and conflict of interest. </p>
<p>The MBTI was constructed for normal populations and emphasizes the value of naturally occurring differences. "The underlying assumption of the MBTI is that we all have specific preferences in the way we construe our experiences, and these preferences underlie our interests, needs, values, and motivation." </p>

{%endblock%}