{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfpi">Introduction</a><br>
<br><a href="esfps">Strengths & Weakness</a><br>
<br><a href="esfpc">Career</a><br>
<br><a href="esfpw">Workplace Habits</a><br>
<br><a href="esfpr">Romance</a><br>
<br><a href="esfpf">Friendship</a><br>
<br><a href="esfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Workplace Habits</h1>
<p>Regardless of what position Entertainers find themselves in at work, they share a desire to make the environment as friendly and enjoyable as possible. People with the Entertainer personality type are able to take a social and relaxed attitude and use it to get everyone else on board with practical tasks that just need to get done. The more freedom Entertainers have to meet these needs, the better the results, so long as they know what the goal is, and there’s hardly a better personality type to have around in a dynamic, hectic work environment.</p>
 
<br><h3>Entertainer Subordinates</h3>
<p>As subordinates, Entertainers thrive on change and new ideas, and loathe repetitive and strictly defined tasks. Entertainer personalities’ managers find willing and able experimenters who can brainstorm, quickly grasp new methods, and actually put those methods to practical use – so long as Entertainers have a little leeway apply their own creative style. Changes may take a few tries though, as Entertainers can be forgetful in the heat of the moment, and can get more caught up in trying to get quick returns.</p>
<p>Entertainers give honest feedback on whether things make sense, but are quite sensitive to others’ criticism of their own habits. Under fire, people with this personality type (especially Turbulent ones) become defensive and are easily upset. But in the end, if they believe that the criticism comes from an honest intent to help, not hurt, Entertainers take it to heart. The biggest struggle for Entertainers in subordinate positions is that they value freedom and independence far more than safety and security – if their conditions aren’t met, they’re as likely to leave as make do.</p>
<br><h3>Entertainer Colleagues</h3>
<p>If anyone can make friends with their colleagues and keep tension at bay within their team, it’s Entertainers. A fun atmosphere is important, and people with the Entertainer personality type use their strong observational and social skills to bring everyone together, shifting a souring mood if need be. Entertainers rarely want for ideas on how to make this happen, happily organizing events and activities inside and outside the workplace. Entertainers’ spontaneity, wit, and enthusiasm have no equal.</p>
<br><h3>Entertainer Managers</h3>
<p>As managers, Entertainers do everything they can to pump energy and fun into the day-to-day work that needs to be done. Entertainer personalities enjoy being the center of attention, and even more so to feel like they’re needed and appreciated. Jumping into the thick of the work and applying themselves to anything they’d ask their subordinates to do is something Entertainers consider part of the job. Authority and social status are secondary to feeling like they’re an important part of a team that gets the job done.</p>
<p>Entertainers are great at noticing others’ moods, and there are few personality types better at preventing conflict and encouraging relaxed, enjoyable workplaces. Subordinates are always welcome to speak their minds, and people with this personality type are always happy to hear others out, especially if something is upsetting them. Entertainers’ ability to relate to others and think on their feet makes them resourceful and inspiring leaders.</p>


{%endblock%}





