{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfpi">Introduction</a><br>
<br><a href="esfps">Strengths & Weakness</a><br>
<br><a href="esfpc">Career</a><br>
<br><a href="esfpw">Workplace Habits</a><br>
<br><a href="esfpr">Romance</a><br>
<br><a href="esfpf">Friendship</a><br>
<br><a href="esfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Romantic Relationships</h1>
<p>Entertainers are social, fun-loving, free-spirited people who live life in the moment and squeeze every little bit of excitement from everything. Naturally, they don’t spare any of this freshness and energy when dating. For people with the Entertainer personality type, relationships aren’t about slowly building foundations for the future, or planning out a life – they are bubbling, unpredictable things to be enjoyed for as long as there’s enjoyment to be had.</p>
<br><h3>Here Today, Gone Tomorrow</h3>
<p>Of course, when that enjoyment does burn out, it’s gone. Entertainers reevaluate their situations and commitments constantly, regardless of professions of love and dedication today. If a week later they just don’t feel the same, that’s it, and Entertainer personalities have no problem seriously considering breaking things off. While Entertainers can be willing to work on their relationships rather than swap them out, it takes a great deal of maturity and experience for them to realize that it can be worth the bother.</p>
<p>While they do last though, relationships with Entertainers are simply unforgettable. People with this personality type always have some new and exciting activity up their sleeves, and they genuinely enjoy spending each moment with their partners. Entertainers enjoy physical intimacy immensely, and they prove themselves affectionate, inquisitive, and open-minded lovers who love to share pleasure with willing and reciprocative partners.
 
Conversation with Entertainers is similar, focusing on fun, sometimes quirky subjects rather than deep, soul-searching expressions. The past and the future, the sciences and politics, and long-term plans and commitments are all routinely ignored by Entertainer personalities. They slow things down and add too much weight to Entertainers’ freewheeling style.</p>
<p>Highly emotional people, and sensitive, Entertainers respond poorly to outside “suggestions” on how to manage their love lives. They respond even worse if criticisms come from their partners, and trying to take emotions out of the picture by telling Entertainers to “not take this personally” isn’t helpful either. Handling these situations better is a definite area for improvement for Entertainers, as there are entire dating strategies (pretty distasteful, manipulative ones) that revolve around exploiting this very trait.
On the other hand, the issue can be a lack of criticism at all. Entertainers value social input a lot, and are almost as affected by their friends’ opinions of their dating partners as their own. Since Entertainers are attracted to people who share their attitudes, whether dating partners or friends, this can leave them in an echo chamber that only tells them what they want to hear, reinforcing immature behaviors. </p>
<br><h3>Just Trying to Find Somebody to Love</h3>
<p>All of these tendencies can really come back to haunt people with the Entertainer personality type later on. Entertainers’ tendency to avoid promises and commitments and jump from partner to partner sabotages necessary long-term goals like retirement planning. Building real relationships takes time and conscious effort.
Luckily, Entertainers are incredibly likeable people who enjoy life’s small pleasures, and hardly want for diversity in their partners. Enthusiastic and affectionate, with a pure and down-to-earth love that just takes things at face value, Entertainers are fortunate that they take the time to find someone they truly enjoy being with every day, rather than settling too soon for stability over happiness, only to lose both.</p>


{%endblock%}





