{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfpi">Introduction</a><br>
<br><a href="esfps">Strengths & Weakness</a><br>
<br><a href="esfpc">Career</a><br>
<br><a href="esfpw">Workplace Habits</a><br>
<br><a href="esfpr">Romance</a><br>
<br><a href="esfpf">Friendship</a><br>
<br><a href="esfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Parenthood</h1>
<p>Entertainers are some of the most relaxed, fun-loving parents out there. Playing with children is a genuine pleasure for them, and people with the Entertainer personality type constantly devise new and exciting ways to enjoy their time with their children. From the first moment they hold their babies, Entertainers are taken with the joy and wonder that their children experience in everything around them, and share and encourage it as much as possible.</p>
 
<br><h3>They Who Are Brave Are Free</h3>
<p>Exploration and experiences are key philosophies for Entertainer parents – when their children ask questions, the answer is “Let’s find out!” Overbearing structures and tightly scheduled activities aren’t a big part of Entertainer personalities’ parenting. They’d much rather take things day by day and break up the crust by letting their children explore something new in their own way, something much appreciated by Entertainers’ children.</p>
<p>Discipline is far from their strongest suit, but hindsight and maturity have their effects, and Entertainers are often keen to prevent their children from suffering the same hurts and setbacks they themselves experienced. People with the Entertainer personality type are quite sensitive themselves, and expect their children to be respectful and considerate with what rules there are, a point of contention through the teenage years.</p>
<p>Entertainers always keep up their end of the bargain though, providing plenty of emotional support. While not especially demanding parents, warm affection and a sense of practicality give Entertainer personalities a very nurturing and encouraging parenting style, filling the gap nicely. When their children declare themselves future astronauts, Entertainers happily build make-believe spaceships, and later use those declarations to help their children focus on their schoolwork and goals. After all, successful astronauts need to know their math!</p>


{%endblock%}





