{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfpi">Introduction</a><br>
<br><a href="esfps">Strengths & Weakness</a><br>
<br><a href="esfpc">Career</a><br>
<br><a href="esfpw">Workplace Habits</a><br>
<br><a href="esfpr">Romance</a><br>
<br><a href="esfpf">Friendship</a><br>
<br><a href="esfpp">Parenthood</a><br>
{%endblock%}

{%block data%}

<h1>Friendships</h1>
<p>Entertainers are known for their irrepressibly social and excited attitudes. They don’t internalize much of anything, sharing it all with their extensive circles of friends with wit, style, enthusiasm, and optimism. Entertainers are explorers of the pleasures of life, and they take particular pleasure in sharing those experiences with others. For Entertainers, there’s no point in living if you can’t feel alive.</p>
 
<br><h3>Better Be Totally Ridiculous Than Totally Boring</h3>
<p>Entertainers are people of action. Getting out with activities that engage all five senses is Entertainer personalities’ idea of a good time. Sometimes though, Entertainers may go too far with risky or careless behaviors, and try to bring others along for the ride. People with this personality type are sensitive, and rejecting these pastimes can be taken personally, ending friendships then and there. Entertainers don’t have time to be lectured.</p>
<p>Making new friends isn’t a problem for Entertainers though – they use an alluring combination of blunt truths and disarming openness and charm to keep things moving. Where Entertainer personalities falter is in keeping the friends they already have. In their excitement and focus on here and now over history, Entertainers too easily exhaust the adventure one person has to offer, moving on once one person’s novelty has worn off.</p>
<p>This can all give the impression that Entertainers are shallow, pleasure-centric creatures who care little for anyone but themselves. This is a terrible misunderstanding, and far from the truth, but nevertheless makes friendships with Intuitive (N) personality types challenging. Entertainers care sincerely about their friends – it’s why they put so much effort into coming up with group experiences they believe everyone will enjoy – and they are deeply distressed by the occasional conflicts that end these relationships.</p>
<p>Novelty is king for people with the Entertainer personality type, and there’s only so much diversity among fellow Explorer types. Entertainers love touching on intellectual and philosophical subjects, and they seek out a diversity of personality types and perspectives to keep among their friends. But as these friends grind into the details of some esoteric topic about the long-term consequences of faltering European economic output, Entertainers inevitably find their minds wandering, hoping for someone to rush up and say “Guess what just happened!”</p>

{%endblock%}





