{%extends 'base.html'%}

{% block image %}
{% load static %}
<img src="{% static 'D:\Project\YourPsy\static\esfp.png' %}" width="120px" height="120px"><br>
{%endblock%}

{%block navigation%}
<br><a href="esfpi">Introduction</a><br>
<br><a href="esfps">Strengths & Weakness</a><br>
<br><a href="esfpc">Career</a><br>
<br><a href="esfpw">Workplace Habits</a><br>
<br><a href="esfpr">Romance</a><br>
<br><a href="esfpf">Friendship</a><br>
<br><a href="esfpp">Parenthood</a><br>
{%endblock%}

{%block data%}
<h1>Career Paths</h1>
<p>Entertainers have a unique quality that makes them exceptional in some careers, and miserable in others – they mirror the mood around them. When people with the Entertainer personality type are at a party or concert, they reflect that mood, giving them that “party people” image. When their friends are sad, they mirror that with sympathy and empathy. And when there is a crisis, Entertainers adapt as well, matching the intensity of the situation.</p>
<br><h3>Trying to Find Yourself...</h3>
<p>As a result, just about any career that focuses on working with others is a good fit, and is even essential for Entertainers to be happy and productive. Entertainer personalities are natural event planners, sales representatives, trip planners, and tour guides, as each of these creates a sense of excitement, stimulation, and novelty between them and their customers.</p>
 
<p>Entertainers genuinely enjoy spending time with others and getting to know them, and have a knack for making people happy, even in the most frustrating situations. A good challenge is always appreciated by Entertainer personalities, and they make wonderful and inspiring counselors, social workers, personal coaches, and consultants who improve employee or customer satisfaction.</p>
<p>With their ability to respond with resourcefulness and passion when their help is badly needed, Entertainers make brilliant medical professionals, especially as EMTs, paramedics, and nurses. They quickly pick up information about others, helping them get straight to the heart of the issue when dealing with the sick or injured. Entertainers thrive on intense emotion, and there’s hardly a better place for it.</p>
<p>Not everybody has the energy for that though, or wants the responsibility of life and death – some Entertainers prefer to make people happy and excited by creating beauty instead. People with this personality type have plenty of creative energy, and many build fulfilling careers in music, fashion, photography, and interior design. With the best aesthetic sense of any personality type, Entertainers are renowned for their sense of style.</p>
<br><h3>...Isn’t Always Easy</h3>
<p>However, jobs that eliminate human contact and focus on impartial, data-driven decisions are torturous to Entertainers. Some Entertainer personalities do well enough by blowing off steam with friends after work, but for the most part, careers like technical writing or data analysis are poor fits. Add Entertainers’ loathing for schedules, structures, and repetition, and nine-to-five administrative work is quickly sent to the “nope” bin.</p>
<p>Regardless of where their diverse passions lie, Entertainers need freedom, novelty, and above all, human contact. People with the Entertainer personality type need to know that they aren’t just appreciated, though that is very important, but liked. When Entertainers come in to work, they want to see a touch of chaos, and to navigate it with a crack team of capable friends who are all too happy to take action by their sides.</p>
<b>Event Planner</b>
<p>Event planners organize the logistics for social functions, such as parties and gatherings. ESFPs have an eye for what looks good and can use this, along with their people skills, to help individuals and companies bring their celebrations to life. They also have keen observation skills that event planners use to define details and monitor the event budget.</p>
<b>Life Skills Coach</b>
<p>ESFPs can be successful in teaching people how to live well and be productive because their personalities are characterized by a love for life. Their unique ability to find the silver lining in difficult situations come in handy in this role. Life skills coaches provide support with daily tasks, promote skill-building, and maintain client records.</p>
<b>Sales Representative</b>
<p>Securing a sales representative role could be a wise career choice for an ESFP. Individuals in this role must be sociable and observant. In addition, he or she must be passionate about the product or service they are selling and be enthusiastic about meeting the needs of potential customers. ESFPs are especially good at this, often desiring to create solutions.</p>
<b>Entrepreneur</b>
<p>Entrepreneurship is not for everyone, but a vocation test would reveal that it is a strong ESFP career match. People skills are key, and an optimistic attitude is necessary when enduring the highs and lows of starting a business. ESFPs possess these qualities, in addition to being practical team players who can turn simple ideas into timely, measurable plans.</p>
<b>Tour Guide</b>
<p>Seeking out adventure is a part of work as a tour guide. Luckily for ESFPs, this is not only a duty, but a way of life. Successful tour guides must be comfortable speaking in front of an audience, providing detailed information, and having fun at work! ESFPs are apt at this, maintaining a pleasant attitude when the itinerary changes with little notice.</p>
<b>Flight Attendant</b>
<p>Most people see flight attendants as cheerful, accommodating, and adventurous. Flight attendants get to travel often and experience the kinds of journeys that ESFPs live for, making it one of the best ESFP careers! The warm, hopeful disposition that ESFPs often have is calming to passengers and encouraging during unexpected delays and long layovers.</p>
<b>Admissions Counselor</b>
<p>Admissions counselors assist with onboarding students at schools and universities, helping them become oriented to the college experience. This type of counselor would get to interact frequently with students, parents, and other members of the campus community. Not to mention, a college campus is a prime work environment for ESFPs, igniting their fun-loving, good-natured personality traits.</p>
<b> Theater Instructor</b>
<p>Theater instructors facilitate stage productions and provide support and guidance to budding artists, making this one of the most fitting careers for extroverts. ESFPs rarely find pleasure in roles that are isolating, so this role is appropriate as there is always entertainment nearby.  ESFPs are natural performers so any role in the performing arts industry will be a good fit.  </p>

<b>Cosmetologist</b>
<p>Cosmetologists are trained to find the beauty in all things. They work to create an aesthetic that is suited to the client and current beauty trends. Cosmetologists can become licensed to enhance client’s beauty. Working with clients of varying backgrounds helps to satisfy the ESFPs need for diversity in their work and a new challenge at every turn.</p>
<b>Public Relations Associate</b>
<p>This is a prime career choice for ESFPs because it requires frequent interaction with others. Public relations associates usually serve as the face of an organization, but ESFPs can handle this kind of pressure. Tasks include producing marketing materials, conducting research, and maintaining the organization’s public image. ESFPs will enjoy the high-energy environment in this optimal career for extroverts.</p>


{%endblock%}





